<li onclick="if(this.querySelector('.material-icons').innerText == 'keyboard_arrow_up'){console.log('Hi there');this.querySelector('.material-icons').innerText = 'keyboard_arrow_down'}else{this.querySelector('.material-icons').innerText = 'keyboard_arrow_up'}" style="">
  div(class="collapsible-header row rh white-text flow-text z-depth-2" style="margin-bottom:5px; background-color:#4f4f5f63; border:none")
    div(class="col s4" style="word-break:break-word;")= val.name
    div(class="col s5")= moment(val.start).format('MMMM Do YYYY')
    div(class="col s2 chip blue-grey darken-2 white-text")= val.description.event
    div(class="col s1")
      i(class="material-icons")= val.icon
    //- img(src=val.description.info, alt="" cl)
<div class="collapsible-body" style="background-color:#4f4f5f63">
    <span class="white-text" style="background-color:#4f4f5f63">
      h5= val.name
      hr
      p Speaker : #{val.description.speaker}
      if val.description.info != '...'
        img(src=val.description.info alt="Invalid Image ?" class="responsive-img" onclick="window.open('"+val.description.info+"')" )
      hr
      p 
        u About the Speaker
      p #{val.description.speakerInfo}
      hr
      p 
        u About the Talk
      p #{val.description.talkInfo}
      p Timings : #{moment( new Date(val.start).getTime() + 5.5*3600*1000 ).format('hh:mm:ss a')} - #{moment( new Date(val.end).getTime() + 5.5*3600*1000 ).format('hh:mm:ss a')}
      p
        unless val.link == '/'
          a(href='https://'+val.link target="_blank") Webinar Link :  #{val.link}

    </span>
</div>
</li>
