
  body {
    text-align: center;
    background-image: url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxAPEA0PEA8OEA8NDQ0PDw8PDQ8NDw8PFREWFhURFRUYHSggGBolGxUVITEhJSkrLi4uFx8zODMtNygtLisBCgoKDQ0NDg0NDjcZFRk3Ky0rKy0tKy0tKy0rKy0rLSsrKysrKysrKysrLSsrKys3KysrKysrKysrKysrKysrK//AABEIAIkBbwMBIgACEQEDEQH/xAAZAAEBAQEBAQAAAAAAAAAAAAAAAQIDBAf/xAAqEAEBAAEBBwQDAQADAQAAAAAAARECAxIhMVFxkUFhgbGhwfDRE+HxQv/EABYBAQEBAAAAAAAAAAAAAAAAAAABAv/EABQRAQAAAAAAAAAAAAAAAAAAAAD/2gAMAwEAAhEDEQA/APmgDbJUzyVmz8itBARZccf7Dq4m/iWePYVdWrjn0nCNadHXx/qbOSesz35Om9Os8goAgAAxr057z+w2A4Qa2mnHHz/rGq+gqAAAAAAAAEoA66Npnnz/ABXR5mtG0xz4z8g3tZyvww6853coA1p057ffsmmZ/brICue00Z4zn9ugI8w6bTR6z5cxR02N5z5c10XFgO9uOLj+29pfTpxv6YAAEAATe7m8gKu9P6FsQA06jeQBUUBowmloE3Z0huwAMd/NPm+aALm9b5M3rfwzdSAt2l65+Il02LojYOQ3Zjsm6DIuEAFAQUBBQEyZUAmrHJd7N6ZRKDvp1aZ6zy1vTrPLzgPRlXlwYB6nLaaPWfP+ufnyZvW+aAgoE1G+1s5nM+YWelBN72N72TBgF3u5vImQXBhQGRowCBgwCKgC6W3PLYKiXUgLdSAADeifkFkAEGbw7fTQKiFmO30CJuphoFYVqxN0EAAAARQEVIoAAASKCYLF6KCabiyu2rTlwsd9ncyA5WY4VHbVpy5WY4X/ANBAAAAAAAACxMoBRQAAAAF0zPw2SAAAgAAzZjt9NArKpZ4AABAsVBWd0aAZF3UwCKlUEWRZAD5PkBCKk9VFF2VxmdeSUkB3TVpy5S2cvFb07SdqDnZjhfPVHfVMuOqY/VBdWnHZlZw5ePRnIKJlAXKKAAAAAAANaJ6syZdAABAAAAAABmxoBkWxBQAQABUAFkzw8mvRjt9OmnTifaiuA1r047fTIgABP2ppKKfoARUAFls5eK3vS8L+XMFTiYPg+Aa2UlnGTLV2U9/Lnp+q7y54g53Ze/4S7K+307APPdF6fSWe18PSA8uVeixm7OdP0DiOt2U93OzF7cAa0zCpm/1N72oKJvLvTrAABAAAAAABLFAZUsQUFQQb2c9fH+syZ4eXYUAERy16cdvp2QHFGtenHb6Zoqzl8EAACceUtAGpovtPyt0ScbmgxlM+xj1/uwAEURJzb0XF9r9sVRXcZ2erPec/9aAAEAAZ16sT67uWGtdze32yKk6KWEoAAhg8+RRU49fwub7IAu97EuevhnVUlwDpvf3IXRtM8Lwv4aumdJ4Bgb3J/Wpue9/AMpZ/dW9y9Z4Tdvt5BgW6b0v4povrx8A6adOI05/8ntfwf8l6TyI6Dlv328JvXr9Cuw4/N81MCO1s6xw149OP9yXkzaK3p0Xp5amz63xwb03Ml6qDM0Sen7aABz2l9Pmt2uPv1ARpLASwVALFlQ0g1Ljj/YdY4t7O+nj/AAHQAQZ16sT6actdze3AVmQCdIILdFnHy6adOO/VoVwF1acdry/xBAUAS0Z1X8CooANaNpj3n5ZAeiXKvNLjk7aNpnuDYAg5a5x7urG0nDtxFcwBFQAAZtFLQAddjfTo6OGzuLPfg7gAlBja30+aymfXqACgiFVASE5peZOfkVooCOujVmfbTnsud+P26Cs69WJ9OUje1/8An5YoLpmf9ddMwmz5Ts0AACapng4/bu5bTn8fsGRQEtZNXoAAAAAAA3o2mOf/AG6yvO6bD17g6gA44xw6I1r5/E/bIAKCbtucf+su+z5Ts4Xne9AAAejTcyXq87tsuXn7Btz2t9PPZ0cdfO9oAioIAA//2Q==');
    
  }

  .hf {
    /* font-family: 'Monoton', cursive; */
    /* font-family:'Bebas Neue', cursive */
    font-family: 'Share'
  }

  .fs {
    font-family: 'Montserrat', sans-serif;
  }

  .centre {
    position: absolute;
    bottom: 10%;
  }

  html{
    scroll-behavior: smooth;
  }

  #abText{
    line-height: normal;
  }

