<!doctype html>
<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- favicon -->
	<link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">

        <!-- Bootstrap support -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

        <!-- itc avant garde font-->
        <link href="https://fonts.cdnfonts.com/css/itc-avant-garde-gothic-std-book" rel="stylesheet" type="text/css">

        <!-- Icon library -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

        <!-- custom Pravega stylesheets-->
        <link href="/static/pub_styling/pravega_navbar.css" rel="stylesheet">
        <link href="/static/pub_styling/Pravega_footer.css" rel="stylesheet">
        <link href="/static/pub_styling/pravega_general.css" rel="stylesheet">
        <link href="/static/pub_styling/pravega_social.css" rel="stylesheet">
        <link href="/static/pub_styling/pravega_slider.css" rel="stylesheet">
        <link href="/static/pub_styling/pravega_events.css" rel="stylesheet">
        <link href="/static/pub_styling/pravega_index.css" rel="stylesheet">
	<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

        <title>Pravega 2022 | IISc UG Fest </title>


    </head>

    <body>

        <header>

            <!-- Pravega. Navbar-->
            <nav class="navbar navbar-expand-md navbar-dark justify-content-center fixed-top nav-pravega-bg">


                <div class="container-fluid">
                    <a class="navbar-brand nav-pravega-logo" href="/">
                        <img src="/static/pub_assets/pravega_logo_bw.png" alt="Pravega Logo" style="width: 200px; height: auto;">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="collapsibleNavbar">
                        <ul class="navbar-nav nav-pravega-position">
                            <li class="nav-item nav-pravega-font">
                                <a class="nav-link active" aria-current="page" href="/">Home</a>
                            </li>
                            <li class="nav-item nav-pravega-font">
                                <a class="nav-link" href="/#events">Events</a>
                            </li>
                            <li class="nav-item nav-pravega-font">
                                <a class="nav-link" href="/#contactus">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

        </header>

        <!-- Home page -->
        <div class="container-fluid">
            <p><br><br></p>
        </div>

        <!-- page1 -->
        <div class="container-fluid index1">
            <p><br><br></p>
	    <div class="align-top">
                    <img src="/static/pub_assets/pravega white logo-06.png" class="img-fluid mx-auto d-block" id="logo1" alt="pravega logo" width="90%">
	    </div>
            <p><br><br></p>
	    <div class="align-items-center" style="text-align: center; font-family: 'Lato', sans-serif;">
		    <h3>
		    Get your pronites passes today
		    </h3>
	    </div>
	    	<div class="align-bottom align-items-center text-center" style"vertical-align:bottom; bottom:5%;" id="logo2" >
                    <img src="/static/pub_assets/tagline.png" class="img-fluid mx-auto d-block"  alt="pravega tagline" style="max-width:900px;" width="90%">
		</div>
        </div>
        <div class="container-fluid">
            <p><br><br><br><br><br><br></p>
        </div>
        <!-- page2 -->
        <div class="container-fluid" id="aboutiisc">
            <div class="row align-items-center">
                <div class="col-sm-6 order-sm-2">
                    <img src="/static/pub_assets/IISc Linesketch.png" class="img-fluid mx-auto d-block" alt="IISc linesketch" width="80%">
                    <p><br></p>
                </div>
                <div class="col-sm-6 order-sm-1">
                    <div class="text-margin-left">
                        <h4 class="top-phrase badge bg-warning">About IISc</h4>
                        <p>
			Indian Institute of Science is an esteemed public institute for research and
			higher education in science and engineering. IISc was established in 1909 and
			claims a large, green campus in Bangalore, Karnataka. It continues to remain
			one of the best institutes in the world for scientific research. It was ranked
			first in the NIRF rankings for four consecutive years and as of 2022, is in the
			top 200 list of the QS rankings. The UG course with a heavy emphasis on an
			interdisciplinary syllabus was introduced in 2011. With its distinctive
			heritage, skilled community and past and present research projects, IISc has
			been an active contributor to the fields of science and engineering.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <p><br><br><br><br><br><br><br><br></p>
        </div>

        <!-- page3 -->
        <section class="events-section" id="events">
            <div class="container-sm">
                <p><br><br><br><br></p>
                <div class="row align-items-center">
                    <!-- Scitech -->
                    <div class="col">
                        <div class="card career-card-custom-round">
                            <img class="card-img-top img-fluid mx-auto d-block career-image" src="/static/pub_assets/scitech.png" alt="scitech card image" style="width:175px">
                            <div class="card-body">
                                <h4 class="text-center card-title">SCITECH</h4>
                                <p><br></p>
                                <div class="text-center">
                                    <a href="/scitech" class="btn event-btn">Curious?</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- cultural -->
                    <div class="col">
                        <div class="card career-card-custom-round">
                            <img class="card-img-top img-fluid mx-auto d-block career-image" src="/static/pub_assets/cultural.png" alt="culturals card image" style="width:195px">
                            <div class="card-body">
                                <h4 class="text-center card-title">CULTURAL</h4>
                                <p><br></p>
                                <div class="text-center">
                                    <a href="/culturals" class="btn event-btn">Join In!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- workshops -->
                    <div class="col">
                        <div class="card career-card-custom-round">
                            <img class="card-img-top img-fluid mx-auto d-block career-image" src="/static/pub_assets/workshops.png" alt="workshop card image" style="width:195px">
                            <div class="card-body">
                                <h4 class="text-center card-title">WORKSHOPS</h4>
                                <p><br></p>
                                <div class="text-center">
                                    <!-- add workshops link -->
                                    <a href="/workshops" class="btn event-btn">Take a peek</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <!-- recreational -->
                    <div class="col">
                        <div class="card career-card-custom-round">
                            <img class="card-img-top img-fluid mx-auto d-block career-image" src="/static/img/recreational/gaming_privilaged.png" alt="workshop card image" style="width:195px">
                            <div class="card-body">
                                <h4 class="text-center card-title">RECREATIONAL</h4>
                                <p><br></p>
                                <div class="text-center">
                                    <!-- add workshops link -->
                                    <a href="/recreational" class="btn event-btn">Hop On</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- pronites -->
                    <div class="col">
                        <div class="card career-card-custom-round">
                            <img class="card-img-top img-fluid mx-auto d-block career-image" src="/static/pub_assets/vlogo.png" alt="workshop card image" style="width:195px">
                            <div class="card-body">
                                <h4 class="text-center card-title">PRONITES</h4>
                                <p><br></p>
                                <div class="text-center">
                                    <!-- add workshops link -->
                                    <a  class="btn event-btn">Coming soon</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- merchendise -->
                    <div class="col">
                        <div class="card career-card-custom-round">
                            <img class="card-img-top img-fluid mx-auto d-block career-image" src="/static/pub_assets/vlogo.png" alt="workshop card image" style="width:195px">
                            <div class="card-body">
                                <h4 class="text-center card-title">MERCHANDISE</h4>
                                <p><br></p>
                                <div class="text-center">
                                    <!-- add workshops link -->
                                    <a  class="btn event-btn">Coming soon</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p><br><br></p>
            </div>
        </section>


        <!-- page4 -->
        <!-- Slider -->

	<div class="container-fluid">
		<div class="swiper mySwiper">
		<div class="swiper-wrapper">
			<div class="swiper-slide"><img src="/static/pub_assets/slider1.png" alt="Slide 1"></div>
			<div class="swiper-slide"><img src="/static/pub_assets/slider2.png" alt="Slide 2"></div>
			<div class="swiper-slide"><img src="/static/pub_assets/slider3.jpg" alt="Slide 3"></div>
			<div class="swiper-slide"><img src="/static/pub_assets/slider5.jpg" alt="Slide 5"></div>
			<div class="swiper-slide"><img src="/static/pub_assets/slider6.jpg" alt="Slide 6"></div>
			<div class="swiper-slide"><img src="/static/pub_assets/slider7.jpg" alt="Slide 7"></div>
			<div class="swiper-slide"><img src="/static/pub_assets/slider8.jpg" alt="Slide 8"></div>
		</div>
		<div class="swiper-button-next"></div>
		<div class="swiper-button-prev"></div>
		<div class="swiper-pagination"></div>
		</div>
	</div>






    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
      var swiper = new Swiper(".mySwiper", {
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: {
          delay: 2500,
          disableOnInteraction: false,
        },
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
    </script>

<section class="contactus-section">
    <div class="container-sm">
        <p><br></p>
        <div class="row align-items-center">
            <h1 class="text-center" id="contactus">Get in touch!</h1> <p class="text-center"> If you have any queries </p>
        </div>
        <p><br><br></p>
        <p><br><br></p>
        <div class="row align-items-center">
            <!-- Pratik -->
            <div class="col">
                <div class="card contact-card-custom-round">
                    <img class="card-img-top img-fluid mx-auto d-block career-image" src="/static/pub_assets/pratik.jpeg" alt="coming card image" style="width:175px">
                    <div class="card-body">
                        <h5 class="text-center">Pratik Bhowmik</h5>
                        <h6 class="text-center">iiscpravega@gmail.com</h6>
                    </div>
                </div>
            </div>
            <!-- Ekta -->
            <div class="col">
                <div class="card contact-card-custom-round">
                    <img class="card-img-top img-fluid mx-auto d-block career-image" src="/static/pub_assets/ekta.jpeg" alt="coming card image" style="width:175px">
                    <div class="card-body">
                        <h5 class="text-center">Ekta</h5>
                        <h6 class="text-center">iiscpravega@gmail.com</h6>
                    </div>
                </div>
            </div>
            <!-- Dikshant -->
            <div class="col">
                <div class="card contact-card-custom-round">
                    <img class="card-img-top img-fluid mx-auto d-block career-image" src="/static/pub_assets/dikshant.jpg" alt="coming card image" style="width:175px">
                    <div class="card-body">
                        <h5 class="text-center">Dikshant Afria</h5>
                        <h6 class="text-center">pravega@iisc.ac.in</h6>
                    </div>
                </div>
            </div>
            <!-- Souptik -->
            <div class="col">
                <div class="card contact-card-custom-round">
                    <img class="card-img-top img-fluid mx-auto d-block career-image" src="/static/pub_assets/souptik.png" alt="coming card image" style="width:175px">
                    <div class="card-body">
                        <h5 class="text-center">Souptik Dey</h5>
                        <h6 class="text-center">pravega@iisc.ac.in</h6>
                       </div>
                </div>
            </div>
        </div>
    </div>
</section>



        <footer>

            <!-- Pravega. bottom bar -->
            <div class="container-fluid footer-pravega-bg">
                <div class="row footer-pravega-margin">
                    <div class="col footer-pravega-col text-left">
                        <a href="">
                            <img src="/static/pub_assets/pravega_logo_bw.png" alt="Pravega 2022 Logo" style="width: 200px; height: auto; margin-bottom: 30px;">
                        </a>
                        <p class="footer-pravega-font" style="margin-left:7px;">&#169; copyright 2022 <br>All rights reserved.</p>
                    </div>
                    <div class="col footer-pravega-col text-left">
                        <p class="footer-pravega-font-special">Navigate</p>
                        <a class="footer-pravega-font" href="/">Home</a>
			<a class="footer-pravega-font" href="/#contactus"><br>Contact Us</a>
			<a class="footer-pravega-font" href="/aboutus"><br>About Us</a>
			<a class="footer-pravega-font" href="/refund"><br>Refund and Cancellation Policy</a>
			<a class="footer-pravega-font" href="/privacy"><br>Privacy Policy</a>
			<a class="footer-pravega-font" href="/terms"><br>Terms of service</a>
                    </div>
                    <div class="col footer-pravega-col-special text-left">
                        <p class="footer-pravega-font-special">Follow Us</p>
			<a class="fa fa-facebook" href="https://www.facebook.com/PravegaIISc/"></a>
                        <a class="fa fa-instagram" href="https://www.instagram.com/pravega.iisc" style="margin-left: 10px;"></a>
                        <a class="fa fa-twitter" href="https://www.twitter.com/Pravega_IISc" style="margin-left: 10px;"></a>
                        <a class="fa fa-youtube" href="https://www.youtube.com/channel/UCc-179ntmDu4l7i8LVbpYlQ" style="margin-left: 10px;"></a>
                    </div>
                </div>
            </div>

        </footer>
    </body>

</html>
