<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pravega 2022 | IISc Bangalore UG fest</title>

    <!-- Main css -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
	<link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

   <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Goldman&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
<script src="/static/scripts/navbar.js"></script>
</head>
<body>

	<div id="navbar">
		<a href="/"><img src="/static/img/logo.png" id="logo"></a>
<!--		<a href="/#sponsor" class="link">Sponsor Us</a>  -->
		<a href="/#contactus" class="link">Contact Us</a>	
		<a href="/#events" class="link">Events</a>
	</div>

<div class="indexitem1">
</div>

<div class="indexitem2" id="events">
	<div class="container">
<div class="outer">
<div class="middle">
	    <div class="row" id="eventspage">
			<div class="col l4 m4 s6 eventitems" >
				<a href='/scitech'>
				<div class="events">
					<img  class="gridimg" src='static/img/scitech.png'> <br>
					SCITECH
				</div>
				</a>
				</div>
				<div class="col l4 m4 s6 eventitems">
				<a href = '/workshops'>
				<div class="events">
				
					<img  class="gridimg" src='static/img/workshops.png'> <br>
					WORKSHOPS
				
				</div>
				</a>
				</div>
		    <div class="col l4 m4 s6 eventitems">
		<a>
			<div class="events">
			    <img class="gridimg" src='static/img/pronites.png'> <br>
			    PRONITES <br> (Coming Soon)
		    </div>
		</a>
		    </div>
		    <div class="col l4 m4 s6 eventitems">
		<a>
			<div class="events">
			    <img class="gridimg" src='static/img/cultural.png'> <br>
			     CULTURAL <br> (Coming Soon)
		    </div>
		</a>
		    </div>
		    <div class="col l4 m4 s6 eventitems">
		<a>
			<div class="events">
			    <img  class="gridimg" src='static/img/recreational.png'> <br>
			    RECREATIONAL <br> (Coming Soon)
		    </div>
		</a>
		    </div>
		    <div class="col l4 m4 s6 eventitems">
		<a>
			<div class="events">

			    <img  class="gridimg" src='static/img/merch.png'> <br>
			    MERCH <br> (Coming Soon)
		    </div>
		</a>
		    </div>
		    </div>
	    </div>
		</div>
	</div>
</div>

<div class="indexitem3" id="contactus">
    <div class="centered">
	<h3 align="center" id="queries">Do you have any queries? Feel free to reach out!</h3>
	<h3 align="center" id="queries">Do you have any queries? Feel free to reach out!</h3>
	<h3 align="center" id="queries">Do you have any queries? Feel free to reach out!</h3>
	<h3 align="center" id="queries">Do you have any queries? Feel free to reach out!</h3>


	<a align="center" href='mailto:pravega@pravega.org'>
		<button align="center" class="submit" id="mailus">
		Drop us an email
		</button>
	</a>

		</div>

	</div>

</div>
</div>


<!-- <div class="indexitem4" id="sponsor">
      <div class="centered2 box">
	      <a href="/files/PravegaBrochure.pdf">
	      <h1 style="font-family: 'Goldman', cursive; color: white" id="sponsorslubb"> Sponsor Us !! </h1>
	      </a>
      </div>
</div>




<div id="footer" class="row">
	<div class="col l6">
		<div class="footerleft">
		<h6>Pravega 2022</h6>
		<h6>The Biggest Science fest is Back</h6>
		</div>
	</div>
	<div class="col l6 ">
		<div class="col l3">
			<div class="footerbutton">
                    <a href="https://www.facebook.com/PravegaIISc/" class="fa fa-facebook sm-button"></a>
			</div>
		</div>
		<div class="col l3">
			<div class="footerbutton">
                    <a href="https://twitter.com/Pravega_IISc" class="fa fa-twitter sm-button"></a>
			</div>
		</div>
		<div class="col l3">
			<div class="footerbutton">
                    <a href="https://www.instagram.com/pravega.iisc/" class="fa fa-instagram sm-button"></a>
			</div>
		</div>
		<div class="col l3">
			<div class="footerbutton">
                    <a href="https://www.youtube.com/channel/UCc-179ntmDu4l7i8LVbpYlQ"
                        class="fa fa-youtube sm-button"></a>
			</div>
		</div>
	</div>
</div>
-->
</body>
</html>
