<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pravega 2022</title>

    <!-- Main css -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

   <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Goldman&display=swap" rel="stylesheet">

</head>
<body bgcolor="black">

<div id="navbar">
	<a href="/">
	<img src="{{ url_for('static', filename='img/logo.png') }}" height="100px" >
	</a>
	<div class="notimg">
		<a href="/" class="navbaritem">Events</a>
		<a href="/" class="navbaritem">Contact Us</a>
		<a href="/scitech" class="navbaritem">Sci Tech</a>
	</div>
</div>
</body>
</html>