<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">


	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Goldman&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Pangers&display=swap" rel="stylesheet">

        <!-- Bootstrap support -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

        <!-- itc avant garde font-->
        <link href="https://fonts.cdnfonts.com/css/itc-avant-garde-gothic-std-book" rel="stylesheet" type="text/css">

        <!-- Icon library -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

        <link href="/static/pub_styling/Pravega_footer.css" rel="stylesheet">
        <link href="/static/pub_styling/pravega_navbar.css" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/scitech/badstyle.css') }}">

    <title>Bad Ad Hoc Hypotheses | Sci-tech | Pravega 2022 | IISc Bangalore UG fest</title>


</head>

<body>
    <!-- Pravega. Navbar-->
<header>
    <nav class="navbar navbar-expand-md navbar-dark justify-content-center fixed-top nav-pravega-bg">
        <div class="container-fluid">
            <a class="navbar-brand nav-pravega-logo" href="/">
                <img src="/static/pub_assets/pravega_logo_bw.png" alt="Pravega Logo" style="width: 200px; height: auto;">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav nav-pravega-position">
                    <li class="nav-item nav-pravega-font">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item nav-pravega-font">
                        <a class="nav-link" href="/#events">Events</a>
                    </li>
                    <li class="nav-item nav-pravega-font">
                        <a class="nav-link" href="/#contactus">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</header>




<div class="container-fluid">
	<div class="row" style="margin-top:100px;">
		<div class="col-lg-9">
		<h1 id="heading" style="font-family: 'Bangers', cursive; color:red;">Bad Ad Hoc Hypotheses</h1>
		<h4 id="subheading">Celebrate logic or the lack of it!</h4>
		</div>

	</div>
	<div class="row" >
	<div class="col-lg-3 col-sm-6 order-sm-1">
		<div class="box">
			<h2 > Timeline </h2>
			<hr>
			<h5> Round 1</h5>
			<p>
			Registrations and Submissions accepted from 16<sup>th</sup> July to 6<sup>st</sup> August
			<br>
			Results: 2<sup>nd</sup> week of August
			</p>
			<h5> Round 2</h5>
			<p>
			3<sup>rd</sup> September 2022
			</p>
		</div>
		<div class="box">
			<h2 > Venue </h2>
			<hr>
			<h5> Round 1</h5>
			<p>
			Online
			</p>
			<h5> Round 2</h5>
			<p>
			IISc Campus
			</p>
		</div>
		<div class="box" id="registrationbox">
			<h2> Quick Links </h2><hr>
			<a>
				<div class="clickme submit">
					<h4 style="text-align:center; color:red;"> Register here<br>(Coming soon)</h4>
				</div>
			</a>
		</div>
	</div>
	<div class="box col-lg-9 col-sm-6 order-sm-2" id="main">
		<h2>Description</h2>
		<p>
		BAH involves participants coming up with an ad hoc hypotheses
		which is very evidently bad but presented to an audience in a
		logically consistent manner. This year would be the first
		offline edition of BAH and will involve participants presenting
		their ad hoc hypotheses before an audience followed by
		rebuttals. In the online preliminary round participants are
		required to provide a teaser video and a presentation advertising their
		hypothesis. Participants with the most interesting hypothesis
		will then be invited to IISc for the offline finals. For more
		details, refer to the <a >brochure(available in a few days)</a>
		</p>

		<h2>Registration fees: Rs.100/- </h2>
		<h2>Eligibility</h2>
		<p>
		10<sup>th</sup> graders and above
		</p>
		<h3> Prizes</h3>
		<p>
		Prize pool of 15k+, exciting trophies and more!!
		</p>
		<br>

		<h2> Coordinators </h2>
			<div class="contacts" style="border: 5px;">
				<h5 style="color:black;">
				Saakshi Porwal
				</h5>
				<img src="/static/mail.png" alt="email">
				<a href="mailto:saakship@iisc.ac.in" >saakship@iisc.ac.in</a>
			</div>
			<div class="contacts">
				<h5 style="color:black;">
				Shreeya Moghe
				</h5>
				<img src="/static/mail.png" alt="email">
				<a href="mailto:shreeyamoghe@iisc.ac.in" >shreeyamoghe@iisc.ac.in</a>
			</div>
	</div>

</div>
</div>
<p>
<br>
<br>
</p>
<footer>
    <!-- Pravega. bottom bar -->
    <div class="container-fluid footer-pravega-bg">
        <div class="row footer-pravega-margin">
            <div class="col footer-pravega-col text-left">
                <a href="/">
                    <img src="/static/pub_assets/pravega_logo_bw.png" alt="Pravega 2022 Logo" style="width: 200px; height: auto; margin-bottom: 30px;">
                </a>
                <p class="footer-pravega-font" style="margin-left:7px;">&#169; copyright 2022 <br>All rights reserved.</p>
            </div>
            <div class="col footer-pravega-col text-left">
                <p class="footer-pravega-font-special">Navigate</p>
                <a class="footer-pravega-font" href="/">Home</a>
		<a class="footer-pravega-font" href="/#contactus"><br>Contact Us</a>
		<a class="footer-pravega-font" href="/aboutus"><br>About Us</a>
		<a class="footer-pravega-font" href="/refund"><br>Refund and Cancellation Policy</a>
		<a class="footer-pravega-font" href="/privacy"><br>Privacy Policy</a>
		<a class="footer-pravega-font" href="/terms"><br>Terms of service</a>
            </div>
            <div class="col footer-pravega-col-special text-left">
                <p class="footer-pravega-font-special">Follow Us</p>
		<a class="fa fa-facebook" href="https://www.facebook.com/PravegaIISc/"></a>
                <a class="fa fa-instagram" href="https://www.instagram.com/pravega.iisc" style="margin-left: 10px;"></a>
                <a class="fa fa-twitter" href="https://www.twitter.com/Pravega_IISc" style="margin-left: 10px;"></a>
                <a class="fa fa-youtube" href="https://www.youtube.com/channel/UCc-179ntmDu4l7i8LVbpYlQ" style="margin-left: 10px;"></a>
            </div>
        </div>
    </div>

</footer>
</body>
</html>
