<!doctype html>
<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- favicon -->
	<link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">

        <!-- Bootstrap support -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

        <!-- itc avant garde font-->
        <link href="https://fonts.cdnfonts.com/css/itc-avant-garde-gothic-std-book" rel="stylesheet" type="text/css">

        <!-- Icon library -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">



        <link href="/static/pub_styling/scitech/menu.css" rel="stylesheet">
        <link href="/static/pub_styling/Pravega_footer.css" rel="stylesheet">
        <link href="/static/pub_styling/pravega_navbar.css" rel="stylesheet">

        <title>Chemenigma | Pravega 2022</title>
    </head>

    <body>

        <header>

            <!-- pravega Navbar-->
            <nav class="navbar navbar-expand-md navbar-dark justify-content-center fixed-top nav-pravega-bg">


                <div class="container-fluid">
                    <a class="navbar-brand nav-pravega-logo" href="/">
                        <img src="/static/pub_assets/pravega_logo_bw.png" alt="Pravega Logo" style="width: 200px; height: auto;">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="collapsibleNavbar">
                        <ul class="navbar-nav nav-pravega-position">
                            <li class="nav-item nav-pravega-font">
                                <a class="nav-link" href="/">Home</a>
                            </li>
                            <li class="nav-item nav-pravega-font">
                                <a class="nav-link" href="/#events">Events</a>
                            </li>
                            <li class="nav-item nav-pravega-font">
                                <a class="nav-link" href="/#contactus">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>


        </header>


        <!-- Organisations page -->
        <div class="container-fluid">
            <p><br><br></p>
        </div>
        <!-- page1 -->
        <div class="container-fluid">
            <div class="row align-items-center" style="margin-top: 100px;">
                <div class="col-sm-6 order-sm-2">
                    <img src="/static/pub_assets/chemenigma.png" class="img-fluid mx-auto d-block" alt="Chemenigma image" width="65%">
                    <p><br></p>
                </div>
                <div class="col-sm-6 order-sm-1">
                    <div class="text-margin-left">
                        <h2 class="middle-phrase">Event Description</h2>
                        <p>
		 Chemenigma, an event designed to test your calibre in chemistry through
		 stimulating questions that demand knowledge coupled with creativity. Enjoy
		 yourselves as you compete with the most brilliant minds of the country while
		 displaying your skill and ingenuity in solving problems.
			</p>
			<p>
		The Final event will truly bring out the Enigma of Chemenigma. The finalists
		would have to work their way through challenging problems in India's finest
		research labs with the exciting opportunity to present and defend their work in
		front of leading Chemists in the panel of judges!
			</p>
			<p>
		Do you have what it takes to be in the Finals? <br><br>
			</p>

            <div class="text-center">
                <a href="/scitech/chemenigma/register" class="btn event-btn" style="color: white; background:rgba(217,217,217,0.2);">Register Here</a>
                <a href="/files/chemenigmarules.pdf" class="btn event-btn" style="color: white; background:rgba(217,217,217,0.2);">Read the Rules</a>
            </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <p><br><br><br><br><br><br></p>
        </div>
        <!-- page2 -->
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-sm-6 order-sm-1">
                    <img src="/static/pub_assets/clock.png" class="img-fluid mx-auto d-block" alt="clock image" width="40%">
                    <p><br></p>
                </div>
                <div class="col-sm-6 order-sm-2">
                    <div class="text-margin-right">
			    <h2 class="middle-phrase">Prelims: 10<sup>th</sup> July</h2> 
                <h2 class="middle-phrase" style="margin-left:50px; font-size: 27px;">Timings: 1:30pm to 7:30pm <br> </h2>
			    <h2 class="middle-phrase">Finals: 2<sup>nd</sup> September</h2>
                <h2 class="middle-phrase" style="margin-left:50px; font-size: 27px;">Timings: TBA <br> </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <p><br><br><br><br><br><br><br><br></p>
        </div>
        <!-- page3 -->
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-sm-6 order-sm-2">
                    <img src="/static/pub_assets/form.png" class="img-fluid mx-auto d-block" alt="extensible communication" width="40%">
                    <p><br></p>
                </div>
                <div class="col-sm-6 order-sm-1">
                    <div class="text-margin-left">
                        <h2 class="middle-phrase">Eligibility</h2>
                        <p>
			    Students in class 11 or above (till 2nd year UG) and have not started their 3rd year of UG are eligible.
			    Teams may have at most two participants.
			    Individual participation is allowed.
                        </p>
                        <h2 class="middle-phrase">Prizes</h2>
                        <p>
			Cash Prizes over 30K for winners and certificates for all finalists and more exciting surprises to come.
                        </p>
                        <p><br></p>

                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <p><br><br><br><br><br><br><br><br></p>
        </div>
        <div class="container-fluid">
            <p><br><br><br><br><br><br><br><br></p>
        </div>

        <!-- page4 -->
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-sm-6 order-sm-1">
                    <img src="/static/pub_assets/mailus.png" class="img-fluid mx-auto d-block" alt="extensible communication" width="50%">
                    <p><br></p>
                </div>
                <div class="col-sm-6 order-sm-1">
                    <div class="text-margin-left" style="font-size: 20px;">
                        <h2 class="middle-phrase">Contact Us</h2>
                        <p>
                            Pranav Rao <br>
                            <a href="mailto:pranavrao@iisc.ac.in">pranavrao@iisc.ac.in</a> <br>
                            Dev Niteshkumar Dodiya <br>
                            <a href="mailto:devn@iisc.ac.in">devn@iisc.ac.in</a> <br>                           
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <p><br><br><br><br><br><br><br><br></p>
        </div>
        <div class="container-fluid">
            <p><br><br><br><br><br><br><br><br></p>
        </div>

        <footer>


            <!-- Pravega. bottom bar -->

            <div class="container-fluid footer-pravega-bg">
                <div class="row footer-pravega-margin">
                    <div class="col footer-pravega-col text-left">
                        <a href="/">
                            <img src="/static/pub_assets/pravega_logo_bw.png" alt="Pravega 2022 Logo" style="width: 200px; height: auto; margin-bottom: 30px;">
                        </a>
                        <p class="footer-pravega-font" style="margin-left:7px;">&#169; copyright 2022 <br>All rights reserved.</p>
                    </div>
                    <div class="col footer-pravega-col text-left">
                        <p class="footer-pravega-font-special">Navigate</p>
                        <a class="footer-pravega-font" href="/">Home</a>
			<a class="footer-pravega-font" href="/#contactus"><br>Contact Us</a>
			<a class="footer-pravega-font" href="/aboutus"><br>About Us</a>
			<a class="footer-pravega-font" href="/refund"><br>Refund and Cancellation Policy</a>
			<a class="footer-pravega-font" href="/privacy"><br>Privacy Policy</a>
			<a class="footer-pravega-font" href="/terms"><br>Terms of service</a>
                    </div>
                    <div class="col footer-pravega-col-special text-left">
                        <p class="footer-pravega-font-special">Follow Us</p>
			<a class="fa fa-facebook" href="https://www.facebook.com/PravegaIISc/"></a>
                        <a class="fa fa-instagram" href="https://www.instagram.com/pravega.iisc" style="margin-left: 10px;"></a>
                        <a class="fa fa-twitter" href="https://www.twitter.com/Pravega_IISc" style="margin-left: 10px;"></a>
                        <a class="fa fa-youtube" href="https://www.youtube.com/channel/UCc-179ntmDu4l7i8LVbpYlQ" style="margin-left: 10px;"></a>
                    </div>
                </div>
            </div>
        </footer>
    </body>

</html>
