<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Decoherence | Sci-tech | Pravega 2022 | IISc Bangalore UG fest</title>
	<link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
	<!-- Main css -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/scitech/style.css') }}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Goldman&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
	<script src="/static/scripts/navbar.js"></script>

</head>

<body>
	<div id="navbar">
		<a href="/"><img src="/static/img/logo.png" id="logo"></a>
		<a href="/scitech" class="link">Scitech</a>
		<a href="/#contactus" class="link">Contact Us</a>
		<a href="/#events" class="link">Events</a>
	</div>
	<div id="event_body">

		<div class="row">
			<div class="col l2">
				<img src='/static/img/scitech/decoherence.svg' alt='LOGO'>
			</div>
			<h1 id="heading">Decoherence</h1>
			<h4 id="subheading">A Physics Excitation</h4>
		</div>
		<div class="row">
			<div class="col l2 push-l0 s12 m6">
				<div class="box">
					<h2> Timeline </h2>
					<hr>
					<b>Objective Prelims-</b><br/> 11:00 AM to 12:30 PM IST on 17<sup>th</sup> July<br/>
					<b>Subjective Prelims-</b><br/> 9 AM Saturday to 3 AM Monday IST on one of the following weekends
					31st July or 7th Aug (a poll would be sent to you for deciding a date)<br/>
					<b>Finals-</b><br/> 2nd, 3rd and 4th Sept(Offline event)
				</div>
				<!-- </div>

<div class="col l5 push-l0 s12 m6">
-->

				<div class="box" id="registrationbox">
					<h2> Quick Links </h2>
					<hr>
					<a href='/scitech/decoherence/register'>
						<div class="clickme submit">
							<h4 style="text-align:center; color:blue;"> Register here </h4>
						</div>
					</a>

				</div>
			</div>
			<div class="col l9
 push-l0">
				<div class="box" id="main">
					<h2>Description</h2>
					<p>
						Come forward and show your prowess in Physics by competing with students across the country to
						solve problems through deliberation and critical thinking. Prepare for a battle to the end.
						<br /> This is gonna be intense. This. Is. Decoherence.
						<br /> This is a unique opportunity for any physics enthusiast to showcase their problem-solving
						ability and insight in the subject. The prelims is knocking at the door and this will serve as a
						gateway to the main Decoherence event!
						<br /> The preliminary round is divided into two rounds - one objective and one subjective. The
						objective round will serve as a screening round to select teams for the subjective round. We
						promise that these two rounds themselves will put your abilities to test!
						<br /> Unleash your skills in the Prelims to secure your way into the main event! The final
						event will be held in the gorgeous IISc Bangalore campus with highly subsidized tickets for your
						travelling and residential costs. It would be full of fun for those who love teasing their minds
						with new physics theoretical and experimental problems, with participants getting the
						opportunity to present their solutions to leading Physicists in the panel of judges!
						<br /> Sounds interesting? Then don't miss the prelims.
						<br>
						<h2>Rules</h2>
						Prelims- Objective Round-
						<br />
						<ol>
							<li>Single correct MCQs 15-20 questions.</li>
							<li>Duration of exam would be 90mins including submission.</li>
							<li> No late submissions are allowed.</li>
							<li> Top 25 teams, whichever comes first would be selected for subjective prelims.</li>
							<li> A more detailed rules and regulations sheet would be released soon.</li>
						</ol>
						Prelims- Subjective Prelims-
						<br />
						<ol>
							<li> 6-9 Subjective Questions.</li>
							<li>Duration of exam would be 42 hours over the weekend. Exact Details will be informed well
								before the round.</li>
							<li>Top 5 teams will be selected for the final event.</li>
							<li> A more detailed rules and regulations sheet would be mailed to you soon after the
								objective
								round.</li>
						</ol>
						Finals-
						<br />
						3 day event on the IISc Bangalore campus.<br />
						Tentative plan for the finals is:
						<ol>
							<li>Day1- Theoretical and data analysis questions.</li>
							<li>Day2- Experimental design related analysis of one or few questions.</li>
							<li>Day3- Presentation of solutions in front of the judges.</li>
							<li> A more detailed plan would be mailed to you.</li>
						</ol>
						<br>
					</p>
					<h2>Eligibility</h2>
					<ul type="disc">
						<li>
							High school students to 3rd year UG.
						</li>
						<li>
							Teams may have at most two participants.
						</li>
						<li>
							Individual participation is allowed.
						</li>
					</ul>
					<h3> Prizes</h3>
					<p>
						Prizes worth 50K, including prizes to winners and few best solution awards.
						All finalists and award winners will also receive certificates.
					</p>
					<br>
					<br>
					<h2> Coordinators </h2>
					<div class="row">
						<div class="col l3 ">
							<div class="contacts">
								<h5>
									Aryan Hingwe
								</h5>
								<a href="mailto:pranavrao@iisc.ac.in" class="btn">
									<i class="material-icons left">mail</i></a>
							</div>
						</div>
						<div class="col l3">
							<div class="contacts">
								<h5>
									Hemansh Shah
								</h5>
								<a href="mailto:denv@iisc.ac.in" class="btn">
									<i class="material-icons left"> mail</i></a>
							</div>
						</div>
						<div class="col l3">
							<div class="contacts">
								<h5>
									Keshav Agarwal
								</h5>
								<a href="mailto:denv@iisc.ac.in" class="btn">
									<i class="material-icons left"> mail</i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div id="footer" class="row">
			<div class="col l6">
				<div class="footerleft">
					<h6>Pravega 2022</h6>
					<h6>The Biggest Science fest is Back</h6>
				</div>
			</div>
			<div class="col l6 ">
				<div class="col l3">
					<div class="footerbutton">
						<a href="https://www.facebook.com/PravegaIISc/" class="fa fa-facebook sm-button"></a>
					</div>
				</div>
				<div class="col l3">
					<div class="footerbutton">
						<a href="https://twitter.com/Pravega_IISc" class="fa fa-twitter sm-button"></a>
					</div>
				</div>
				<div class="col l3">
					<div class="footerbutton">
						<a href="https://www.instagram.com/pravega.iisc/" class="fa fa-instagram sm-button"></a>
					</div>
				</div>
				<div class="col l3">
					<div class="footerbutton">
						<a href="https://www.youtube.com/channel/UCc-179ntmDu4l7i8LVbpYlQ"
							class="fa fa-youtube sm-button"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>