<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Decoherence | Sci-tech | Pravega 2022 | IISc Bangalore UG fest</title>

    <!-- Main css -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/scitech/style.css') }}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Goldman&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
	<script src="/static/scripts/navbar.js"></script>

</head>

<body>
	<div id="navbar">
		<a href="/"><img src="/static/img/logo.png" id="logo"></a>
		<a href="/scitech" class="link">Scitech</a>
		<a href="/#contactus" class="link">Contact Us</a>
		<a href="/#events" class="link">Events</a>
	</div>
<div id="event_body">

<div class="row">
	<div class="col l2">
	<img src='/static/img/scitech/decoherence.svg' alt='LOGO'>
	</div>
	<h1 id="heading">Decoherence</h1>
	<h4 id="subheading">Tagline</h4>
</div>
<div class="row">
<div class="col l2 push-l0 s12 m6">
	<div class="box">
		<h2> Timeline </h2>
		<hr>
		Prelims: 20<sup>th</sup> July<br>
		Finals: 2<sup>nd</sup> or 3<sup>rd</sup> September
	</div>
<!-- </div>

<div class="col l5 push-l0 s12 m6">
-->

	<div class="box" id="registrationbox">
		<h2> Quick Links </h2><hr>
		<a href='/scitech/decoherence/register'>
			<div class="clickme submit">
				<h4 style="text-align:center; color:blue;"> Register here </h4>
			</div>
		</a>

	</div>
</div>
<div class="col l9
 push-l0">
	<div class="box" id="main">
	<h2>Description</h2>
	<p>
	Chemenigma, an event designed to test your calibre in chemistry through
	stimulating questions that demand knowledge coupled with creativity.
	Enjoy yourselves as you compete with the most brilliant minds of the
	country while displaying your skill and ingenuity in solving problems.
	<br>
	The Final event will truly bring out the Enigma of Chemenigma. The finalists
	would have to work their way through challenging problems in India's finest
	research labs with the exciting opportunity to present and defend their work in
	front of leading Chemists in the panel of judges!
	<br>
	Do you have what it takes to be in the Finals?
	<br>
	The Final event will truly bring out the Enigma of Chemenigma. The finalists
	would have to work their way through challenging problems in India's finest
	research labs with the exciting opportunity to present and defend their work in
	front of leading Chemists in the panel of judges!
	</p>
	<h2>Eligibility</h2>
	<ul type="disc">
		<li>
	Students in class 11 or above (till 2nd year UG) and have
	not started their 3rd year of UG are eligible.
		</li>
		<li>
	Teams may have at most two participants.
		</li>
		<li>
	Individual participation is allowed.
		</li>
	</ul>
	<h3> Prizes</h3>
	<p>
	Cash Prizes over 30K for winners and certificates for all finalists and
	more exciting surprises to come.
	</p>
	<br>
	<br>
	<h2> Coordinators </h2>
	<div class="row">
		<div class="col l3 ">
			<div class="contacts">
			<h5>
			Pranav Rao
			</h5>
			<a href="mailto:pranavrao@iisc.ac.in" class="btn">
                        <i class="material-icons left">mail</i></a>
			</div>
		</div>
		<div class="col l3">
			<div class="contacts">
			<h5>
			Dev Dodiya
			</h5>
			<a href="mailto:denv@iisc.ac.in" class="btn">
                        <i class="material-icons left"> mail</i></a>
		</div>
	</div>

	</div>
	</div>
	</div>
	</div>


<div id="footer" class="row">
	<div class="col l6">
		<div class="footerleft">
		<h6>Pravega 2022</h6>
		<h6>The Biggest Science fest is Back</h6>
		</div>
	</div>
	<div class="col l6 ">
		<div class="col l3">
			<div class="footerbutton">
                    <a href="https://www.facebook.com/PravegaIISc/" class="fa fa-facebook sm-button"></a>
			</div>
		</div>
		<div class="col l3">
			<div class="footerbutton">
                    <a href="https://twitter.com/Pravega_IISc" class="fa fa-twitter sm-button"></a>
			</div>
		</div>
		<div class="col l3">
			<div class="footerbutton">
                    <a href="https://www.instagram.com/pravega.iisc/" class="fa fa-instagram sm-button"></a>
			</div>
		</div>
		<div class="col l3">
			<div class="footerbutton">
				<a href="https://www.youtube.com/channel/UCc-179ntmDu4l7i8LVbpYlQ"
                        class="fa fa-youtube sm-button"></a>
			</div>
		</div>
	</div>
</div>
</div>
</body>
</html>
