<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Enumeration | Sci-tech | Pravega 2022 | IISc Bangalore UG fest</title>

    <!-- Main css -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/scitech/style.css') }}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Goldman&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
	<script src="/static/scripts/navbar.js"></script>

</head>

<body>
	<div id="navbar">
		<a href="/"><img src="/static/img/logo.png" id="logo"></a>
		<a href="/scitech" class="link">Scitech</a>
		<a href="/#contactus" class="link">Contact Us</a>
		<a href="/#events" class="link">Events</a>
	</div>
<div id="event_body">

<div class="row">
	<div class="col l2">
	<img src='/static/img/scitech/enumeration.svg' alt='LOGO'>
	</div>
	<h1 id="heading">Enumeration</h1>
	<h4 id="subheading">MathWizs Assemble</h4>
</div>
<div class="row">
<div class="col l2 push-l0 s12 m6">
	<div class="box">
		<h2> Timeline </h2>
		<hr>
		13<sup>th</sup> July 2022

		<br>
	</div>
<!-- </div>

<div class="col l5 push-l0 s12 m6">
-->

	<div class="box" id="registrationbox">
		<h2> Quick Links </h2><hr>
		<a href='/scitech/enumeration/register'>
			<div class="clickme submit">
				<h4 style="text-align:center; color:blue;"> Register here </h4>
			</div>
		</a>

	</div>
</div>
<div class="col l9
 push-l0">
	<div class="box" id="main">
	<h2>Desciption</h2>
	<p>
An event for all the math-heads out there! Enumeration is a competition to test a set of abilities including but not limited to mathematical and logical reasoning, deduction and analysis etc. In addition to problem solving, this event requires you to constitute claims and support them with convincing arguments. As an overall test of your skills as a reliable mathematician, Enumeration is a platform to put your abilities under examination. Don't miss this unique event that is sure to kindle an excitement towards math while simultaneously allowing you to develop a different approach towards the field!
	</p>
	<h2>Eligibility</h2>
	<p>
High school students to 4th year UG. Contestants can participate in teams of upto 2 members.
	</p>
	<h2>Fees</h2>
	<p>
	Rs. 200/-
	</p>
	<h3> Prizes</h3>
	<p>
Top 3 finalists will get cash prizes worth 30k in total. All finalists will also receive a certificate of appreciation.
	</p>
	<br>
	<br>
	<h2> Coordinators </h2>
	<div class="row">
		<div class="col l3 ">
			<div class="contacts">
			<h5>
			Sudharshan
			</h5>
			<a href="mailto:sudharshankv@iisc.ac.in" class="btn">
                        <i class="material-icons left">mail</i></a>
			</div>
		</div>
		<div class="col l3">
			<div class="contacts">
			<h5>
			Sakjit Das
			</h5>
			<a href="mailto:sakjitdas@iisc.ac.in" class="btn">
                        <i class="material-icons left"> mail</i></a>
		</div>
	</div>

	</div>
	</div>
	</div>
	</div>


<div id="footer" class="row">
	<div class="col l6">
		<div class="footerleft">
		<h6>Pravega 2022</h6>
		<h6>The Biggest Science fest is Back</h6>
		</div>
	</div>
	<div class="col l6 ">
		<div class="col l3">
			<div class="footerbutton">
                    <a href="https://www.facebook.com/PravegaIISc/" class="fa fa-facebook sm-button"></a>
			</div>
		</div>
		<div class="col l3">
			<div class="footerbutton">
                    <a href="https://twitter.com/Pravega_IISc" class="fa fa-twitter sm-button"></a>
			</div>
		</div>
		<div class="col l3">
			<div class="footerbutton">
                    <a href="https://www.instagram.com/pravega.iisc/" class="fa fa-instagram sm-button"></a>
			</div>
		</div>
		<div class="col l3">
			<div class="footerbutton">
				<a href="https://www.youtube.com/channel/UCc-179ntmDu4l7i8LVbpYlQ"
                        class="fa fa-youtube sm-button"></a>
			</div>
		</div>
	</div>
</div>
</div>
</body>
</html>
