<!doctype html>
<html lang="en">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">

    <!-- Bootstrap support -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>

    <!-- itc avant garde font-->
    <link href="https://fonts.cdnfonts.com/css/itc-avant-garde-gothic-std-book" rel="stylesheet" type="text/css">

    <!-- Icon library -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">



    <link href="/static/pub_styling/scitech/menu.css" rel="stylesheet">
    <link href="/static/pub_styling/Pravega_footer.css" rel="stylesheet">
    <link href="/static/pub_styling/pravega_navbar.css" rel="stylesheet">

    <title>Additive Manufacturing Hackathon | Pravega 2022 | IISc UG Fest</title>
</head>

<body>

    <header>

        <!-- pravega Navbar-->
        <nav class="navbar navbar-expand-md navbar-dark justify-content-center fixed-top nav-pravega-bg">


            <div class="container-fluid">
                <a class="navbar-brand nav-pravega-logo" href="/">
                    <img src="/static/pub_assets/pravega_logo_bw.png" alt="Pravega Logo"
                        style="width: 200px; height: auto;">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav nav-pravega-position">
                        <li class="nav-item nav-pravega-font">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item nav-pravega-font">
                            <a class="nav-link" href="/#events">Events</a>
                        </li>
                        <li class="nav-item nav-pravega-font">
                            <a class="nav-link" href="/#contactus">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


    </header>


    <!-- Organisations page -->
    <div class="container-fluid">
        <p><br><br></p>
    </div>

    <!-- page1 -->
    <div class="container-fluid">
        <div class="row align-items-center" style="margin-top: 100px;">
            <div class="col-sm-6 order-sm-2">
                <img src="/static/img/scitech/hackathon.svg" class="img-fluid mx-auto d-block" alt="Hackathon image"
                    width="30%">
                <!--Update here-->
            </div>
            <div class="col-sm-6 order-sm-1">
                <div class="text-margin-left">
                    <h2 class="middle-phrase">Additive Manufacturing Hackathon</h2>
                    <p>
                        Problem Statements
                    <ol>
                        <li>Problem 1: Design F-theta lens system for large area laser beam 2D scanning system</li>
                        <li>Problem 2: Effect of spherical metal powder flowability at high temperature</li>
                        <li>Problem 3: In-situ and Ex-situ defect identification methods using imaging methods in
                            Additive
                            manufacturing.</li>
                    </ol>
                    Students can participate individually or in teams of up to 3 people.<br>
                    For more details about the event, please click <a
                        href="pravega\files\SID_Hackathon.pdf">here</a>.<br>
                    For more details about the problem statements, please click <a
                        href="/files/SID_Problems.pdf">here</a>.
                    </p>
                    <div class="text-center">
                        <a href="https://forms.gle/WJC6skFYzzHSZmAV8" class="btn event-btn"
                            style="color: white; background:rgba(217,217,217,0.2);">Register Here!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <p><br><br><br><br><br><br></p>
    </div>

    <!-- page2 -->
    <div class="container-fluid">
        <p><br><br><br><br><br><br><br><br></p>
    </div>
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-sm-6 order-sm-1">
                <img src="/static/pub_assets/clock.png" class="img-fluid mx-auto d-block" alt="clock image" width="40%">
                <p><br></p>
            </div>
            <div class="col-sm-6 order-sm-2">
                <div class="text-margin-right">
                    <h2 class="middle-phrase">Online Prelims (Submission Deadline): 18<sup>th</sup> September, 2022</h2>
                    <h2 class="middle-phrase">Offline Finals: 8<sup>th</sup> October, 2022</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <p><br><br><br><br><br><br><br><br></p>
    </div>
    <!-- page3 -->
    <div class="container-fluid">
        <p><br><br><br><br><br><br><br><br></p>
    </div>
    <div class="container-fluid" id="register">
        <div class="row align-items-center">
            <div class="col-sm-6 order-sm-2">
                <img src="/static/pub_assets/form.png" class="img-fluid mx-auto d-block" alt="extensible communication"
                    width="40%">
                <p><br></p>
            </div>
            <div class="col-sm-6 order-sm-1">
                <div class="text-margin-left">
                    <h2 class="middle-phrase">Prelims</h2>
                    <p>
                        Participants may choose any of the topics and submit a brief technical proposal on how they plan
                        to approach the problem (of around 600 words), citing all necessary sources.<br>
                        For the prelims, the task is to submit a technical proposal (of around 600 words) outlining your
                        approach to the problem and submit by 18<sup>th</sup> September, 2022.<br>
                    </p>
                    <h2 class="middle-phrase">Finals</h2>
                    <p>
                        The 10 best submissions from the prelims will move on to the finals where winners will get a
                        sponsored project from Ministry
                        of Heavy Industries<br>
                        Finalists will be provided with accomodation and travel reimbursement.<br>
                    </p>
                    <h2 class="middle-phrase">Prizes</h2>
                    <p>
                        The best 10 proposals will be selected for the finals.<br>
                        They will receive 4k each as a prize and will be given more time to provide a more detailed
                        proposal,
                        with a complete theoretical model and possibly prototypes.<br>
                        The best 3 will receive prices of 25k, 15k and 10k, alongside a chance to get their project
                        approved by SID, IISc, with possible funding up to 6L to execute their idea.
                    </p>
                    <p><br></p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <p><br><br><br><br><br><br><br><br></p>
    </div>
    <!-- page4 -->
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-sm-6 order-sm-1">
                <img src="/static/pub_assets/mailus.png" class="img-fluid mx-auto d-block"
                    alt="extensible communication" width="50%">
                <p><br></p>
            </div>
            <div class="col-sm-6 order-sm-1">
                <div class="text-margin-left" style="font-size: 20px;">
                    <h2 class="middle-phrase">Contact Us</h2>
                    <p>
                        Sudhanshu B.<br>
                        Amrit M. Joseph<br>
                        <a href="mailto:sudhanshub@iisc.ac.in" style="color:#ADD8E6">sudhanshub@iisc.ac.in</a> <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <p><br><br><br><br><br><br><br><br></p>
    </div>

    <footer>


        <!-- Pravega. bottom bar -->

        <div class="container-fluid footer-pravega-bg">
            <div class="row footer-pravega-margin">
                <div class="col footer-pravega-col text-left">
                    <a href="/">
                        <img src="/static/pub_assets/pravega_logo_bw.png" alt="Pravega 2022 Logo"
                            style="width: 200px; height: auto; margin-bottom: 30px;">
                    </a>
                    <p class="footer-pravega-font" style="margin-left:7px;">&#169; copyright 2022 <br>All rights
                        reserved.</p>
                </div>
                <div class="col footer-pravega-col text-left">
                    <p class="footer-pravega-font-special">Navigate</p>
                    <a class="footer-pravega-font" href="/">Home</a>
                    <a class="footer-pravega-font" href="/#contactus"><br>Contact Us</a>
                    <a class="footer-pravega-font" href="/aboutus"><br>About Us</a>
                    <a class="footer-pravega-font" href="/refund"><br>Refund and Cancellation Policy</a>
                    <a class="footer-pravega-font" href="/privacy"><br>Privacy Policy</a>
                    <a class="footer-pravega-font" href="/terms"><br>Terms of service</a>
                </div>
                <div class="col footer-pravega-col-special text-left">
                    <p class="footer-pravega-font-special">Follow Us</p>
                    <a class="fa fa-facebook" href="https://www.facebook.com/PravegaIISc/"></a>
                    <a class="fa fa-instagram" href="https://www.instagram.com/pravega.iisc"
                        style="margin-left: 10px;"></a>
                    <a class="fa fa-twitter" href="https://www.twitter.com/Pravega_IISc" style="margin-left: 10px;"></a>
                    <a class="fa fa-youtube" href="https://www.youtube.com/channel/UCc-179ntmDu4l7i8LVbpYlQ"
                        style="margin-left: 10px;"></a>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>