<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">


	<link rel="stylesheet" href="{{ url_for('static', filename='css/scitech/style.css') }}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Goldman&display=swap" rel="stylesheet">

        <!-- Bootstrap support -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

        <!-- itc avant garde font-->
        <link href="https://fonts.cdnfonts.com/css/itc-avant-garde-gothic-std-book" rel="stylesheet" type="text/css">

        <!-- Icon library -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

        <link href="/static/pub_styling/scitech/menu.css" rel="stylesheet">
        <link href="/static/pub_styling/Pravega_footer.css" rel="stylesheet">
        <link href="/static/pub_styling/pravega_navbar.css" rel="stylesheet">

    <title>Quadsparks | Sci-tech | Pravega 2022 | IISc Bangalore UG fest</title>


</head>

<body>
    <!-- Pravega. Navbar-->
<header>
    <nav class="navbar navbar-expand-md navbar-dark justify-content-center fixed-top nav-pravega-bg">
        <div class="container-fluid">
            <a class="navbar-brand nav-pravega-logo" href="/">
                <img src="/static/pub_assets/pravega_logo_bw.png" alt="Pravega Logo" style="width: 200px; height: auto;">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav nav-pravega-position">
                    <li class="nav-item nav-pravega-font">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item nav-pravega-font">
                        <a class="nav-link" href="/#events">Events</a>
                    </li>
                    <li class="nav-item nav-pravega-font">
                        <a class="nav-link" href="/#contactus">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</header>



<div class="container-fluid">
	<div class="row" style="margin-top:100px;">
	<div class="col-lg-3 col-sm-6 order-sm-1">

		<img src='/static/img/scitech/quadspark.png' alt='LOGO' style="width:90%;">
	</div>
	<div class="col-lg-9 col-sm-6 order-sm-1">
		<h1 id="heading">Quadsparks</h1>
		<h4 id="subheading">Spark your minds to glory</h4>

	</div>
	</div>
	<div class="row" >
	<div class="col-lg-3 col-sm-6 order-sm-1">
		<div class="box">
			<h2> Timeline </h2>
			<hr>
			<ul>
                <li>
                    Last date of Registration: 21st July 2022
                </li>
                <li>
                    Prelims 1: 24th July 2022 (10-10:40 AM), Online
                </li>
                <li>
                    Interview: within a week of prelims, Online
                </li>
                <li>
                    Prelims 2: September 4, 2022, 9:30 AM, JN Tata Auditorium, IISc Bangalore
                </li>
                <li>
                    Grand Finale: September 4, 2022, 10:30 AM, JN Tata Auditorium , IISc Bangalore
                </li>
            </ul>
		</div>
		<div class="box" id="registrationbox">
			<h2> Quick Links </h2><hr>
			<a href='https://quadsparks.pravega.org'>
				<div class="clickme submit">
					<h4 style="text-align:center; color:blue;"> Register here </h4>
				</div>
			</a>
            <a href='/files/QuadsparksSeason3Rules.pdf'>
				<div class="clickme submit">
					<h4 style="text-align:center; color:blue;"> Detailed Rules </h4>
				</div>
			</a>
		</div>
        <div class="box" id="registrationbox">
			<h2> Sample Paper </h2><hr>
            <a href='/files/QuadsparksModelQuestions.pdf'>
				<div class="clickme submit">
					<h4 style="text-align:center; color:blue;"> Download </h4>
				</div>
			</a>
		</div>
	</div>
	<div class="box col-lg-9 col-sm-6 order-sm-2" id="main">
		<h2>Description</h2>
		<p>
            The most awaited event of Pravega 2022 is here! Quadsparks 2022 aims to nurture and develop scientific thinking through the medium of a quiz among high-school students across the country. In a departure from its previous editions, Season 3 includes a good chunk of quizzing and critical reasoning to appeal to a wider realm of today’s youth.

		</p>
        <h2>
            Structure of the event
        </h2>
        <p>
            <ul>
                <li>
                    Quadsparks Season 3 will have 3 stages: Prelims, Interview, and the Grand Finale.
                </li>
                <li>
                    There will be two prelims for the event, Prelims 1 (online) and Prelims 2 (offline). The
rationale behind hosting two preliminary stages is to enable students living away
from Bangalore to participate remotely, i.e., through the online mode.

                </li>
                <li>
                    5 teams will qualify for the Grand Finale through Prelims 1 followed by an Interview
round.
                </li>
                <li>
                    3 teams will qualify from Prelims 2 which will be conducted earlier on the same day
as the Grand Finale in IISc (Indian Institute of Science) campus.
                </li>
                <li>
                    A student can participate in both Prelims 1 and prelims 2. The team formed for
Prelims 1 need not necessarily be the same as that for Prelims 2. Students should
ensure that team formation rules are obeyed if different teams are created.
                </li>
                <li>
                    The 8 chosen teams will compete in the Grand Finale which will be held JN Tata
Auditorium in the Indian Institute of Science Campus, Bengaluru.
                </li>

        </ul>
        </p>

		<h2>Eligibility</h2>
		<p>
		<ul>
			<li>
                Students studying in classes 8, 9, 10, 11 or 12 (in the new academic year of 2022 June) who are passionate about science can participate as a team.
			</li>
			<li>
                Registration must be carried out as a team of two, where both participants are from the same school. Cross-institution teams are not allowed.

			</li>
			<li>
                Students are allowed to register and participate individually, but teams are strongly encouraged.
			</li>
            <li>
                Most questions will be aimed at students of class 8-12. However, students of lower classes are also allowed to participate on request of the schools.
            </li>
		</ul>
		</p>

        <h2>Registration</h2>
        <p>
            <ol type="A">
                <li>
                    How to register for the event?
                </li>
                <ul type="square">
                    <li>
                        Step 1: (Team Registration)
                    </li>
                    <ul>
                        <li>
                            Once you click on the registration link provided on the website, you will get led to login page of Quadspark Season 3.
                        </li>
                        <li>
                            If you did not register your team before, you can register your team by clicking on "Haven't registered for Quadsparks yet? " Option. You are supposed to set up a password for login purposes.
                        </li>
                    </ul>
                    <li>
                        Step 2: (Event Registration)
                    </li>
                    <ul>
                        <li>
                            After registering your team, you will automatically log in to the event registration portal where you can register for prelims 1, prelims 2 or both.
                        </li>
                        <li>
                            There is an option to apply referral codes to get discounts while you register for the event. More details about the referral codes are given in the sections below.
                        </li>
                        <li>
                            Once you logged out from the event registration portal, you can log in again by giving your mobile number and password.
                        </li>
                        <li>
                            If you forget your password, you can mail quadsparks.pravega@gmail.com to get a new password.
                        </li>
                    </ul>

                </ul>
                <li>
                    Registration fee:
                </li>
                <ul>
                    <li>
                        The registration fee for a team in Quadspark Season 3 is ₹200.
                    </li>
                    <li>
                        Teams can choose to register for Prelims 1 and 2 together and pay a reduced fee of
₹350.
                    </li>
                    <li>
                        A team will get a discount (as mentioned below) if they use a referral code during
registration.
                    </li>
                </ul>
                <li>
                    How to get a referral code?
                </li>
                <ul>
                    <li>
                        A participant can create their own referral code using the option on the Quadsparks webpage. For that, one should necessarily register in the Quadspark website and log in into the event registration portal.
                    </li>
                    <li>
                        You can create your own referral code once you register for prelims 1, prelims 2 or both. In the event registration portal, there is Get your own referral code option where you can create your own referral code.
                    </li>
                    <li>
                        Self-referrals are not allowed, i.e., In the event registration portal, you cannot create your referral code unless you registered for the event.
                    </li>
                    <li>
                        Once you create your referral code, you can share it with your friends and other teams so that they will get a discount.
                    </li>
                    <li>
                        If other teams register using your referral code, then they get a ₹40 discount on registration. If the team registers for both Prelims 1 and 2 together, they get a ₹50 discount.
                    </li>
                    <li>
                        If 2 or more teams use your referral code for registration, you will get ₹10/team.
                    </li>
                    <li>
                        If 15 or more teams use your referral code for registration, you will get ₹20/team.
                    </li>
                    <li>
                        If 50 or more teams use your referral code for registration, you will get ₹30/team.
                    </li>
                    <li>
                        The amount will be sent to the referral's account once the event is completed.
                    </li>
                    <li>
                        If you would like to get a referral code without participating in the event, you can
contact quadsparks.pravega@gmail.com for getting their referral code.
                    </li>
                </ul>

            </ol>
        </p>

        <h2> General rules</h2>
        <p>
            <ol type="A">
                <li>
                    Prelims 1:
                </li>
                <ul>
                    <li>
                        Prelims 1 will be completely online.
                    </li>
                    <li>
                        It is strongly advised that you take the test from a PC and not from a mobile phone
or a tablet.
                    </li>
                    <li>
                        Prelims 1 will have 30 questions for which answers should be given within 30 minutes.
                    </li>
                    <li>
                        There will be a buffer time of 10 minutes for submission of answers in case of any
technical difficulties during the event.
                    </li>
                    <li>
                        Questions will not give any specific advantage to class 11-12 students. Most of the
questions can be answered using the clues in the question itself as we intend to test
basic science knowledge and deduction skills.
                    </li>
                    <li>
                        Team members should ensure the availability of a stable internet connection during
the Prelims.
                    </li>
                </ul>
                <li>
                    Interview:
                </li>
                <ul>
                    <li>
                        The top 16 teams will be selected for the interview round from Prelims 1.
                    </li>
                    <li>
                        The interview will be completely online, and the date and time slots will be notified to
the selected teams through e-mail.
                    </li>
                    <li>
                        The interview is simply to ensure that the students participated in prelims 1 with
honesty. Their knowledge, curiosity, scientific aptitude, and critical thinking skills will
be tested in this round.
                    </li>
                    <li>
                        There will be a cut-off score in the interview that a team should attain to be
considered for the Grand Finale.
                    </li>
                    <li>
                        From the teams who scored above the cut-off, the top 5 teams will be selected for the Grand Finale considering their performance in prelims.
                    </li>
                    <li>
                        Travel allowances will be provided for members of the selected teams and one teacher/parent per team to attend the Grand Finale and explore the Indian Institute of Science campus. More details about this will be communicated to selected teams.
                    </li>

                </ul>
                <li>
                    Prelims 2:
                </li>
                <ul>
                    <li>
                        Prelims 2 will be held at JN Tata Auditorium in the IISc campus before the Grand Finale.
                    </li>
                    <li>
                        There will be a written round of 20 questions.
                    </li>
                    <li>
                        The top 3 teams will get selected for the Finale.
                    </li>
                    <li>
                        No travel allowance will be provided for the teams coming for Prelims 2.
                    </li>
                </ul>
                <li>
                    Grand Finale of Quadspark Season 3
                </li>
                <ul>
                    <li>
                        Top 5 teams from Prelims 1 + interview and top 3 teams from Prelims 2 will move onto the Grand Finale.
                    </li>
                    <li>
                        It will be held at JN Tata Auditorium in the IISc campus.
                    </li>
                    <li>
                        It will consist of multiple exciting rounds.
                    </li>
                    <li>
                        Prizes will also be given for active participation from the audience during the finals.
                    </li>
                    <li>
                        The finals will be streamed live on the YouTube channel of Pravega IISc.
                    </li>
                    <li>
                        More details of the Grand Finale will be updated on the webpage.

                    </li>
                </ul>
            </ol>
            For more details, refer to the detailed rules given in the quick links section above.
        </p>
		<h2> Prizes and awards</h2>
		<p>
		<ul>
			<li>
				Winners: ₹20K cash prize, along with the Winner's trophy and Merit Certificates
			</li>
			<li>
				Runners’ Up: ₹10K cash prize, along with the Runners' up trophy, Merit Certificates
			</li>
			<li>
				Second Runners’ Up: 5K Cash prize along with the Second Runners' up trophy, Merit Certificates
			</li>
            <li>
                Other finalists: Finalist Trophies and Merit Certificates
            </li>
			<li>
                All finalists receive a gift hamper with Pravega T-shirts, School bags and Books
			</li>
		</ul>
		</p>
        <p>
            Apart from that, all the participants who are coming to the campus on 4 Sep 2022 can have a campus tour of Indian Institute of Science and take part in the ongoing undergraduate fest, Pravega.<br>
            The names of the winners and their schools will be published on the website and given a shoutout on all social media platforms of Pravega.
        </p>
		<br>
        <h2>
            Miscellaneous
        </h2>
        <ul>
            <li>
                The participants are expected not to share or discuss answers with other teams for all the rounds.
            </li>
            <li>
                The participants are required to abide by the above rules and regulations. They will be informed of any changes made in the rules and regulations.
            </li>
            <li>
                Organizers reserve the right to change the rules and regulations at any point of time. In case of any conflict, the organizer's decision is final and binding.
            </li>
            <li>
                Quadsparks season 3 will be completely in English.
            </li>
        </ul>

		<h2> Coordinators </h2>
			<div class="contacts">
				<h5 style="color:white;">
				Senin Ahammed AP   email:<br>(seninahammed@iisc.ac.in)<br>
                Sukesh Tallapudi    email:<br>(sukesht@iisc.ac.in)
				</h5>
				<img src="/static/mail.png" alt="email">
				<a href="quadsparks.pravega@gmail.com">quadsparks.pravega@gmail.com</a>
			</div>
	</div>

</div>
</div>
<footer>
    <!-- Pravega. bottom bar -->
    <div class="container-fluid footer-pravega-bg">
        <div class="row footer-pravega-margin">
            <div class="col footer-pravega-col text-left">
                <a href="/">
                    <img src="/static/pub_assets/pravega_logo_bw.png" alt="Pravega 2022 Logo" style="width: 200px; height: auto; margin-bottom: 30px;">
                </a>
                <p class="footer-pravega-font" style="margin-left:7px;">&#169; copyright 2022 <br>All rights reserved.</p>
            </div>
            <div class="col footer-pravega-col text-left">
                <p class="footer-pravega-font-special">Navigate</p>
                <a class="footer-pravega-font" href="/">Home</a>
		<a class="footer-pravega-font" href="/#contactus"><br>Contact Us</a>
		<a class="footer-pravega-font" href="/aboutus"><br>About Us</a>
		<a class="footer-pravega-font" href="/refund"><br>Refund and Cancellation Policy</a>
		<a class="footer-pravega-font" href="/privacy"><br>Privacy Policy</a>
		<a class="footer-pravega-font" href="/terms"><br>Terms of service</a>
            </div>
            <div class="col footer-pravega-col-special text-left">
                <p class="footer-pravega-font-special">Follow Us</p>
		<a class="fa fa-facebook" href="https://www.facebook.com/PravegaIISc/"></a>
                <a class="fa fa-instagram" href="https://www.instagram.com/pravega.iisc" style="margin-left: 10px;"></a>
                <a class="fa fa-twitter" href="https://www.twitter.com/Pravega_IISc" style="margin-left: 10px;"></a>
                <a class="fa fa-youtube" href="https://www.youtube.com/channel/UCc-179ntmDu4l7i8LVbpYlQ" style="margin-left: 10px;"></a>
            </div>
        </div>
    </div>

</footer>
</body>
</html>
