<!doctype html>
<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- favicon -->
	<link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">

        <!-- Bootstrap support -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

        <!-- itc avant garde font-->
        <link href="https://fonts.cdnfonts.com/css/itc-avant-garde-gothic-std-book" rel="stylesheet" type="text/css">

        <!-- Icon library -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

        <link href="/static/pub_styling/scitech/menu.css" rel="stylesheet">
        <link href="/static/pub_styling/Pravega_footer.css" rel="stylesheet">
        <link href="/static/pub_styling/pravega_navbar.css" rel="stylesheet">

        <title>Sci-Tech | Pravega 2022</title>

    </head>

    <body background="/static/pub_assets/tempbackground.jpeg">

        <header>

            <!-- Pravega. Navbar-->
            <nav class="navbar navbar-expand-md navbar-dark justify-content-center fixed-top nav-pravega-bg">


                <div class="container-fluid">
                    <a class="navbar-brand nav-pravega-logo" href="/">
                        <img src="/static/pub_assets/pravega_logo_bw.png" alt="Pravega Logo" style="width: 200px; height: auto;">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="collapsibleNavbar">
                        <ul class="navbar-nav nav-pravega-position">
                            <li class="nav-item nav-pravega-font">
                                <a class="nav-link" href="/">Home</a>
                            </li>
                            <li class="nav-item nav-pravega-font">
                                <a class="nav-link" href="/#events">Events</a>
                            </li>
                            <li class="nav-item nav-pravega-font">
                                <a class="nav-link" href="/#contactus">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

        </header>

        <!-- scitech page -->
        <div class="container p-5">
            <p><br><br><br></p>
            <h1 class="text-center">Sci-Tech events</h1>
            <p class="text-center">For the inquisitive scientist in us all</p>
            <p class="text-center"><br>Welcome to the home of Pravega 2022 Science and Technological events.<br>
            Look out for our Quizzes, Competitions, Puzzles, and other Brainteasing events to feel right at home in India's largest Research Institute <br><br></p>
            <div class="row">

                <!--Pravega Innovation Summit -->
        <div class="col-lg-3">
            <a href="/scitech/pravegainnovationsummit" class="btn btn-secondary btn-lg eventcard">
                <div class="card career-card-custom-round bg-dark">
                    <img class="card-img-top img-fluid mx-auto d-block career-image" src="/static/img/scitech/piswhite.png" alt="full-stack card image" style="width:50%">
                    <div class="card-body">
            		<h4 class="text-center card-title">Pravega Innovation Summit</h4>
                    </div>
                </div>
            </a>
            <div class="container-fluid">
                <p><br></p>
            </div>
		</div>
        <!--Ideathon-->
        <div class="col-lg-3">
            <a href="/scitech/ideathon" class="btn btn-secondary btn-lg eventcard">
            <div class="card career-card-custom-round bg-dark">
                <img class="card-img-top img-fluid mx-auto d-block career-image" src="/static/img/scitech/ideathon.svg" alt="full-stack card image" style="width:50%">
                <div class="card-body">
                <h4 class="text-center card-title">Pravega Ideathon</h4>
                </div>
            </div>
            </a>
            <div class="container-fluid">
                <p><br></p>
            </div>
    </div>
        <!-- what would darwin do -->
               <div class="col-lg-3">
                    <a href="/scitech/whatwoulddarwindo" class="btn btn-secondary btn-lg eventcard">
                    <div class="card career-card-custom-round bg-dark">
                        <img class="card-img-top img-fluid mx-auto d-block career-image" src="/static/img/scitech/wwdd.png" alt="full-stack card image" style="width:45%">
                        <div class="card-body">
				<h4 class="text-center card-title">What Would Darwin Do</h4>

                        </div>
                    </div>
                    </a>
                    <div class="container-fluid">
                        <p><br></p>
                    </div>
                </div>
                <!-- quadsparks -->
               <div class="col-lg-3">
                    <a href="/scitech/quadsparks" class="btn btn-secondary btn-lg eventcard">
                    <div class="card career-card-custom-round bg-dark">
                        <img class="card-img-top img-fluid mx-auto d-block career-image" src="/static/img/scitech/quadspark.png" alt="full-stack card image" style="width:45%">
                        <div class="card-body">
				<h4 class="text-center card-title">Quadsparks</h4>

                        </div>
                    </div>
                    </a>
                    <div class="container-fluid">
                        <p><br></p>
                    </div>
                </div>
                
                <!-- exhibitions -->
               <div class="col-lg-3" width="100%">
                    <a href="/scitech/exhibitions" class="btn btn-secondary btn-lg eventcard container-fluid" width="100%">
                    <div class="card career-card-custom-round bg-dark">
                        <img class="card-img-top img-fluid mx-auto d-block career-image" src="/static/img/scitech/exhibitions.svg" alt="full-stack card image" style="width:45%">
                        <div class="card-body">
				<h4 class="text-center card-title">Exhibitions</h4>

                        </div>
                    </div>
                    </a>
                    <div class="container-fluid">
                        <p><br></p>
                    </div>
                </div>
		<!--Bad ad hoc hypothesis-->
               <div class="col-lg-3">
                <a href="/scitech/badadhochypotheses" class="btn btn-secondary btn-lg eventcard">
                <div class="card career-card-custom-round bg-dark">
                    <img class="card-img-top img-fluid mx-auto d-block career-image" src="/static/img/scitech/wwdd/darwin2.png" alt="full-stack card image" style="width:50%">
                    <div class="card-body">
            		<h4 class="text-center card-title">Bad Ad Hoc Hypotheses</h4>
                    </div>
                </div>
                </a>
                <div class="container-fluid">
                    <p><br></p>
                </div>
		</div>
        <!--Honourcode-->
            <div class="col-lg-3">
                    <a href="/scitech/honourcode" class="btn btn-secondary btn-lg eventcard">
                    <div class="card career-card-custom-round bg-dark">
                        <img class="card-img-top img-fluid mx-auto d-block career-image" src="/static/img/scitech/honourcode.png" alt="full-stack card image" style="width:50%">
                        <div class="card-body">
                        <h4 class="text-center card-title">Honour Code</h4>
                        </div>
                    </div>
                    </a>
                    <div class="container-fluid">
                        <p><br></p>
                    </div>
            </div>
                <!-- Pandora-->
               <div class="col-lg-3">
                    <a href="http://pandora.pravega.org" class="btn btn-secondary btn-lg eventcard">
                    <div class="card career-card-custom-round bg-dark">
                        <img class="card-img-top img-fluid mx-auto d-block career-image" src="/static/img/scitech/pandora.png" alt="full-stack card image" style="width:45%">
                        <div class="card-body">
				<h4 class="text-center card-title">Pioneering Pandora</h4>

                        </div>
                    </div>
                    </a>
                    <div class="container-fluid">
                        <p><br></p>
                    </div>
                </div>
                <!-- decoherence -->
               <div class="col-lg-3">
                    <a href="/scitech/decoherence" class="btn btn-secondary btn-lg eventcard">
                    <div class="card career-card-custom-round bg-dark">
                        <img class="card-img-top img-fluid mx-auto d-block career-image" src="/static/img/scitech/decoherence.png" alt="full-stack card image" style="width:45%">
                        <div class="card-body">
				<h4 class="text-center card-title">Decoherence</h4>

                        </div>
                    </div>
                    </a>
                    <div class="container-fluid">
                        <p><br></p>
                    </div>
                </div>
                 <!-- pale blue dot -->
               <div class="col-lg-3">
                <a href="/scitech/palebluedot" class="btn btn-secondary btn-lg eventcard">
                <div class="card career-card-custom-round bg-dark">
                    <img class="card-img-top img-fluid mx-auto d-block career-image" src="/static/img/scitech/palelogo.png" alt="full-stack card image" style="width:45%">
                    <div class="card-body">
            <h4 class="text-center card-title">Pale Blue Dot</h4>

                    </div>
                </div>
                </a>
                <div class="container-fluid">
                    <p><br></p>
                </div>
            </div>
        <!--Strainger things-->
        	<div class="col-lg-3">
        		<a href="/scitech/straingerthings" class="btn btn-secondary btn-lg eventcard">
                <div class="card career-card-custom-round bg-dark">
                    <img class="card-img-top img-fluid mx-auto d-block career-image" src="/static/img/scitech/straingerthings.svg" alt="full-stack card image" style="width:50%">
                    <div class="card-body">
            		<h4 class="text-center card-title">Strain-ger things</h4>
                    </div>
                </div>
                </a>
                <div class="container-fluid">
                    <p><br></p>
                </div>
		</div>
                <!-- chemenigma -->
                <div class="col-lg-3">
                    <a href="/scitech/chemenigma" class="btn btn-secondary btn-lg eventcard">
                    <div class="card career-card-custom-round bg-dark">
                        <img class="card-img-top img-fluid mx-auto d-block career-image" src="/static/pub_assets/chemenigma.png" alt="chemenigma logo" style="width:40%">
                        <div class="card-body">
                            <h4 class="text-center card-title">Chemenigma</h4>

                        </div>
                    </div>
                    </a>
                    <div class="container-fluid">
                        <p><br></p>
                    </div>
                </div>
                <!-- enumeration -->
               <div class="col-lg-3">
                    <a href="/scitech/enumeration" class="btn btn-secondary btn-lg eventcard">
                    <div class="card career-card-custom-round bg-dark">
                        <img class="card-img-top img-fluid mx-auto d-block career-image" src="/static/pub_assets/enumeration.png" alt="full-stack card image" style="width:45%">
                        <div class="card-body">
				<h4 class="text-center card-title">Enumeration</h4>

                        </div>
                    </div>
                    </a>
                    <div class="container-fluid">
                        <p><br></p>
                    </div>
                </div>
                <!-- bioblitz -->
               <div class="col-lg-3">
                    <a href="/scitech/bioblitz" class="btn btn-secondary btn-lg eventcard">
                    <div class="card career-card-custom-round bg-dark">
                        <img class="card-img-top img-fluid mx-auto d-block career-image" src="/static/img/scitech/bioblitz.png" alt="full-stack card image" style="width:45%">
                        <div class="card-body">
				<h4 class="text-center card-title">Bioblitz</h4>

                        </div>
                    </div>
                    </a>
                    <div class="container-fluid">
                        <p><br></p>
                    </div>
                </div>
                <!-- astrowiz -->
               <div class="col-lg-3">
                    <a href="/scitech/astrowiz" class="btn btn-secondary btn-lg eventcard">
                    <div class="card career-card-custom-round bg-dark">
                        <img class="card-img-top img-fluid mx-auto d-block career-image" src="/static/img/scitech/astrowiz.png" alt="full-stack card image" style="width:45%">
                        <div class="card-body">
				<h4 class="text-center card-title">AstroWiz</h4>

                        </div>
                    </div>
                    </a>
                    <div class="container-fluid">
                        <p><br></p>
                    </div>
                </div>
		<!-- Coming soon -->
                <div class="col-lg-3">
                    <div class="card career-card-custom-round bg-dark" id="comingsoon">
                        <img class="card-img-top img-fluid mx-auto d-block career-image" src="/static/pub_assets/vlogo.png" alt="V" style="width:35%">
                        <div class="card-body">
                            <h4 class="text-center card-title">More<br>Coming soon</h4>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <p><br></p>
                    </div>
                </div>
            <p class="text-center larger-text"><br>
                Follow us on Social media and keep checking this page to stay updated on more events!
                </p>
        </div>
        </div>




        <footer>

            <!-- Pravega. bottom bar -->
            <div class="container-fluid footer-pravega-bg">
                <div class="row footer-pravega-margin">
                    <div class="col footer-pravega-col text-left">
                        <a href="/">
                            <img src="/static/pub_assets/pravega_logo_bw.png" alt="Pravega 2022 Logo" style="width: 200px; height: auto; margin-bottom: 30px;">
                        </a>
                        <p class="footer-pravega-font" style="margin-left:7px;">&#169; copyright 2022 <br>All rights reserved.</p>
                    </div>
                    <div class="col footer-pravega-col text-left">
                        <p class="footer-pravega-font-special">Navigate</p>
                        <a class="footer-pravega-font" href="/">Home</a>
			<a class="footer-pravega-font" href="/#contactus"><br>Contact Us</a>
			<a class="footer-pravega-font" href="/aboutus"><br>About Us</a>
			<a class="footer-pravega-font" href="/refund"><br>Refund and Cancellation Policy</a>
			<a class="footer-pravega-font" href="/privacy"><br>Privacy Policy</a>
			<a class="footer-pravega-font" href="/terms"><br>Terms of service</a>
                    </div>
                    <div class="col footer-pravega-col-special text-left">
                        <p class="footer-pravega-font-special">Follow Us</p>
			<a class="fa fa-facebook" href="https://www.facebook.com/PravegaIISc/"></a>
                        <a class="fa fa-instagram" href="https://www.instagram.com/pravega.iisc" style="margin-left: 10px;"></a>
                        <a class="fa fa-twitter" href="https://www.twitter.com/Pravega_IISc" style="margin-left: 10px;"></a>
                        <a class="fa fa-youtube" href="https://www.youtube.com/channel/UCc-179ntmDu4l7i8LVbpYlQ" style="margin-left: 10px;"></a>
                    </div>
                </div>
            </div>
        </footer>
    </body>

</html>
