<!doctype html>
<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- favicon -->
	<link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">

        <!-- Bootstrap support -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

        <!-- itc avant garde font-->
        <link href="https://fonts.cdnfonts.com/css/itc-avant-garde-gothic-std-book" rel="stylesheet" type="text/css">

        <!-- Icon library -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

        <link href="/static/pub_styling/pravega_events.css" rel="stylesheet">
        <link href="/static/pub_styling/workshops/menu.css" rel="stylesheet">
        <link href="/static/pub_styling/Pravega_footer.css" rel="stylesheet">
        <link href="/static/pub_styling/pravega_navbar.css" rel="stylesheet">
	<!-- Google tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-237465825-1">
	</script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-237465825-1');
	</script>

        <title>Technical Workshops | Pravega 2022</title>

    </head>

    <body background="/static/img/workshops/generic_background.jpeg">

        <header>

            <!-- Pravega. Navbar-->
            <nav class="navbar navbar-expand-md navbar-dark justify-content-center fixed-top nav-pravega-bg">


                <div class="container-fluid">
                    <a class="navbar-brand nav-pravega-logo" href="/">
                        <img src="/static/pub_assets/pravega_logo_bw.png" alt="Pravega Logo" style="width: 200px; height: auto;">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="collapsibleNavbar">
                        <ul class="navbar-nav nav-pravega-position">
                            <li class="nav-item nav-pravega-font">
                                <a class="nav-link" href="/">Home</a>
                            </li>
                            <li class="nav-item nav-pravega-font">
                                <a class="nav-link" href="/#events">Events</a>
                            </li>
                            <li class="nav-item nav-pravega-font">
                                <a class="nav-link" href="/#contactus">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

        </header>
	<div class="backgroundimager">
	</div>

        <!-- workshop page -->
        <div class="container p-5">
            <p><br><br><br></p>
            <h1 class="text-center">Technical Workshops</h1>
            <div class="row align-items-center">

                <!--Radio Astronomy Workshop -->
                <div class="col-lg-4 col-sm-12 col-md-6">
                    <a href="https://www.meraevents.com/event/pvgwksp-tech" class="btn btn-secondary btn-lg eventcard">
                    <div class="">
                        <img class="card-img-top img-fluid mx-auto d-block career-image" src="/static/img/workshops/Technical/Radio Astronomy.jpg" alt="Tech Workshops icon" style="width:90%">
                        <div class="card-body">
                            <!-- add workshops link
			    -->
                            <h4 class="text-center card-title">Click to register</h4>
                        </div>
                    <div class="text-center" style="align:center; margin: auto; ">
                            <!-- add workshops link
			    -->
                            <a href="/files/workshops/Radio Astronomy Workshop.pdf" class="btn event-btn">Click here for Brochure</a>
                        </div>
                    </div>
                    </a>
                    <div class="container-fluid">
                        <p><br></p>
                    </div>
                </div>

                <!--Ethical Hacking Workshop -->
                <div class="col-lg-4 col-sm-12 col-md-6">
                    <a href="https://www.meraevents.com/event/pvgwksp-tech" class="btn btn-secondary btn-lg eventcard">
                    <div class="">
                        <img class="card-img-top img-fluid mx-auto d-block career-image" src="/static/img/workshops/Technical/Ethical Hacking.png" alt="Tech Workshops icon" style="width:90%">
                        <div class="card-body">
                            <!-- add workshops link
                            <h4 class="text-center card-title">Click here for more details</h4>
			    -->
                            <h4 class="text-center card-title">Click to register</h4>
                        </div>
                    <div class="text-center" style="align:center; margin: auto; ">
                            <!-- add workshops link
			    -->
                            <a href="/files/workshops/EthicalHacking-Offensive.pdf" class="btn event-btn">Click here for Brochure</a>
                        </div>
                    </div>
                    </a>
                    <div class="container-fluid">
                        <p><br></p>
                    </div>
                </div>

                <!--Block Chain Workshop -->
                <div class="col-lg-4 col-sm-12 col-md-6">
                    <a href="https://www.meraevents.com/event/pvgwksp-tech" class="btn btn-secondary btn-lg eventcard">
                    <div class="">
                        <img class="card-img-top img-fluid mx-auto d-block career-image" src="/static/img/workshops/Technical/Blockchain.png" alt="Tech Workshops icon" style="width:90%">
                        <div class="card-body">
                            <!-- add workshops link
                            <h4 class="text-center card-title">Click here for more details</h4>
			    -->
                            <h4 class="text-center card-title">Click to register</h4>

                        </div>
                    <div class="text-center" style="align:center; margin: auto; ">
                            <!-- add workshops link
			    -->
                            <a href="/files/workshops/Blockchain-2day.pdf" class="btn event-btn">Click here for Brochure</a>
                        </div>
                    </div>
                    </a>
                    <div class="container-fluid">
                        <p><br></p>
                    </div>
                </div>

                <!--Mind Control Robotics Workshop
                <div class="col-lg-4 col-sm-12 col-md-6">
                    <a href="https://www.meraevents.com/event/pvgwksp-tech" class="btn btn-secondary btn-lg eventcard">
                    <div class="">
                        <img class="card-img-top img-fluid mx-auto d-block career-image" src="/static/img/workshops/Technical/Mind Control Robotics.png" alt="Tech Workshops icon" style="width:90%">
                        <div class="card-body">
                            <h4 class="text-center card-title">Click to register</h4>
                        </div>
                    <div class="text-center" style="align:center; margin: auto; ">
                            <a href="/files/workshops/MIND CONTROLLED ROBOT.pdf" class="btn event-btn">Click here for Brochure</a>
                        </div>
                    </div>
                    </a>
                    <div class="container-fluid">
                        <p><br></p>
                    </div>
                </div>
		-->

                <!--POV Workshop
                <div class="col-lg-4 col-sm-12 col-md-6">
                    <a href="https://www.meraevents.com/event/pvgwksp-tech" class="btn btn-secondary btn-lg eventcard">
                    <div class="">
                        <img class="card-img-top img-fluid mx-auto d-block career-image" src="/static/img/workshops/Technical/Persistence of Vision.png" alt="Tech Workshops icon" style="width:90%">
                        <div class="card-body">
                        </div>
                    <div class="text-center" style="align:center; margin: auto; ">

                            <h4 class="text-center card-title">Click to register</h4>
                            <a href="/files/workshops/Persistence of Vision.pdf" class="btn event-btn">Click here for Brochure</a>
                        </div>
                    </div>
                    </a>
                    <div class="container-fluid">
                        <p><br></p>
                    </div>
                </div>
		-->

                <!--Android APP development Workshop -->
                <div class="col-lg-4 col-sm-12 col-md-6">
                    <a href="https://www.meraevents.com/event/pvgwksp-tech" class="btn btn-secondary btn-lg eventcard">
                    <div class="">
                        <img class="card-img-top img-fluid mx-auto d-block career-image" src="/static/img/workshops/Technical/Android App Development.png" alt="Tech Workshops icon" style="width:90%">
                        <div class="card-body">
                            <!-- add workshops link
                            <h4 class="text-center card-title">Click here for more details</h4>
			    -->
                        </div>
                    <div class="text-center" style="align:center; margin: auto; ">
                            <!-- add workshops link
			    -->
                            <h4 class="text-center card-title">Click to register</h4>
                            <a href="/files/workshops/Android App Development.pdf" class="btn event-btn">Click here for Brochure</a>
                        </div>
                    </div>
                    </a>
                    <div class="container-fluid">
                        <p><br></p>
                    </div>
                </div>

                <!--AI BASED robotics Workshop -->
                <div class="col-lg-4 col-sm-12 col-md-6">
                    <a href="https://www.meraevents.com/event/pvgwksp-tech" class="btn btn-secondary btn-lg eventcard">
                    <div class="">
                        <img class="card-img-top img-fluid mx-auto d-block career-image" src="/static/img/workshops/Technical/AI Based Robotics.png" alt="Tech Workshops icon" style="width:90%">
                        <div class="card-body">
                            <!-- add workshops link
                            <h4 class="text-center card-title">Click here for more details</h4>
			    -->

                            <h4 class="text-center card-title">Click to register</h4>
                        </div>
                    <div class="text-center" style="align:center; margin: auto; ">
                            <!-- add workshops link
			    -->
                            <a href="/files/workshops/AI Based Robotics.pdf" class="btn event-btn">Click here for Brochure</a>
                        </div>
                    </div>
                    </a>
                    <div class="container-fluid">
                        <p><br></p>
                    </div>
                </div>

                <!--Drone making and Flying Workshop -->
                <div class="col-lg-4 col-sm-12 col-md-6">
                    <a href="https://www.meraevents.com/event/pvgwksp-tech" class="btn btn-secondary btn-lg eventcard">
                    <div class="">
                        <img class="card-img-top img-fluid mx-auto d-block career-image" src="/static/img/workshops/Technical/Drone Making and Flying.png" alt="Tech Workshops icon" style="width:90%">
                        <div class="card-body">
                            <!-- add workshops link
                            <h4 class="text-center card-title">Click here for more details</h4>
			    -->
                            <h4 class="text-center card-title">Click to register</h4>

                        </div>
                    <div class="text-center" style="align:center; margin: auto; ">
                            <!-- add workshops link
			    -->
                            <a href="/files/workshops/Drone Making _ Flying.pdf" class="btn event-btn">Click here for Brochure</a>
                        </div>
                    </div>
                    </a>
                    <div class="container-fluid">
                        <p><br></p>
                    </div>
                </div>

                <!--IOT Workshop -->
                <div class="col-lg-4 col-sm-12 col-md-6">
                    <a href="https://www.meraevents.com/event/pvgwksp-tech" class="btn btn-secondary btn-lg eventcard">
                    <div class="">
                        <img class="card-img-top img-fluid mx-auto d-block career-image" src="/static/img/workshops/Technical/Internet of Things.png" alt="Tech Workshops icon" style="width:90%">
                        <div class="card-body">
                            <!-- add workshops link
                            <h4 class="text-center card-title">Click here for more details</h4>
			    -->
                            <h4 class="text-center card-title">Click to register</h4>

                        </div>
                    <div class="text-center" style="align:center; margin: auto; ">
                            <!-- add workshops link
			    -->
                            <a href="/files/workshops/Internet of Things.pdf" class="btn event-btn">Click here for Brochure</a>
                        </div>
                    </div>
                    </a>
                    <div class="container-fluid">
                        <p><br></p>
                    </div>
                </div>

                <!--Artificial Intelligence Workshop
                <div class="col-lg-4 col-sm-12 col-md-6">
                    <a href="https://www.meraevents.com/event/pvgwksp-tech" class="btn btn-secondary btn-lg eventcard">
                    <div class="">
                        <img class="card-img-top img-fluid mx-auto d-block career-image" src="/static/img/workshops/Technical/Artificial Intelligence.png" alt="Tech Workshops icon" style="width:90%">
                        <div class="card-body">
                            <h4 class="text-center card-title">Click to register</h4>

                        </div>
                    <div class="text-center" style="align:center; margin: auto; ">
                            <a href="/files/workshops/Artificial Intelligence.pdf" class="btn event-btn">Click here for Brochure</a>
                        </div>
                    </div>
                    </a>
                    <div class="container-fluid">
                        <p><br></p>
                    </div>
                </div>
		-->



                <!--Data Science Workshop -->
                <div class="col-lg-4 col-sm-12 col-md-6">
                    <a href="https://www.meraevents.com/event/pvgwksp-tech" class="btn btn-secondary btn-lg eventcard">
                    <div class="">
                        <img class="card-img-top img-fluid mx-auto d-block career-image" src="/static/img/workshops/Technical/Data Science.png" alt="Tech Workshops icon" style="width:90%">
                        <div class="card-body">
                            <!-- add workshops link
                            <h4 class="text-center card-title">Click here for more details</h4>
			    -->
                            <h4 class="text-center card-title">Click to register</h4>

                        </div>
                    <div class="text-center">
                            <!-- add workshops link
			    -->
                            <a href="/files/workshops/Data Science - Application in Bio-Medical.pdf" class="btn event-btn">Click here for Brochure</a>
                        </div>
                    </div>
                    </a>
                    <div class="container-fluid">
                        <p><br></p>
                    </div>
		</div>

                <!--ML Workshop -->
                <div class="col-lg-4 col-sm-12 col-md-6">
                    <a href="https://www.meraevents.com/event/pvgwksp-tech" class="btn btn-secondary btn-lg eventcard">
                    <div class="">
                        <img class="card-img-top img-fluid mx-auto d-block career-image" src="/static/img/workshops/Technical/Machine Learning.png" alt="Tech Workshops icon" style="width:90%">
                        <div class="card-body">
                            <!-- add workshops link
                            <h4 class="text-center card-title">Click here for more details</h4>
			    -->
                            <h4 class="text-center card-title">Click to register</h4>

                        </div>
                    <div class="text-center">
                            <!-- add workshops link
			    -->
                            <a href="/files/workshops/Machine Learning.pdf" class="btn event-btn">Click here for Brochure</a>
                        </div>
                    </div>
                    </a>
                    <div class="container-fluid">
                        <p><br></p>
                    </div>
                </div>

                <!--NLP Workshop
                <div class="col-lg-4 col-sm-12 col-md-6">
                    <a href="https://www.meraevents.com/event/pvgwksp-tech" class="btn btn-secondary btn-lg eventcard">
                    <div class="">
                        <img class="card-img-top img-fluid mx-auto d-block career-image" src="/static/img/workshops/Technical/Natural Language Processing.png" alt="Tech Workshops icon" style="width:90%">
                        <div class="card-body">
                            <h4 class="text-center card-title">Click to register</h4>

                        </div>
                    <div class="text-center">
                            <a href="/files/workshops/NLP.pdf" class="btn event-btn">Click here for Brochure</a>
                        </div>
                    </div>
                    </a>
                    <div class="container-fluid">
                        <p><br></p>
                    </div>
                </div>
		-->

                <!--Robotic Process Automation Workshop
                <div class="col-lg-4 col-sm-12 col-md-6">
                    <a href="https://www.meraevents.com/event/pvgwksp-tech" class="btn btn-secondary btn-lg eventcard">
                    <div class="">
                        <img class="card-img-top img-fluid mx-auto d-block career-image" src="/static/img/workshops/Technical/Robotic Process Automation.png" alt="Tech Workshops icon" style="width:90%">
                        <div class="card-body">
                            <h4 class="text-center card-title">Click to register</h4>

                        </div>
                    <div class="text-center">
                            <a href="/files/workshops/Robotics Process Automation.pdf" class="btn event-btn">Click here for Brochure</a>
                        </div>
                    </div>
                    </a>
                    <div class="container-fluid">
                        <p><br></p>
                    </div>
                </div>
		-->

	    </div>
	    </div>

	    </div>
            <p class="text-center larger-text"><br>
                Follow us on Social media and keep checking this page to stay updated on more events!<br>
                For any queries, you can mail us: <a style = "color:inherit" href ="mailto:pravega.workshop@gmail.com">pravega.workshop@gmail.com</a>
                </p>
        </div>

        <footer>

            <!-- Pravega. bottom bar -->
            <div class="container-fluid footer-pravega-bg">
                <div class="row footer-pravega-margin">
                    <div class="col footer-pravega-col text-left">
                        <a href="/">
                            <img src="/static/pub_assets/pravega_logo_bw.png" alt="Pravega 2022 Logo" style="width: 200px; height: auto; margin-bottom: 30px;">
                        </a>
                        <p class="footer-pravega-font" style="margin-left:7px;">&#169; copyright 2022 <br>All rights reserved.</p>
                    </div>
                    <div class="col footer-pravega-col text-left">
                        <p class="footer-pravega-font-special">Navigate</p>
                        <a class="footer-pravega-font" href="/">Home</a>
			<a class="footer-pravega-font" href="/#contactus"><br>Contact Us</a>
			<a class="footer-pravega-font" href="/aboutus"><br>About Us</a>
			<a class="footer-pravega-font" href="/refund"><br>Refund and Cancellation Policy</a>
			<a class="footer-pravega-font" href="/privacy"><br>Privacy Policy</a>
			<a class="footer-pravega-font" href="/terms"><br>Terms of service</a>
                    </div>
                    <div class="col footer-pravega-col-special text-left">
                        <p class="footer-pravega-font-special">Follow Us</p>
			<a class="fa fa-facebook" href="https://www.facebook.com/PravegaIISc/"></a>
                        <a class="fa fa-instagram" href="https://www.instagram.com/pravega.iisc" style="margin-left: 10px;"></a>
                        <a class="fa fa-twitter" href="https://www.twitter.com/Pravega_IISc" style="margin-left: 10px;"></a>
                        <a class="fa fa-youtube" href="https://www.youtube.com/channel/UCc-179ntmDu4l7i8LVbpYlQ" style="margin-left: 10px;"></a>
                    </div>
                </div>
            </div>
        </footer>
    </body>

</html>
