<!doctype html>
<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- favicon -->
	<link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">

        <!-- Bootstrap support -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

        <!-- itc avant garde font-->
        <link href="https://fonts.cdnfonts.com/css/itc-avant-garde-gothic-std-book" rel="stylesheet" type="text/css">

        <!-- Icon library -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

        <link href="/static/pub_styling/workshops/menu.css" rel="stylesheet">
        <link href="/static/pub_styling/Pravega_footer.css" rel="stylesheet">
        <link href="/static/pub_styling/pravega_navbar.css" rel="stylesheet">

        <title>Workshops | Pravega 2022</title>

    </head>

    <body background="/static/img/workshops/generic_background.jpeg">

        <header>

            <!-- Pravega. Navbar-->
            <nav class="navbar navbar-expand-md navbar-dark justify-content-center fixed-top nav-pravega-bg">


                <div class="container-fluid">
                    <a class="navbar-brand nav-pravega-logo" href="/">
                        <img src="/static/pub_assets/pravega_logo_bw.png" alt="Pravega Logo" style="width: 200px; height: auto;">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="collapsibleNavbar">
                        <ul class="navbar-nav nav-pravega-position">
                            <li class="nav-item nav-pravega-font">
                                <a class="nav-link" href="/">Home</a>
                            </li>
                            <li class="nav-item nav-pravega-font">
                                <a class="nav-link" href="/#events">Events</a>
                            </li>
                            <li class="nav-item nav-pravega-font">
                                <a class="nav-link" href="/#contactus">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

        </header>

        <!-- workshop page -->
        <div class="container p-5">
            <p><br><br><br></p>
            <h1 class="text-center">Workshops</h1>
            <p class="text-center">For the voracious learner in us all</p>
            <p class="text-center"><br>Welcome to the home of Pravega 2022 Workshops.<br>
            Look out for our Workshops: Opportunities to learn from experts. <br><br></p>
            <div class="row align-items-center">
                <!--Tech Workshop -->
                <div class="col">
                    <a href="/workshops/technical_series" class="btn btn-secondary btn-lg eventcard">
                    <div class="card career-card-custom-round bg-dark">
                        <img class="card-img-top img-fluid mx-auto d-block career-image" src="/static/img/workshops/technical_series.jpg" alt="Tech Workshops icon" style="width:70%">
                        <!--<div class="card-body">
                            <h4 class="text-center card-title">Technical Workshop Series</h4>

                        </div>-->
                    </div>
                    </a>
                    <div class="container-fluid">
                        <p><br></p>
                    </div>
                </div>
                <!--Bio Workshop -->
                <div class="col">
                    <a href="/workshops/biological_series" class="btn btn-secondary btn-lg eventcard">
                    <div class="card career-card-custom-round bg-dark">
                        <img class="card-img-top img-fluid mx-auto d-block career-image" src="/static/img/workshops/biological_series.png" alt="Edufabrica Bio Workshops icon" style="width:70%">
                        <!--<div class="card-body">
                            <h4 class="text-center card-title">Biological Workshop Series</h4>

                        </div>-->
                    </div>
                    </a>
                    <div class="container-fluid">
                        <p><br></p>
                    </div>
                </div>
            </div>

	    <!-- Edufabrica old workshops again -->

            <div class="row align-items-center">
                <!--Tech Workshop -->
                <div class="col">
                    <a href="https://www.instamojo.com/edufab/edufabrica-offline-workshop-series-with-prav/?ref=offer_page_more" class="btn btn-secondary btn-lg eventcard">
                    <div class="card career-card-custom-round bg-dark">
                        <img class="card-img-top img-fluid mx-auto d-block career-image" src="/static/img/workshops/edufabrica_tech_insta.jpg" alt="Tech Workshops icon" style="width:70%">
                        <!--<div class="card-body">
                            <h4 class="text-center card-title">Technical Workshop Series</h4>

                        </div>-->
                    </div>
                    </a>
                    <div class="container-fluid">
                        <p><br></p>
                    </div>
                </div>
                <!--Bio Workshop -->
                <div class="col">
                    <a href="https://www.instamojo.com/edufab/edufabrica-offline-biological-workshop-serie/?ref=offer_page_more" class="btn btn-secondary btn-lg eventcard">
                    <div class="card career-card-custom-round bg-dark">
                        <img class="card-img-top img-fluid mx-auto d-block career-image" src="/static/img/workshops/edufabrica_bio_insta.png" alt="Edufabrica Bio Workshops icon" style="width:70%">
                        <!--<div class="card-body">
                            <h4 class="text-center card-title">Biological Workshop Series</h4>

                        </div>-->
                    </div>
                    </a>
                    <div class="container-fluid">
                        <p><br></p>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <!--Techobytes Workshop -->
                <div class="col">
                    <a href="https://www.instamojo.com/tbytes/techo-workshop-series-at-iisc-bangalore-date/" class="btn btn-secondary btn-lg eventcard">
                    <div class="card career-card-custom-round bg-dark">
                        <img class="card-img-top img-fluid mx-auto d-block career-image" src="/static/img/workshops/techobytes.jpeg" alt="Edufabrica Bio Workshops icon" style="width:70%">
                        <!--<div class="card-body">
                            <h4 class="text-center card-title">Techobytes Workshop Series</h4>

                        </div>-->
                    </div>
                    </a>
                    <div class="container-fluid">
                        <p><br></p>
                    </div>
                </div>
                <!-- Coming soon -->
                <div class="col">
                    <div class="card career-card-custom-round bg-dark" id="comingsoon">
                        <img class="card-img-top img-fluid mx-auto d-block career-image" src="/static/pub_assets/vlogo.png" alt="V" style="width:35%">
                        <div class="card-body">
                            <h4 class="text-center card-title">Coming Soon</h4>

                        </div>
                    </div>
                    <div class="container-fluid">
                        <p><br></p>
                    </div>
                </div>
        	</div>
            <p class="text-center larger-text"><br>
                Follow us on Social media and keep checking this page to stay updated on more events!<br>
                For any queries, you can mail us: <a style = "color:inherit" href ="mailto:pravega.workshop@gmail.com">pravega.workshop@gmail.com</a>
                </p>
        </div>

        <footer>

            <!-- Pravega. bottom bar -->
            <div class="container-fluid footer-pravega-bg">
                <div class="row footer-pravega-margin">
                    <div class="col footer-pravega-col text-left">
                        <a href="/">
                            <img src="/static/pub_assets/pravega_logo_bw.png" alt="Pravega 2022 Logo" style="width: 200px; height: auto; margin-bottom: 30px;">
                        </a>
                        <p class="footer-pravega-font" style="margin-left:7px;">&#169; copyright 2022 <br>All rights reserved.</p>
                    </div>
                    <div class="col footer-pravega-col text-left">
                        <p class="footer-pravega-font-special">Navigate</p>
                        <a class="footer-pravega-font" href="/">Home</a>
			<a class="footer-pravega-font" href="/#contactus"><br>Contact Us</a>
			<a class="footer-pravega-font" href="/aboutus"><br>About Us</a>
			<a class="footer-pravega-font" href="/refund"><br>Refund and Cancellation Policy</a>
			<a class="footer-pravega-font" href="/privacy"><br>Privacy Policy</a>
			<a class="footer-pravega-font" href="/terms"><br>Terms of service</a>
                    </div>
                    <div class="col footer-pravega-col-special text-left">
                        <p class="footer-pravega-font-special">Follow Us</p>
			<a class="fa fa-facebook" href="https://www.facebook.com/PravegaIISc/"></a>
                        <a class="fa fa-instagram" href="https://www.instagram.com/pravega.iisc" style="margin-left: 10px;"></a>
                        <a class="fa fa-twitter" href="https://www.twitter.com/Pravega_IISc" style="margin-left: 10px;"></a>
                        <a class="fa fa-youtube" href="https://www.youtube.com/channel/UCc-179ntmDu4l7i8LVbpYlQ" style="margin-left: 10px;"></a>
                    </div>
                </div>
            </div>
        </footer>
    </body>

</html>
