<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Workshops | Pravega 2022 | IISc Bangalore UG fest</title>
	<link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">

    <!-- Main css -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/workshops/menustyle.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
	<script src="/static/scripts/navbar.js"></script>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Goldman&display=swap" rel="stylesheet">

</head>

<body>
	<div id="navbar">
		<a href="/"><img src="/static/img/logo.png" id="logo"></a>
		<a href="/#events" class="link">Events</a>
		<a href="/#contactus" class="link">Contact Us</a>
		<a href="/#sponsor" class="link">Sponsor Us</a>
	</div>
<div id="workshops_menu">

<div class="row">
	<div class="title_wrapper">
		<div class="col l2 hideonsmall">
			<img src="/static/img/workshops.png" height="120px">
		</div>
		<h1 id="heading">WORKSHOPS</h1>
	</div>
</div>
<div class="row">
	<div>
		<div class="col l3 m4 s6">
			<div class="box">
				<img src="/static/img/question-mark.svg" alt="Question Mark" width="193px">
			</div>
			<h5>Coming Soon</h5>
		</div>
		<div class="col l3 m4 s6">
			<div class="box">
				<img src="/static/img/question-mark.svg" alt="Question Mark" width="193px">
			</div>
			<h5>Coming Soon</h5>
		</div>
		<div class="col l3 m4 s6">
			<div class="box">
				<img src="/static/img/question-mark.svg" alt="Question Mark" width="193px">
			</div>
			<h5>Coming Soon</h5>
		</div>
		<div class="col l3 m4 s6">
			<div class="box">
				<img src="/static/img/question-mark.svg" alt="Question Mark" width="193px">
			</div>
			<h5>Coming Soon</h5>
		</div>
<!--	</div>
</div>
<div class="row">
	<div >  -->
		<div class="col l3 m4 s6">
			<div class="box">
				<img src="/static/img/question-mark.svg" alt="Question Mark" width="193px">
			</div>
			<h5>Coming Soon</h5>
		</div>
		<div class="col l3 m4 s6">
			<div class="box">
				<img src="/static/img/question-mark.svg" alt="Question Mark" width="193px">
			</div>
			<h5>Coming Soon</h5>
		</div>
		<div class="col l3 m4 s6">
			<div class="box">
				<img src="/static/img/question-mark.svg" alt="Question Mark" width="193px">
			</div>
			<h5>Coming Soon</h5>
		</div>
		<div class="col l3 m4 s6">
			<div class="box">
				<img src="/static/img/question-mark.svg" alt="Question Mark" width="193px">
			</div>
			<h5>Coming Soon</h5>
		</div>
	</div>
</div>


</div>

</body>
</html>
