<!DOCTYPE html>
<html ng-app='pravega'>


<!-- Title Page-->

<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-151194721-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-151194721-1');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description"
        content="Pravega is the biggest science fest in India hosted by the undergrad community of IISc Bangalore. Click to know more... ">
    <meta name="Pravega" content="Pravega">

    <!--favicon icon-->
    <link rel="icon" type="image/svg" href="../../img/pravega21_logo.svg"> <!-- take a favicon.img for favicon -->

    <title>Quadspark | Pravega 2021, IISc Bangalore</title>

    <!-- Main CSS-->
    <link
        href='https://fonts.googleapis.com/css?family=Abel|Source+Sans+Pro:400,300,300italic,400italic,600,600italic,700,700italic,900,900italic,200italic,200'
        rel='stylesheet' type='text/css'>
    <link href="../../css/all.css" rel="stylesheet">

    <!-- RPAY Script -->
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

</head>

<body ng-controller='quadSparkController'>

    <!--  preloader start -->
    <div id="tb-preloader">
        <div class="tb-preloader-wave"></div>
    </div>
    <!-- preloader end -->


    <div class="wrapper">

        <!--header start-->
        <a href="#cd-nav" class="cd-nav-trigger">Menu
            <span class="cd-nav-icon"></span>
            <svg x="0px" y="0px" width="54px" height="54px" viewBox="0 0 54 54">
                <circle r="50" fill="transparent"></circle>
            </svg>
        </a>

        <div id="cd-nav" class="cd-nav">
            <div class="cd-navigation-wrapper">
                <div class="cd-half-block">
                    <h2>Navigation</h2>
                    <nav>
                        <ul class="cd-primary-nav">
                            <li class="active"><a href="../../index.html">Home</a>
                            </li>
                            <li class="active"><a href="../science_eve.html">Science Events</a></li>
                            <li class="active"><a href="../cultural_eve.html">Cultural Events</a></li>
                            <li class="active"><a href="../tech_eve.html">Tech Events</a></li>
                            <li class="active"><a href="../../about_us.html">About</a>
                            </li>
                            <li class="active"><a href="../../contact_us.html">Contact us</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!--header end-->


        <!--body content start-->
        <section class="body-content">

            <section class="page-title dark">
                <img src="../../img/pravega21_logo.svg"
                    style='position:absolute!important; top:15px !important; left:15px !important; z-index: 1000 !important;'
                    width='8%' height='' alt='' />
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="text-uppercase">Quadspark</h3>
                            <ol class="breadcrumb">
                                <li><a href="../../index.html">Home</a></li>
                                <li><a href="../events.html">Events</a></li>
                                <li><a href="../science_eve.html">Science</a></li>
                                <li class="active">Quadspark</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>
            <!--header end-->


            <!--body content start-->
            <section class="body-content">

                <div class="container">
                    <div class="row ">

                        <div class="col-md-12">
                            <div class="portfolio-nav-row">
                                <div class="portfolio-nav left">

                                </div>
                            </div>
                        </div>

                        <div class="m-bot-100">
                            <div class="col-md-6">
                                <div class="full-width">
                                    <center>
                                        <br>
                                        <img src="../../img/events/quadspark-01.png" alt="">
                                    </center>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <br>
                                <h1 class="text-uppercase">Quadspark</h1>

                                <p>
                                    Pravega ‘21 invites the young geniuses of India to its school quiz competition,
                                    Quadspark, to compete with students from other cities. A quiz designed for students
                                    of classes 8, 9 and 10 to check your own understanding. Do you have a firm grasp on
                                    science? Pull your socks, put on your hats and get ready to face the heat!
                                </p>

                                <b><a href="#register">Click here to register</a></b>
                                <br>
                                <br>
                                <a href="pdfs/Quadspark_RulesAndRegulations.pdf">Click here to download the detailed
                                    rules and regulations</a>

                                <br>
                                <hr>
                                <br>

                                <h3>Timeline*</h3>

                                <center>
                                    <table border="2" style="text-align: center;">
                                        <colgroup>
                                            <col span="1" width="45%">
                                            <col span="1" width="55%">
                                        </colgroup>
                                        <tr>
                                            <td>Prelims</td>
                                            <td>20<sup>th</sup> June</td>
                                        </tr>
                                        <tr>
                                            <td>Results of Prelims</td>
                                            <td>End of June</td>
                                        </tr>
                                        <tr>
                                            <td>Interview</td>
                                            <td>10<sup>th</sup>, 11<sup>th</sup>, 17<sup>th</sup> and 18<sup>th</sup>
                                                July</td>
                                        </tr>
                                        <tr>
                                            <td>Results of Interview</td>
                                            <td>3<sup>rd</sup> Week of July</td>
                                        </tr>
                                        <tr>
                                            <td>Finals</td>
                                            <td>31<sup>st</sup> July</td>
                                        </tr>
                                    </table>
                                </center>
                                <br>
                                <p>
                                    *In view of the Covid-19 Pandemic, the Prelims and the Finals are to be conducted in
                                    the online mode.
                                </p>
                                <br>
                                <hr>
                                <br>

                                <h3>About Quadspark</h3>
                                <p>
                                    Quadspark is the science quiz competition held for high school students as a part of
                                    Pravega, the undergraduate Science Fest at the Indian Institute of Science,
                                    Bangalore. It is a three-stage event – The prelims, which involves a timed online
                                    quiz, with four sections in Science (Physics, Chemistry and Biology), Mathematics,
                                    Reasoning and Mental ability, and a special section which deals with Out of the box
                                    thinking. The top teams in the prelims shall be called for an interview. The top
                                    teams from the interview move on to the finals. <b>The finals will be held online,
                                        under the guidance of renowned quiz master, Vinay Mudaliar</b>. Rather than
                                    focusing on the rote learning of
                                    facts, Quadsparks focuses on your critical thinking and reasoning skills to arrive
                                    at the answer.
                                </p>
                                <p>
                                    The Quiz is conducted In 3 stages:
                                <ol>
                                    <li><b>Prelims:</b> All teams registered give the prelims examination. Examination
                                        is Online, Objective & Short answered with Non Routine Type Questions of Class
                                        9-10 Standard. Questions would be asked in 4 Papers – Science, Mathematics,
                                        Reasoning & Out-Of-The-Box. Each Papers ideally requires 1 hr to solve. We
                                        encourage inter-discussion among participants of a team. All 4 papers are given
                                        simultaneously & are to be submitted within a period of 1hr 15mins. (Extra 15min
                                        compensatory time is provided only for internet issues inclusive of 1hr 15mins).
                                        Detailed Prelims instruction will be available on the rules and regulations
                                        document.
                                    </li>
                                    <li><b>Interview:</b> Top Performers of the Prelims (Min 10% of Prelims) get called
                                        for interview. Details of team-interview will be updated in due course of time.
                                    </li>
                                    <li><b>Finals:</b> Based on combined scores of Prelims & Interview, Teams are
                                        selected for Finals. Details of finals will be updated in due course of time.
                                    </li>
                                    <br>
                                    More details on the mode of conduction for the three levels is given in the rules
                                    and regulations document.
                                </ol>
                                </p>

                                <br>
                                <hr>
                                <br>

                                <h3>Eligibility</h3>

                                <ul>
                                    <li>Students upto** Class 11<sup>th</sup>. (Question standard will be Non-Routine
                                        type
                                        question solvable by Class 9<sup>th</sup> - 10<sup>th</sup> grade students)
                                    </li>
                                    <li>Students passionate about Science</li>
                                </ul>
                                <br>
                                <p>
                                    ** By Upto Class 11<sup>th</sup>, we refer to students who will be going to Grade 7,
                                    8, 9, 10
                                    or 11 in Academic Year 2021-22. Similarly By Upto Class 10<sup>th</sup>, we refer to
                                    students
                                    who will be going to Grade 7, 8, 9 or 10 in Academic Year 2021-22
                                    <br>
                                    Detailed team formation rules are given in the rules and regulations document.
                                </p>
                                <br>
                                <p>The conditions for the team are:</p>
                                <ol>
                                    <li>The participants are required to participate in teams of four, with at least
                                        three among the four studying in classes 7, 8, 9 or 10 (including those giving
                                        their exams this year. There is a provision to include one team member who is
                                        studying at class XI, provided the rest are in the classes 7 ,8 ,9 and 10.</li>
                                    <li>Students can enter the competitions after they have paid a registration fess of
                                        ₹200 per team. </li>
                                    <li>The links for the questions will be given in the website on the dates for the
                                        quiz, in case of prelims. For the finals, and the finalists will be notified
                                        about exam procedure of the dates in due time.</li>
                                    <li>The students are requested to make sure that they have a proper internet
                                        connection during the prelims. Any excuses pertaining to connectivity will not
                                        be entertained.</li>
                                </ol>

                                <br>
                                <hr>
                                <br>

                                <h3>Prizes</h3>
                                <p>Total prizes worth Rs. 50,000 to be won!</p>
                                <b>Some of the prizes are:</b>
                                <ul>
                                    <li>Winning Team: Rs. 15,000</li>
                                    <li>1<sup>st</sup> Runner Up: Rs. 8,000</li>
                                    <li>2<sup>nd</sup> Runner Up: Rs. 4,000</li>
                                    <li>Certificate of Participation to all Candidates</li>
                                    <li>Certificate of Merit to all Candidates who qualify prelims</li>
                                    <li>Certificate of Excellence (Gold/Silver/Bronze) to all candidate who qualify for
                                        finals.</li>
                                    <li>Trophies for Winner & Runner Ups.</li>
                                    <li>IISc Merchandise </li>
                                    <li>Gift Prizes & Coupons</li>
                                    <br>
                                    More Details about prizes is available in the rules and regulations document.
                                </ul>
                                <br>
                                <hr>
                                <br>

                                <h3>Contact</h3>
                                <em>For any queries, contact us at</em>
                                <ul>
                                    <li><span>Email:</span><a href="mailto:quadspark@iisc.ac.in ?subject=subject text">
                                            quadspark@iisc.ac.in</a></li>
                                    </li>
                                    <li><span>Anand Santhosh :</span> 9845519837</li>
                                    <li><span>Debojjal Bagchi :</span> 8296866451 </li>
                                </ul>
                                <br>
                                <hr>
                                <br>

                                <center>
                                    <br>
                                    <img src="quadspark/quadspark_release.png" width="100%" height="100%">
                                </center>
                                <center>
                                    <br>
                                    <img src="../event_updates/quadspark-update.png" , width="100%" height="100%">
                                </center>

                                <br>
                                <hr>
                                <br>

                                <ul class=" portfolio-meta m-bot-30">
                                    <li><span> Category </span> Science</li>
                                    <li><span> Date</span> 20<sup>th</sup> June (Prelims), 1<sup>st</sup> week of July
                                        (Interview)
                                    </li>
                                    <li><span> Coordinators </span>Anand Santhosh and Debojjal Bagchi</li>
                                    <li><span> Contact Details </span> <a
                                            href="mailto:quadspark@iisc.ac.in ?subject=subject text">
                                            quadspark@iisc.ac.in</a></li>
                                </ul>
                                <hr>
                                <br>
                                <div class="card row"
                                    style="border-radius: 10px; border-style: solid; padding: 10px; border-width: 1px;">
                                    <form id="register" ng-submit='pay();'>
                                        <div class="form-group">
                                            <h1>Register now!</h1>
                                        </div>
                                        <!-- Email -->
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Email address</label>
                                            <input type="email" class="form-control" id="exampleInputEmail1"
                                                aria-describedby="emailHelp" placeholder="Enter email" ng-model='email'
                                                required>
                                            <small id="emailHelp" class="form-text text-muted">We'll never share your
                                                email with anyone else.</small>
                                        </div>
                                        <!-- Names -->
                                        <div class="form-group">
                                            <label for="names">Names of Participants</label>
                                            <input type="text" class="form-control" id="names"
                                                aria-describedby="nameHelp" placeholder="Enter names" ng-model='name'
                                                required>
                                            <small id="namesHelp" class="form-text text-muted">Separate with commas.
                                                (Name Surname, Name Surname...)</small>
                                        </div>

                                        <!-- Grades -->
                                        <div class="form-group">
                                            <label for="grades">Grades of Participants</label>
                                            <input type="text" class="form-control" id="grades"
                                                aria-describedby="gradesHelp" placeholder="Enter grades"
                                                ng-model='grades' required>
                                            <small id="gradesHelp" class="form-text text-muted">Separate with commas.
                                                (Grade, Grade...)</small>
                                        </div>

                                        <!-- phones -->
                                        <div class="form-group">
                                            <label for="phones">Contact Number</label>
                                            <input type="number" class="form-control" id="phones"
                                                aria-describedby="phoneHelp" placeholder="Enter phone number"
                                                ng-model="phone" required>
                                            <small id="phonesHelp" class="form-text text-muted">Secondary mode of
                                                contact.</small>
                                        </div>
                                        <div class="form-group">
                                            <label>Registration Fee</label>
                                            <input class="form-control" type="text" placeholder="Readonly input here…"
                                                value="Rs. 200" readonly>
                                            <small class='form-text text-muted'>The awards are cash prizes :)</small>
                                        </div>
                                        <div class="form-group mx-auto">
                                            <button class='btn btn-block bg-info mx-auto text-dark'>
                                                <h5>Proceed to Checkout</h5>
                                                <img src="https://upload.wikimedia.org/wikipedia/en/8/89/Razorpay_logo.svg"
                                                    style="width:30%" alt="Responsive image">

                                            </button>
                                        </div>
                                        <div class="form-group ">
                                            <p style="text-align: center;">Payments are made through a secure gateway powered by Razorpay. All erroneous transaction will be refunded in full.</p>
                                        </div>
                                        <div class="form-group">
                                            <div class="alert alert-success" ng-show="success" role="alert">
                                                {{success}}
                                            </div>
                                            <div class="alert alert-danger" ng-show="failure" role="alert">
                                                {{failure}}
                                            </div>
                                        </div>
                                </div>
                            </div>
                            </form>

                        </div>


                    </div>

                </div>
    </div>
    <hr>


    </section>
    <!--body content end-->

    <!--footer start 1-->
    <footer id="footer" class="dark text-center short-pad footer-6">
        <div class="container">
            <a href="../../index.html" class="footer-logo">
                <img src="../../img/footer_pravega21.png" alt="" height="120px" width="250px" />
            </a>

            <div class="col-md-6">
                <div class="copyright">
                    &copy; Pravega 2021.
                </div>
                <div class="copyright-sub-title text-uppercase">
                    The Biggest Science Fest is back!!
                </div>
            </div>
            <div class="col-md-6">
                <div class="social-link pull-right circle ">
                    <a href="https://www.facebook.com/PravegaIISc/"><i class="fa fa-facebook"></i></a>
                    <a href="https://twitter.com/PravegaIISc"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.instagram.com/pravega.iisc/?hl=en"><i class="fa fa-instagram"></i></a>
                    <a href="https://www.youtube.com/channel/UCc-179ntmDu4l7i8LVbpYlQ"><i class="fa fa-youtube"></i></a>
                </div>
            </div>


        </div>
    </footer>
    <!--footer 1 end-->

    </div>


    <script src="../../js/jquery-1.10.2.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/menuzord.js"></script>
    <script src="../../js/jquery.flexslider-min.js"></script>
    <script src="../../js/owl.carousel.min.js"></script>
    <script src="../../js/jquery.isotope.js"></script>
    <script src="../../js/jquery.magnific-popup.min.js"></script>
    <script src="../../js/smooth.js"></script>
    <script src="../../js/wow.min.js"></script>
    <script src="../../js/imagesloaded.js"></script>
    <!--common scripts-->
    <script src="../../js/scripts.js?6"></script>


    <!-- Superpowered by AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="../../superpower/forms.js"></script>

    <script>
        jQuery(document).ready(function ($) {
            var isLateralNavAnimating = false;

            //open/close lateral navigation
            $('.cd-nav-trigger').on('click', function (event) {
                event.preventDefault();
                //stop if nav animation is running
                if (!isLateralNavAnimating) {
                    if ($(this).parents('.csstransitions').length > 0) isLateralNavAnimating = true;

                    $('body').toggleClass('navigation-is-open');
                    $('.cd-navigation-wrapper').one('webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend', function () {
                        //animation is over
                        isLateralNavAnimating = false;
                    });
                }
            });
        });
    </script>



</body>

</html>
