<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Enumeration Registration</title>

    <!-- Main css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/scitech/formstyle.css') }}">

    <!-- Main css -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Goldman&display=swap" rel="stylesheet">
</head>
<body>
	<div id="navbar">
		<a href="/">
		<img src="{{ url_for('static', filename='img/logo.png') }}" height="100px" >
		</a>
		<div class="notimg">
			<a href="/" class="navbaritem">Events</a>
			<a href="/" class="navbaritem">Contact Us</a>
			<a href="/scitech" class="navbaritem">Sci Tech</a>
		</div>
	</div>
    <div id="form">
		<div id="box">
        <form method="POST">
			<h1 style="font-family: Casanova Scotia, sans-serif;">Generic paid scitech regisration</h1>
			Enumeration <br>
			Enumeration <br>
			Enumeration <br>
			Fees = Rs.200<br>
			<a href="https://www.pravega.org/events/science/enumeration">website</a>. :p <br>
			Contact us at: <a href="mailto:chemenigma.pravega@gmail.com">enumeration.pravega@gmail.com</a> <br><br>
			Participant 1 Name: <input type="text" name="participant1" id="p1" placeholder="Name of Participant 1" required=""> <br>
			Participant 2 Name: <input type="text" name="participant2" id="p2" placeholder="Name of Participant 2"> <br><br>
			Team Name: <input type="text" name="team" id="t1" placeholder="Chem Chums"> <br><br>
			School/ College of Participant 1: <input type="text" name="school1" id="sch1" placeholder="School/ College of Participant 1" required> <br>
			School/ College of Participant 2: <input type="text" name="school2" id="sch2" placeholder="School/ College of Participant 2"> <br><br>
			Email ID of Participant 1: <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="emailp1" id="email1" placeholder="Your Email" required> <br>
			Email ID of Participant 2: <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="emailp2" id="email2" placeholder="Your Email"> <br><br>
			Phone Number of Participant 1: <input type="text" pattern="^[0-9]{10}$" name="mobile1" id="mobile1" placeholder="Mobile Number" required> <br>
			Phone Number of Participant 2: <input type="text" pattern="^[0-9]{10}$" name="mobile2" id="mobile2" placeholder="Mobile Number"> <br><br>
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        <ul class=flashes>
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                        </ul>
                        {% endif %}
                        {% endwith %}
    			    <script
    			        src="https://checkout.razorpay.com/v1/checkout.js"
    			        data-amount="20000"
    			        data-key="rzp_live_jEr5MWFDFyEN8f"
    			        data-name="Enumeration Fees"
    			        data-description="Purchase Description"
    			        data-netbanking="true"
    			        data-description="Fees for enumeration, by pravega IISc"
    			        data-notes.shopping_order_id="21">
    			    </script>
    			    <input type="hidden" name="shopping_order_id" value="21" class="submit">
        </form> <br>
		</div>
    </div>
