.index1{
	background-image: url('../pub_assets/background1.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center;
	height: 100vh;
	color: yellow;
}

#pingus{
	width: 20%;
}

#logo1 {
	max-width:700px;
	float: top;
}

#logo2 {
	width:100%;
	margin-top: auto;
	margin-left:auto;
	margin-right:auto;
	vertical-align: bottom;
	position: absolute;
	bottom: 5%;

}
