<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">


	<link rel="stylesheet" href="{{ url_for('static', filename='css/recreational/valstyle.css') }}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Goldman&display=swap" rel="stylesheet">

	<!-- Bootstrap support -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous">
	</script>

	<!-- itc avant garde font-->
	<link href="https://fonts.cdnfonts.com/css/itc-avant-garde-gothic-std-book" rel="stylesheet" type="text/css">

	<!-- Icon library -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

	<link href="/static/pub_styling/recreational/menu.css" rel="stylesheet">
	<link href="/static/pub_styling/Pravega_footer.css" rel="stylesheet">
	<link href="/static/pub_styling/pravega_navbar.css" rel="stylesheet">

	<title>Valorant | Recreational | Pravega 2022 | IISc Bangalore UG fest</title>


</head>

<body>
	<!-- Pravega. Navbar-->
	<header>
		<nav class="navbar navbar-expand-md navbar-dark justify-content-center fixed-top nav-pravega-bg">
			<div class="container-fluid">
				<a class="navbar-brand nav-pravega-logo" href="/">
					<img src="/static/pub_assets/pravega_logo_bw.png" alt="Pravega Logo"
						style="width: 200px; height: auto;">
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
					data-bs-target="#collapsibleNavbar">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="collapsibleNavbar">
					<ul class="navbar-nav nav-pravega-position">
						<li class="nav-item nav-pravega-font">
							<a class="nav-link" href="/">Home</a>
						</li>
						<li class="nav-item nav-pravega-font">
							<a class="nav-link" href="/#events">Events</a>
						</li>
						<li class="nav-item nav-pravega-font">
							<a class="nav-link" href="/#contactus">Contact Us</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

	</header>



	<div class="container-fluid">
		<div class="row" style="margin-top:100px;">
			<div class="col-lg-3">
				<img src='/static/img/recreational/valorantlogo.png' alt='LOGO' style="width:100%;">
			</div>
			<div class="col-lg-9">
				<h1 id="heading">Pravega Valorant</h1>
				<h4 id="subheading">Brace your aim</h4>
			</div>

		</div>
		<div class="row">
			<div class="col-lg-3 col-sm-6 order-sm-1">
				<div class="box">
					<h2> Timeline </h2>
					<hr>
					<b>Qualifiers Date: </b>15<sup>th</sup> to 21<sup>st</sup> August 2022
					<b>Finals Date: </b> 22<sup>nd</sup> to 28<sup>th</sup> August 2022
					<br />
					<b>Time: </b> 10 PM
				</div>
				<div class="box" id="registrationbox">
					<h2> Quick Links </h2>
					<hr>
					<a href='https://tripetto.app/run/4RVLMFBGB3'>
						<div class="clickme submit">
							<h4 style="text-align:center; color:white;"> Register here </h4>
						</div>
					</a>
					<a href='/files/Valorant_Rules.pdf'>
						<div class="clickme submit">
							<h4 style="text-align:center; color:white;"> Rules and Guidelines </h4>
						</div>
					</a>
				</div>
			</div>
			<div class="box col-lg-9 col-sm-6 order-sm-2" id="main">

				<h2>Eligibility</h2>
				<p>
					<ul>
						<li>Any team whose all players have a competitive rank in Valorant is eligible to participate.</li>							
					</ul>
                </p>

				<h2>Registration</h2>
				<p>
					<ul>
						<li>The entire team must register by August 13th at 11:59 pm
							IST by filling out the attached form.
							</li><li>There is no registration fee.
							</li><li>5 player registration is necessary in one form, if the team
							wishes then it can have a sixth registered player as a
							substitute (not coach). Players can find teammates on our
							discord server if they do not have a 5-player team
							</li><li>Registrations will be capped to the first 64 teams.
							</li><li>If you wish to continue form filling sometime later, it is
							must to pause the form by clicking pause button under
							current section. Otherwise, the draft of your form will not
							be saved.</li>							
					</ul>
				<b>THE PLAYERS MUST JOIN OUR DISCORD SERVER DURING THE
					TOURNAMENT, AS ALL THE LOGISTICAL INFORMATION WILL
					BE SHARED THERE ONLY</b>
                </p>

                <h2>Rules</h2>
                <p>
                    <ul>
                        <li> It is a standard 5v5 overtime-enabled match.
							</li><li>We shall have moderators overseeing each match, so any
							attempt to cheat will lead to disqualification.
							</li><li>Any toxicity directed towards either one’s teammates or
							opponents will not be tolerated and can lead to
							disqualification according to moderators’ discretion.
							</li><li>Ensure that the details provided in the form are correct,
							including case sensitivity in one’s Riot IDs. Outliers will be
							kicked from the tournament.
							</li><li>All arrangements regarding network connection and
							gaming hardware would be the sole responsibility of the
							participants.
							</li><li>Any requests for match pause other than timeout (e.g.,
							due to afk teammates) may or may not be entertained at
							moderators’ discretion and may even lead to the
							continuation of unbalanced matches (e.g., 4v5).
							</li><li>After 15 mins of scheduled match time, if all five team
							players cannot show up in the moderator’s lobby, then a
							loss would be considered for that team in the match</li>
                    </ul>
                    Here are the detailed <a href='/files/Valorant_Rules.pdf'>Rules and Guidelines</a>. Please go through the document.
                </p>
				<h3> Prizes</h3>
				<p>
					<ul>
						<li>After the Finals, cash prizes will be awarded to the top
							three teams as follows:
							</li><li>1<sup>st</sup> place - ₹ 20,000
							</li><li>2<sup>nd</sup> place - ₹ 12,000
							</li><li>3<sup>rd</sup> place - ₹ 8,000</li>
					</ul>
				</p>
				<br>

				<h2> Coordinator </h2>
				<div class="contacts col">
					<h5 style="color:white;">
						Diyanshu
					</h5>
                    <img src="/static/mail.png" alt="email">
					<a href="mailto:diyanshus@iisc.ac.in">diyanshus@iisc.ac.in</a>
				</div>
			</div>

		</div>
	</div>
	<footer>
		<!-- Pravega. bottom bar -->
		<div class="container-fluid footer-pravega-bg">
			<div class="row footer-pravega-margin">
				<div class="col footer-pravega-col text-left">
					<a href="/">
						<img src="/static/pub_assets/pravega_logo_bw.png" alt="Pravega 2022 Logo"
							style="width: 200px; height: auto; margin-bottom: 30px;">
					</a>
					<p class="footer-pravega-font" style="margin-left:7px;">&#169; copyright 2022 <br>All rights
						reserved.</p>
				</div>
				<div class="col footer-pravega-col text-left">
					<p class="footer-pravega-font-special">Navigate</p>
					<a class="footer-pravega-font" href="/">Home</a>
					<a class="footer-pravega-font" href="/#contactus"><br>Contact Us</a>
					<a class="footer-pravega-font" href="/aboutus"><br>About Us</a>
					<a class="footer-pravega-font" href="/refund"><br>Refund and Cancellation Policy</a>
					<a class="footer-pravega-font" href="/privacy"><br>Privacy Policy</a>
					<a class="footer-pravega-font" href="/terms"><br>Terms of service</a>
				</div>
				<div class="col footer-pravega-col-special text-left">
					<p class="footer-pravega-font-special">Follow Us</p>
					<a class="fa fa-facebook" href="https://www.facebook.com/PravegaIISc/"></a>
					<a class="fa fa-instagram" href="https://www.instagram.com/pravega.iisc"
						style="margin-left: 10px;"></a>
					<a class="fa fa-twitter" href="https://www.twitter.com/Pravega_IISc" style="margin-left: 10px;"></a>
					<a class="fa fa-youtube" href="https://www.youtube.com/channel/UCc-179ntmDu4l7i8LVbpYlQ"
						style="margin-left: 10px;"></a>
				</div>
			</div>
		</div>

	</footer>
</body>

</html>
