<!DOCTYPE html>
<html lang="en" ng-app="pravega">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Pravega is the country's largest college fest hosted by Undergraduates at IISc">
    <title>Event Site - Pravega'22</title>

    <!-- Materialize CSS -->
    <link rel="stylesheet preconnect"
        href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-173559842-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-173559842-2');
    </script>

</head>

<style>
    p {
        text-align: justify;
    }

    a {
        color: #2662a2;
    }

    a:hover {
        color: #04add6;
    }

    body {
        background: url("https://www.toptal.com/designers/subtlepatterns/patterns/interlaced.png");
    }
</style>

<body ng-controller="eventPage" style="max-width: 100vw;">
    <!-- Navbar -->
    <div class="navbar-fixed">
        <nav class="row">
            <div class="nav-wrapper col s12 pri">
                <a href="/" class="brand-logo left hide-on-med-and-down">
                    <img style="height: 50px" class="responsive-img" src="/img/pravega/pravega21_logo_trans.png"
                        alt="Logo Image" />
                </a>
                <div class="hide-on-large-only">
                    <a href="/" class="breadcrumb">
                        <img style="height:2em" class="responsive-img" src="/img/pravega/pravega21_logo_circular.png"
                            alt="Logo Image" />
                    </a>
                    <a href="#!" class="breadcrumb"
                        ng-href="/../../{{category}}/menu.html">{{category.charAt(0).toUpperCase() +
                        category.slice(1)}}</a>
                    <a href="#!" class="breadcrumb" style="text-transform: capitalize;">{{eventName}}</a>
                </div>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a ng-href="/../../{{category}}/menu.html">{{category.charAt(0).toUpperCase() +
                            category.slice(1)}} Events</a></li>
                    <li><a href="/../../#launchpad">Launchpad</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <!-- Title Image Section -->
    <div class="shiny">
        <div class="container" style="padding: 10px;">
            <h2 class="center uppercase shiny-lr hide-on-small-only" data-aos="fade-left" data-aos-duration="900">
                {{event.name}}
            </h2>
            <h3 class="center uppercase shiny-lr hide-on-med-and-up" data-aos="fade-left">
                {{event.name}}
            </h3>
            <h5 class="center subheading frosted shiny-rl font-monty" data-aos="fade-right" data-aos-delay="300">
                {{event.tagline}}
            </h5>
        </div>
    </div>

    <!-- Description -->
    <div class="event_content row container">

        <div class="col l9 s12 row">

            <!-- Welcome -->
            <div class="col l12 s12 body" data-aos="fade-right" data-aos-delay="500">
                <h3>Welcome</h3>
                <div ng-repeat="line in event.description">
                    <div style="text-align: justify" ng-bind-html="htmlize(line);"></div>
                    <br>
                </div>
                <div np-show="{{event.subevents.length > 0}}">
                    <ol>
                        <li ng-repeat="sub in event.subevents">
                            <a ng-href="#{{sub.name}}">{{sub.name}}</a>
                        </li>
                    </ol>
                </div>
            </div>

            <!-- Timeline on mobile -->
            <div class="col s12 center hide-on-large-only scrollspy">
                <h5 ng-show="event.sponsor" class="left">Sponsored by</h5>
                <img src="/img/sponsors/tiaan.png" class="responsive-img" alt="Sponsor's Image" ng-show="event.sponsor"
                    style="max-width: 80vw; max-height: 30vh; ">
                <h4 class="valign-wrapper" data-aos="fade-left" data-aos-delay="300">
                    Timeline <span class="new badge pulse"></span>
                </h4>

                <div class="divider"></div>

                <ul class="timeline">
                    <li class="timeline" ng-repeat="event in event.events track by $index" data-aos="flip-left"
                        data-aos-anchor-placement="bottom-bottom" data-aos-delay="{{$index + 5}}00">
                        <h6>{{event.name}}</h6>
                        <span ng-bind-html="htmlize(event.date)"></span>
                        <br>
                        <br>
                    </li>
                </ul>
            </div>

            <!-- Modules -->
            <div class="col l12 s12 body">
                <div ng-repeat="module in event.modules">
                    <!-- Heading -->
                    <div ng-show="{{module.heading !== undefined}}">
                        <h5>{{module.heading}}</h5>
                    </div>

                    <!-- Content -->
                    <div ng-show="{{module.content !== undefined}}">
                        <div style="text-align: justify; font-weight: 400;" ng-bind-html="htmlize(module.content)">
                        </div>
                    </div>

                    <div ng-show="{{module.images !== undefined}}">
                        <div ng-repeat="image in module.images" class="center">
                            <div class="hide-on-med-and-down">
                                <img class="responsive-img" style="width: 50%; margin: 5vh"
                                    src="{{path}}{{image.file}}">
                            </div>
                            <div class="hide-on-large-only">
                                <br>
                                <img class="responsive-img" src="{{path}}{{image.file}}">
                                <br>
                            </div>
                        </div>
                    </div>

                    <!-- Table -->
                    <div ng-show="{{module.table !== undefined}}">
                        <br>
                        <table>
                            <tr>
                                <th ng-repeat="header in module.table.headers">{{header}}</th>
                            </tr>
                            <tr ng-repeat="row in module.table.rows">
                                <td ng-repeat="element in row">{{element}}</td>
                            </tr>
                        </table>
                        <br>
                    </div>

                    <!-- Lists -->
                    <div ng-show="{{module.lists !== undefined}}">
                        <div ng-repeat="list in module.lists">
                            <br>
                            <div ng-show="{{list.header !== undefined}}">
                                <b>{{list.header}}</b>
                            </div>
                            <ol>
                                <li ng-repeat="point in list.points">
                                    <div style="text-align: justify; display: inline" ng-bind-html="htmlize(point)">
                                    </div>
                                </li>
                            </ol>
                        </div>
                    </div>

                    <!-- Talks -->
                    <div ng-show="{{module.talks !== undefined}}">
                        <div ng-repeat="talk in module.talks">
                            <div class="card blue darken-2">
                                <div class="card-content white-text">
                                    <span class="card-title">{{talk.topic}}</span>
                                    <b ng-bind-html="htmlize(talk.speaker)">By {{talk.speaker}}</b>
                                    <br> <br>
                                    <p>Date and Time: {{talk.date}}</p>
                                    <p>Meeting link: <a style="color: yellow" href="{{talk.meeting_link}}"
                                            target="_blank">Click here to join</a></p>
                                    <br>
                                    <p ng-show="{{talks.abstract !== undefined}}">
                                        <b>Abstract:</b> {{talk.abstract}}
                                    </p>
                                    <br>
                                    <p ng-show="{{talks.about !== undefined}}">
                                        <b>About the speaker:</b> {{talk.about}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>

                    <!-- Links -->
                    <div ng-show="{{module.links !== undefined}}">
                        <br>
                        <div ng-repeat="link in module.links">
                            <div ng-show="{{link.file !== undefined}}">
                                <a ng-href="{{path}}{{link.file}}"
                                    class="btn black-text sl-round thin-border button-link">
                                    <i class="material-icons left">
                                        attachment
                                    </i>
                                    {{link.text}}
                                </a>
                            </div>
                            <div ng-show="{{link.url !== undefined}}">
                                <a ng-href=" {{link.url}}" target="_blank"
                                    class="btn-flat shiny button-link">{{link.text}}</a>
                            </div>
                            <br>
                        </div>
                    </div>
                    <br>
                </div>
            </div>

            <!-- Subevents -->
            <div class="col l12 s12 card-panel sl-round" ng-repeat="subevent in event.subevents track by $index"
                data-aos="fade-up" data-aos-delay="600">
                <p class="font-monty" style="font-weight: 900;">Event {{$index + 1}}</p>
                <h4 id="{{subevent.name}}" class="nomargin-top">
                    {{subevent.name}}
                    <a class="right" ng-href="#{{subevent.name}}">#</a>
                    <a class="right" ng-href="#{{subevent.name}}"><i class="material-icons">share</i>&nbsp;
                    </a>
                </h4>
                <p>
                <div class="chip shiny poppins" style="font-weight: bolder;">
                    <i class="close material-icons">event</i>
                    {{subevent.startDate | date: 'dd MMM'}} - {{subevent.endDate | date: 'dd MMM'}}
                </div>
                </p>
                <div ng-bind-html="htmlize(subevent.description)"></div>
                <a href="#" class="shiny rounded btn right black-text poppins" style="font-weight: bold;">Register</a>
                <br>
                <br>
                <br>
            </div>

            <!-- Divider -->
            <div class="col l12">
                <br>
                <div class="divider"></div>
            </div>

            <!-- Contact -->
            <div class="col l12 s12 row" data-aos="fade-up">
                <h4 class="col s12">About</h4>
                <div class="col l3 s6">
                    <h6>
                        Coordinators
                    </h6>
                </div>
                <div class="col l3 left s6">
                    <ul style="list-style-type: circle;">
                        <li ng-repeat="coord in event.coords">
                            <h6>{{coord}}</h6>
                        </li>
                    </ul>
                </div>
                <div class="col l6 s12">
                    <h6>
                        Contact
                    </h6>
                    <h6>
                        <a ng-href="mailto:{{event.email}}" class="" type="mail">{{event.email}}</a>
                    </h6>
                </div>
            </div>


        </div>

        <!-- Timeline on Desktop -->
        <div class="col l3">
            <div class="col l12 m3 center hide-on-med-and-down">
                <h4 ng-show="event.sponsor">Sponsored by</h4>
                <img src="/img/sponsors/tiaan.png" class="responsive-img" alt="Sponsor's Image" ng-show="event.sponsor">
                <h4 class="valign-wrapper" data-aos="fade-left" data-aos-delay="300">
                    Timeline <span class="new badge pulse"></span>
                </h4>

                <div class="divider"></div>

                <ul class="timeline">
                    <li class="timeline" ng-repeat="event in event.events track by $index" data-aos="flip-left"
                        data-aos-anchor-placement="bottom-bottom" data-aos-delay="{{$index + 5}}00">
                        <h6>{{event.name}}</h6>
                        <div ng-bind-html="htmlize(event.date)">{{event.date}}</div>
                        <br>
                        <br>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="container">
            <div class="row" style="margin: 0px; padding: 20px">
                <div class="col s12 l12 center" ng-hide="true">
                    <a href="/"><img src="/img/pravega/pravega21_fullname.png" width="250px" height="120px"></a>
                </div>
                <br>
                <div class="col s12 l6 center">
                    <div class="container white-text">
                        <br>
                        © Pravega 2022
                        <br>
                        The Biggest Science Fest is back!
                        <br>
                        <a style="color: lightblue" href="/contact">Contact Us</a>
                    </div>
                </div>
                <div class="col s12 l6 center">
                    <br>
                    <a href="https://www.facebook.com/PravegaIISc/" class="fa fa-facebook sm-button"></a>
                    <a href="https://twitter.com/PravegaIISc" class="fa fa-twitter sm-button"></a>
                    <a href="https://www.instagram.com/pravega.iisc/" class="fa fa-instagram sm-button"></a>
                    <a href="https://www.youtube.com/channel/UCc-179ntmDu4l7i8LVbpYlQ"
                        class="fa fa-youtube sm-button"></a>
                </div>
            </div>
        </div>
    </div>

    <!-- Materialize JavaScript -->
    <script rel="preconnect"
        src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Icon Library -->
    <link rel="stylesheet preconnect"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- AngularJS -->
    <script rel="preconnect" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>

    <!-- Animate on scroll -->
    <script rel="preconnect" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <script>
        var app = angular.module("pravega", []);

        // Controller
        app.controller("eventPage", function ($scope, $http, $location, $sce) {
            console.log("Hompage controlled started....");

            // Materialize
            var scrollspyelems = document.querySelectorAll(".scrollspy");
            var scrollspy_instances = M.ScrollSpy.init(scrollspyelems, {});

            // Collapsible
            var col_elems = document.querySelectorAll('.collapsible');
            var col_instances = M.Collapsible.init(col_elems, {});

            // AOS
            AOS.init();

            // Event Details
            $scope.event = {
            };

            $scope.$sce = $sce;

            // Production level event flow

            // Get URL parameters to decide page
            $scope.eventName = '';
            var url_params = window.location.pathname.split('/');

            while ($scope.eventName == '' && url_params.length > 0) {
                $scope.eventName = decodeURI(url_params.pop());
            }

            //----- Making old links work ----- //
            // this is self-explanatory
            $scope.eventName = $scope.eventName.replace(".html", "");
            // this is for gaming_events
            $scope.eventName = $scope.eventName.replace("_events", "");
            // this is for mutliword events
            $scope.eventName = $scope.eventName.replaceAll("_", " ");
            // this is for all categories
            $scope.category = url_params[2].replace("_eve", "");
            // old website used shorthand forms for these categories
            if ($scope.category == "rec") {
                $scope.category = "recreational";
            }
            else if ($scope.category == "tech") {
                $scope.category = "technical";
            }
            // Enumeration
            if ($scope.eventName == "Enumeration") {
                $scope.eventName = "enumeration";
            }
            // Conflicts Confronts
            if ($scope.eventName == "conflict confronts") {
                $scope.eventName = "Conflict Confronts"
            }

            //----- Checking for event-category mismatch -----//
            $scope.science_events = [
                'decoherence',
                'chemenigma',
                'bioblitz',
                'enumeration',
                'astronomy',
                'quadspark',
                'What Would Darwin Do',
                'Pioneering Pandora',
                'Molecular Murals',
                'Pravega Innovation Summit',
                'Blue dot',
                'Treasure Hunt',
                'Bad adhoc Hypothesis',
                't Electronics',
                'Hackathon',
                'Honourcode',
                'Math Art',
                'exhibition',
                'quizzes',];
            $scope.cultural_events = ["A Crime Correspondence", "Alekhya", "Conflict Confronts", "Lasya", "Shutterbugs", "Relay Reels"];
            $scope.technical_events = ["honor code", "hackathon", "pioneering pandora", "gamen'gain"];
            $scope.recreational_events = ["gaming"];
            $scope.events = $scope.science_events.concat($scope.cultural_events, $scope.recreational_events, $scope.technical_events);

            var matches = false;
            var exists = false;

            if ($scope.category == "science" && $scope.science_events.includes($scope.eventName)) {
                matches = true;
            }
            else if ($scope.category == "cultural" && $scope.cultural_events.includes($scope.eventName)) {
                matches = true;
            }
            else if ($scope.category == "technical" && $scope.technical_events.includes($scope.eventName)) {
                matches = true;
            }
            else if ($scope.category == "recreational" && $scope.recreational_events.includes($scope.eventName)) {
                matches = true;
            }
            if ($scope.events.includes($scope.eventName)) {
                exists = true;
            }

            if (matches) {
                $http({
                    method: 'GET',
                    url: '/api/event/data',
                    params: {
                        "name": $scope.eventName
                    }
                }).then((res) => {
                    $scope.event = res.data;
                }, (res) => {
                    $scope.event = {
                        "name": "Error: 404",
                        "tagline": "Not Found"
                    }
                    console.log("DEBUG: Either the event json file does not exist or it has error(s)");
                });
            }
            else {
                $scope.event = {
                    "name": "Error: 404",
                    "tagline": "Not Found"
                }

                if (!exists) {
                    console.log("DEBUG: Event doesn't exist in list of events");
                }
                else if (!matches) {
                    console.log("DEBUG: Event category mismatch");
                }
            }

            $scope.htmlize = (htmlstring) => {
                return $sce.trustAsHtml(htmlstring);
            }

            document.title = $scope.eventName.charAt(0).toUpperCase() + $scope.eventName.slice(1).replaceAll("%20", " ") + " | Pravega 2022, IISc Bangalore";
            $scope.path = `/${$scope.category}/${$scope.eventName}/`;
        });

    </script>
</body>

</html>
