<!DOCTYPE html>
<html lang="en" ng-app="pravega">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Pravega is the country's largest college fest hosted by Undergraduates at IISc">
    <title>Event Site - Pravega'21</title>

    <!-- Materialize CSS -->
    <link rel="stylesheet preconnect" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HK64ZS7V62"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-HK64ZS7V62');
    </script>

</head>

<style>
    p {
        text-align: justify;
    }

    a {
        color: #2662a2;
    }

    a:hover {
        color: #04add6;
    }
</style>

<body ng-controller="eventPage">
    <!-- Navbar -->
    <div class="navbar-fixed">
        <nav class="row">
            <div class="nav-wrapper col s12 pri">
                <a href="/" class="brand-logo">
                    <img style="height: 50px" class="responsive-img" src="/img/pravega/pravega21_logo_trans.png"
                        alt="Logo Image" />
                </a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a ng-href="/../../{{category}}/menu.html">{{category.charAt(0).toUpperCase() +
                            category.slice(1)}} Events</a></li>
                    <li><a href="/../../#launchpad">Launchpad</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <!-- Title Image Section -->
    <div class="shiny">
        <div class="container" style="padding: 10px;">
            <h2 class="center uppercase shiny-lr hide-on-small-only" data-aos="fade-left" data-aos-duration="900">
                {{event.name}}
            </h2>
            <h3 class="center uppercase shiny-lr hide-on-med-and-up" data-aos="fade-left">
                {{event.name}}
            </h3>
            <h5 class="center subheading frosted shiny-rl font-monty" data-aos="fade-right" data-aos-delay="300">
                {{event.tagline}}
            </h5>
        </div>
    </div>

    <!-- Description -->
    <div class="event_content row container">

        <div class="col l9 row">

            <!-- Welcome -->
            <div class="col l12 s12 body" data-aos="fade-right" data-aos-delay="500">
                <h3>Welcome</h3>
                <div ng-repeat="line in event.description">
                    <div style="text-align: justify" ng-bind-html="htmlize(line);"></div>
                    <br>
                </div>
                <div np-show="{{event.subevents.length > 0}}">
                    <ol>
                        <li ng-repeat="sub in event.subevents">
                            <a ng-href="#{{sub.name}}">{{sub.name}}</a>
                        </li>
                    </ol>
                </div>
            </div>

            <!-- Timeline on mobile -->
            <div class="col s12 center hide-on-large-only scrollspy">
                <h4 class="valign-wrapper" data-aos="fade-left" data-aos-delay="300">
                    Timeline <span class="new badge pulse"></span>
                </h4>

                <div class="divider"></div>

                <ul class="timeline">
                    <li class="timeline" ng-repeat="event in event.events track by $index" data-aos="flip-left"
                        data-aos-anchor-placement="bottom-bottom" data-aos-delay="{{$index + 5}}00">
                        <h6>{{event.name}}</h6>
                        {{event.date}}
                        <br>
                        <br>
                    </li>
                </ul>
            </div>

            <!-- Modules -->
            <div class="col l12 s12 body">
                <div ng-repeat="module in event.modules">
                    <!-- Heading -->
                    <h5>{{module.heading}}</h5>

                    <!-- Content -->
                    <div ng-show="{{module.content !== undefined}}">
                        <div style="text-align: justify" ng-bind-html="htmlize(module.content)"></div>
                    </div>

                    <!-- Table -->
                    <div ng-show="{{module.table !== undefined}}">
                        <br>
                        <table>
                            <tr>
                                <th ng-repeat="header in module.table.headers">{{header}}</th>
                            </tr>
                            <tr ng-repeat="row in module.table.rows">
                                <td ng-repeat="element in row">{{element}}</td>
                            </tr>
                        </table>
                        <br>
                    </div>

                    <!-- Lists -->
                    <div ng-show="{{module.lists !== undefined}}">
                        <div ng-repeat="list in module.lists">
                            <br>
                            <b>{{list.header}}</b>
                            <ul>
                                <li ng-repeat="point in list.points">
                                    <div style="text-align: justify; display: inline" ng-bind-html="htmlize(point)">
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- Links -->
                    <div ng-show="{{module.links !== undefined}}">
                        <br>
                        <div ng-repeat="link in module.links">
                            <div ng-show="{{link.file !== undefined}}">
                                <a ng-href="{{path}}{{link.file}}">{{link.text}}</a>
                            </div>
                            <div ng-show="{{link.url !== undefined}}"">
                                <a ng-href=" {{link.url}}" target="_blank">{{link.text}}</a>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            </div>

            <!-- Subevents -->
            <div class="col l12 s12 card-panel sl-round" ng-repeat="subevent in event.subevents track by $index"
                data-aos="fade-up" data-aos-delay="600">
                <p class="font-monty" style="font-weight: 900;">Event {{$index + 1}}</p>
                <h4 id="{{subevent.name}}" class="nomargin-top">
                    {{subevent.name}}
                    <a class="right" ng-href="#{{subevent.name}}">#</a>
                    <a class="right" ng-href="#{{subevent.name}}"><i class="material-icons">share</i>&nbsp;
                    </a>
                </h4>
                <p>
                <div class="chip shiny poppins" style="font-weight: bolder;">
                    <i class="close material-icons">event</i>
                    {{subevent.startDate | date: 'dd MMM'}} - {{subevent.endDate | date: 'dd MMM'}}
                </div>
                </p>
                <div ng-bind-html="htmlize(subevent.description)"></div>
                <a href="#" class="shiny rounded btn right black-text poppins" style="font-weight: bold;">Register</a>
                <br>
                <br>
                <br>
            </div>

            <!-- Divider -->
            <div class="col l12">
                <br>
                <div class="divider"></div>
            </div>

            <!-- Contact -->
            <div class="col l12 s12 row" data-aos="fade-up">
                <h4 class="col s12">About</h4>
                <div class="col l3 s6">
                    <h6>
                        Coordinators
                    </h6>
                </div>
                <div class="col l3 left s6">
                    <ul>
                        <li ng-repeat="coord in event.coords">{{coord}} <br><br></li>
                    </ul>
                </div>
                <div class="col l6 s12">
                    <h6>
                        Contact
                    </h6>
                    <h6>
                        <a ng-href="mailto:{{event.email}}" class="" type="mail">{{event.email}}</a>
                    </h6>
                </div>
            </div>


        </div>

        <!-- Timeline on Desktop -->
        <div class="col l3">
            <div class="col l12 m3 center hide-on-med-and-down scrollspy">
                <h4 class="valign-wrapper" data-aos="fade-left" data-aos-delay="300">
                    Timeline <span class="new badge pulse"></span>
                </h4>

                <div class="divider"></div>

                <ul class="timeline">
                    <li class="timeline" ng-repeat="event in event.events track by $index" data-aos="flip-left"
                        data-aos-anchor-placement="bottom-bottom" data-aos-delay="{{$index + 5}}00">
                        <h6>{{event.name}}</h6>
                        <div ng-bind-html="htmlize(event.date)">{{event.date}}</div>
                        <br>
                        <br>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="container">
            <div class="row" style="margin: 0px; padding: 20px">
                <div class="col s12 l12 center">
                    <a href="/"><img src="/img/pravega/pravega21_fullname.svg" width="250px" height="120px"
                            alt="Pravega Footer"></a>
                </div>
                <br>
                <div class="col s12 l6 center">
                    <div class="container white-text">
                        <br>
                        © Pravega 2021
                        <br>
                        The Biggest Science Fest is back!
                    </div>
                </div>
                <div class="col s12 l6 center">
                    <br>
                    <a href="https://www.facebook.com/PravegaIISc/" class="fa fa-facebook sm-button"></a>
                    <a href="https://twitter.com/PravegaIISc" class="fa fa-twitter sm-button"></a>
                    <a href="https://www.instagram.com/pravega.iisc/" class="fa fa-instagram sm-button"></a>
                    <a href="https://www.youtube.com/channel/UCc-179ntmDu4l7i8LVbpYlQ"
                        class="fa fa-youtube sm-button"></a>
                </div>
            </div>
        </div>
    </div>

    <!-- Materialize JavaScript -->
    <script rel="preconnect" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Icon Library -->
    <link rel="stylesheet preconnect" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- AngularJS -->
    <script rel="preconnect" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>

    <!-- Animate on scroll -->
    <script rel="preconnect" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <script>
        var app = angular.module("pravega", []);

        // Controller
        app.controller("eventPage", function ($scope, $http, $location, $sce) {
            console.log("Hompage controlled started....");

            // Event Details
            $scope.event = {
            };

            $scope.$sce = $sce;

            // Materialize
            var scrollspyelems = document.querySelectorAll(".scrollspy");
            var scrollspy_instances = M.ScrollSpy.init(scrollspyelems, {});

            // Collapsible
            var col_elems = document.querySelectorAll('.collapsible');
            var col_instances = M.Collapsible.init(col_elems, {});

            // AOS
            AOS.init();

            // Production level event flow

            // Get URL parameters to decide page
            $scope.eventName = '';
            var url_params = window.location.pathname.split('/');



            while ($scope.eventName == '' && url_params.length > 0) {
                $scope.eventName = url_params.pop();
            }

            // Making old links work
            $scope.eventName = $scope.eventName.replace(".html", "");
            $scope.eventName = $scope.eventName.replace("_", " ");
            $scope.category = url_params[2].replace("_eve", "");

            $scope.path = `/${$scope.category}/${$scope.eventName}/`;

            // Call server and get page object
            $http({
                method: 'GET',
                url: '/api/event/data',
                params: {
                    "name": $scope.eventName
                }
            }).then((res) => {
                $scope.event = res.data;
            }, (res) => {
                alert(res.data)
            })

            $scope.htmlize = (htmlstring) => {
                return $sce.trustAsHtml(htmlstring);
            }

            document.title = $scope.eventName.charAt(0).toUpperCase() + $scope.eventName.slice(1).replaceAll("%20", " ") + " | Pravega 2021, IISc Bangalore";
        });

    </script>
</body>

</html>