<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">


	<link rel="stylesheet" href="{{ url_for('static', filename='css/culturals/style.css') }}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Goldman&display=swap" rel="stylesheet">

        <!-- Bootstrap support -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

        <!-- itc avant garde font-->
        <link href="https://fonts.cdnfonts.com/css/itc-avant-garde-gothic-std-book" rel="stylesheet" type="text/css">

        <!-- Icon library -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

        <link href="/static/pub_styling/scitech/menu.css" rel="stylesheet">
        <link href="/static/pub_styling/Pravega_footer.css" rel="stylesheet">
        <link href="/static/pub_styling/pravega_navbar.css" rel="stylesheet">

    <title>Alekhya | Culturals | Pravega 2022 | IISc Bangalore UG fest</title>


</head>

<body>
    <!-- Pravega. Navbar-->
<header>
    <nav class="navbar navbar-expand-md navbar-dark justify-content-center fixed-top nav-pravega-bg">
        <div class="container-fluid">
            <a class="navbar-brand nav-pravega-logo" href="/">
                <img src="/static/pub_assets/pravega_logo_bw.png" alt="Pravega Logo" style="width: 200px; height: auto;">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav nav-pravega-position">
                    <li class="nav-item nav-pravega-font">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item nav-pravega-font">
                        <a class="nav-link" href="/#events">Events</a>
                    </li>
                    <li class="nav-item nav-pravega-font">
                        <a class="nav-link" href="/#contactus">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</header>



<div class="container-fluid">
	<div class="row" style="margin-top:100px;">
		<div class="col-lg-3">
			<img src='/static/img/culturals/alekhya.png' alt='LOGO' style="width:100%;">
		</div>
		<div class="col-lg-9">
		<h1 id="heading">Alekhya: The Art Event and Decalcomania</h1>
		<h4 id="subheading">Weave your dreams.</h4>
		</div>

	</div>

	<div class="row" >
	<div class="col-lg-3 col-sm-6 order-sm-1">
		<div class="box" >
			<h2> Timelines:</h2>
			<hr>
			For Registration : 2<sup>nd</sup>week of July 2022 onwards
            <hr>
            Prelims for the conventional art event: Submissions from registeration day upto 24<sup>th</sup> July 2022
            <hr>
            Decalcomania: 25<sup>th</sup> - 31<sup>st</sup>July 2022
            <hr>
            Final program: 2<sup>nd</sup> September 2022
	    <br>
	    <br>
	    <br>


		</div>

	<div class="box" id="registrationbox">
		<h2> Quick Links </h2><hr>
		<a href='/culturals/alekhya/register'>
			<div class="clickme submit">
				<h4 style="text-align:center; color:yellow; padding:6px 6px 6px 6px; border: 2px solid white; border-radius:2px;"> Register here for Alekhya-The Art Event</h4>
			</div>
		</a>
	    <br>
	    <br>
	    <br>
	</div>
	</div>
	<div class="box col-lg-9 col-sm-6 order-sm-2" id="main">
		<h2>Description for Alekhya-The Art event</h2>
		<p>
			Art is where imagination meets reality, where a soul expresses its emotions connecting fantasy and practicality. A playground for the thoughtful ideas of an artist, art, can transcend the barrier of human individuality and its essence and ethos inspire the combined spirit of humanity.

			Painting and designing are an integral part of art. Its clutches capture the attention of the audience and creator alike, defying the norms ruling the segregation of space and time. Here, in Alekhya, we give you a canvas, an opportunity to exhibit the artist in you, through a unique art competition, where you get to portray ideas through the colors of your soul. So, do not dally…let your colors speak of your heart and become a part of this epic celebration.

		</p>
		<h2>Description for Alekhya-Decalcomania</h2>
		<p>
			That cool catchphrase, that hilarious quote or a completely new, amazing design of your own. Something from here, something there, all coming together to express something words never could.
			Alekhya brings you Decalcomania, the Poster Design Competition. Use any digital tool to create a poster based on the theme over a period of 7-days.
			A picture expresses a thousand words. Let your imagination and creativity make the next visual statement.

		</p>

		<h2>Eligibility</h2>
		<p>
		<ul>
			<li>
		    For the Art event: upto 3<sup>rd</sup> Year Undergraduates
			</li>
			<li>
			For Decalcomania : High school students and Undergraduates
			</li>

		</ul>
		</p>
		<h2>Venue</h2>
		<p>
		The art event prelims and Decalcomania is online. The Finals for the art event will be held in IISc.
		</p>
		<h3>Rules for the art event prelims:</h3>
		<p>
		<ol>
			<li>
				We will provide the participants with a bunch of ideas/objects, or they can select an object for the idea themselves; they must choose one of them and create a fantasy art out of it.
			</li>
			<li>
				Their work should be inspired from and portray that object/idea without exactly resembling it.
			</li>
			<li>
				The contestants can use any art medium for the event. All forms of sketches, paintings, and creatives are allowed. Digital artwork will also be accepted given the condition it will be judged under the same category as other artworks.
			</li>
			<li>
				Existing works and ideas can inspire the art, but the contestants must mention these. The organizers will not tolerate any occurrence of plagiarism, and the participation may be terminated.
			</li>
			<li>
				The participants will have the entire duration from the day of registration to 24th July 2022 to prepare and submit their artwork.
			</li>
			<li>
				We will upload a google drive link on our website. The contestants are required to upload their works here. The organizers will also send the same drive link via mail.
			</li>
			<li>
				The format of the file name should be (title of painting_name of participant_art medium)
			</li>
			<li>
				Suppose there is any change in event details due to circumstances that are not in the control of Pravega, IISc. In that case, it will be duly informed to everyone here on the event website and via mail.
			</li>
		</ol>
		</p>
		<h3>Format of result declaration:</h3>
		<p>
		<ol>
			<li>
				The results and top artworks among all the participants will be decided solely by the appointed judges.
			</li>
			<li>
				Alekhya will post all the received top artworks on the official Instagram handle of Pravega, IISc (@pravega.iisc).
            </li>
			<li>
                The appointed judges will have the final say in any matter concerning the winners of the first round. They will move to the offline finals.
            </li>
			<li>
                The list of finalists will be published on the website and intimated individually through the mail
			</li>
		</ol>
		</p>
		<h3>Details for the final round</h3>
		<p>
			The final (and offline) round details will be intimated to the selected participants later. The rules and modalities will be discussed individually and posted on the website.
		</p>
		<h3> Prizes</h3>
		<p>
		<ul>
			<li>
				Cash prizes worth rupees 10k distributed as: 5k(1st prize), 3k(2nd prize), 2k(3rd prize)
			</li>
			<li>
				Cerificates to all 10 finalists
			</li>
			<li>
				Special gift hampers to all finalists
			</li>
		</ul>
		</p>
		<h3>Rules for the Decalcomania:</h3>
		<p>
		<ol>
			<li>
				The event will start on 25th July, and the participants will have one week to produce the graphic design, virtual art, or poster.
			</li>
			<li>
				We will give the participants a theme, and they will have to make a poster using ideas for that theme.
			</li>
			<li>
				Existing works and ideas can inspire the posters and other designs, but the contestants must mention these. The organizers will not tolerate any occurrence of plagiarism, and the participation may be terminated.
			</li>
			<li>
				The participants will have the entire duration from the day of registration to 24th July 2022 to prepare and submit their artwork.
			</li>
			<li>
				We will upload a google drive link on our website. The contestants are required to upload their works here. The organizers will also send the same drive link via mail.
			</li>
			<li>
				The final file of any graphic art/posters/ virtual art must be uploaded in jpeg or png format.
			</li>
			<li>
				The format of the file name should be (name of participant_poster name_college name)
			</li>
			<li>
				Suppose there is any change in event details due to circumstances that are not in the control of Pravega, IISc. In that case, it will be duly informed to everyone here on the event website and via mail.
			</li>
		</ol>
		</p>
		<h3>Format of result declaration:</h3>
		<p>
		<ol>
			<li>
				The results and top graphic works among all the participants will be decided solely by the appointed judges.
			</li>
			<li>
				Alekhya will post all the received top artworks on the official Instagram handle of Pravega, IISc (@pravega.iisc).
            </li>
			<li>
                The appointed judges will have the final say in any matter concerning the winners of the first round. They will move to the offline finals.
            </li>
			<li>
                The result will be declared by 15th August. The list of finalists will be published on the website and intimated individually through the mail.
			</li>
			<li>
				As their winnings, the top 3 participants will get a reward of a cash prize of up to rupees eight thousand which will be distributed as: Rs 4000(1st prize), Rs 2500(2nd Prize), Rs 1500(3rd Prize).
			</li>
			<li>
				The reward money will be transferred using UPI IDs, with no other means of payment encouraged. The winners will be contacted and asked to provide their UPI ID. Pravega does not accept responsibility for the individual not receiving the benefits due to providing an incorrect UPI ID. Please submit the UPI ID with caution.
			</li>
		</ol>
		</p>
		<br>

		<h2> Coordinators: Call/WhatSapp/Mail at </h2>
			<div class="contacts">
				<h5 style="color:white;">
				<ul>
					<li>
						Jyotirmoy Biswal
						Contact No: 7978789050
					</li>
					<li>
						Sanmit Chakraborty
						Contact No: 7439687422
					</li>
				</ul>

				</h5>
				<img src="/static/mail.png" alt="email">
				<a href="mailto:alekhya.iisc@gmail.com" >alekhya.iisc@gmail.com</a>
			</div>
	</div>

</div>
<footer>
    <!-- Pravega. bottom bar -->
    <div class="container-fluid footer-pravega-bg">
        <div class="row footer-pravega-margin">
            <div class="col footer-pravega-col text-left">
                <a href="/">
                    <img src="/static/pub_assets/pravega_logo_bw.png" alt="Pravega 2022 Logo" style="width: 200px; height: auto; margin-bottom: 30px;">
                </a>
                <p class="footer-pravega-font" style="margin-left:7px;">&#169; copyright 2022 <br>All rights reserved.</p>
            </div>
            <div class="col footer-pravega-col text-left">
                <p class="footer-pravega-font-special">Navigate</p>
                <a class="footer-pravega-font" href="/">Home</a>
		<a class="footer-pravega-font" href="/#contactus"><br>Contact Us</a>
		<a class="footer-pravega-font" href="/aboutus"><br>About Us</a>
		<a class="footer-pravega-font" href="/refund"><br>Refund and Cancellation Policy</a>
		<a class="footer-pravega-font" href="/privacy"><br>Privacy Policy</a>
		<a class="footer-pravega-font" href="/terms"><br>Terms of service</a>
            </div>
            <div class="col footer-pravega-col-special text-left">
                <p class="footer-pravega-font-special">Follow Us</p>
		<a class="fa fa-facebook" href="https://www.facebook.com/PravegaIISc/"></a>
                <a class="fa fa-instagram" href="https://www.instagram.com/pravega.iisc" style="margin-left: 10px;"></a>
                <a class="fa fa-twitter" href="https://www.twitter.com/Pravega_IISc" style="margin-left: 10px;"></a>
                <a class="fa fa-youtube" href="https://www.youtube.com/channel/UCc-179ntmDu4l7i8LVbpYlQ" style="margin-left: 10px;"></a>
            </div>
        </div>
    </div>

</footer>
</body>
</html>
