<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">


	<link rel="stylesheet" href="{{ url_for('static', filename='css/culturals/style.css') }}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Goldman&display=swap" rel="stylesheet">

        <!-- Bootstrap support -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

        <!-- itc avant garde font-->
        <link href="https://fonts.cdnfonts.com/css/itc-avant-garde-gothic-std-book" rel="stylesheet" type="text/css">

        <!-- Icon library -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

        <link href="/static/pub_styling/scitech/menu.css" rel="stylesheet">
        <link href="/static/pub_styling/Pravega_footer.css" rel="stylesheet">
        <link href="/static/pub_styling/pravega_navbar.css" rel="stylesheet">

    <title>Footprints | Culturals | Pravega 2022 | IISc Bangalore UG fest</title>


</head>

<body>
    <!-- Pravega. Navbar-->
<header>
    <nav class="navbar navbar-expand-md navbar-dark justify-content-center fixed-top nav-pravega-bg">
        <div class="container-fluid">
            <a class="navbar-brand nav-pravega-logo" href="/">
                <img src="/static/pub_assets/pravega_logo_bw.png" alt="Pravega Logo" style="width: 200px; height: auto;">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav nav-pravega-position">
                    <li class="nav-item nav-pravega-font">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item nav-pravega-font">
                        <a class="nav-link" href="/#events">Events</a>
                    </li>
                    <li class="nav-item nav-pravega-font">
                        <a class="nav-link" href="/culturals/pro_and_foot">Proscenium and Footprints Page</a>
                    </li>
                    <li class="nav-item nav-pravega-font">
                        <a class="nav-link" href="/#contactus">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</header>



<div class="container-fluid">
	<div class="row" style="margin-top:100px;">
		<div class="col-lg-3">
			<img src='/static/img/culturals/prf.png' alt='LOGO' style="width:100%;">
		</div>
		<div class="col-lg-9">
		<h1 id="heading">Footprints</h1>

		</div>

	</div>

	<div class="row" >
        <!--
	<div class="col-lg-3 col-sm-6 order-sm-1">
		<div class="box" >
			<h2> Timelines:</h2>
			<hr>
			For Registration : 2<sup>nd</sup>week of July 2022 onwards
            <hr>
            Prelims for the conventional art event: Submissions from registeration day upto 24<sup>th</sup> July 2022
            <hr>
            Decalcomania: 25<sup>th</sup> - 31<sup>st</sup>July 2022
            <hr>
            Final program: 2<sup>nd</sup> September 2022
	    <br>
	    <br>
	    <br>


		</div>

	<div class="box" id="registrationbox">
		<h2> Quick Links </h2><hr>
		<a href='/culturals/alekhya/register'>
			<div class="clickme submit">
				<h4 style="text-align:center; color:yellow; padding:6px 6px 6px 6px; border: 2px solid white; border-radius:2px;"> Register here for Alekhya-The Art Event</h4>
			</div>
		</a>
	    <br>
	    <br>
	    <br>
	</div>-->
	</div>
	<div class="box col" id="main">
		<h2>Description</h2>
		<p>
			Footprints [Nukkad Natak] are the prints you make on society by making awareness about an issue through your street play footwork within a crowd.
             It is a Stage-Play contest with a prize pool of cash totaling ₹ 20000 and certificates that will be awarded to the winners decided based on public choice as well as the Judges Panel (constituted by Pravega).
             The event is in 2 stages:
            Participants are required to send their videos to us on our mail id and the top 7 selected teams will get the opportunity to perform live in IISc for the final showdown.


		</p>

		<h2>Eligibility</h2>
		<p>
            The competition is open to All Institutes (undergrads and postgrads and high school students).
		</p>

		</p>
		<h3>Video Requirements:</h3>
		<p>
		<ol>
			<li>
				The video needs to be sent to our official mail id <a href="mailto:pravegaproscenium@gmail.com">pravegaproscenium@gmail.com</a>
			</li>
			<li>
				The performance needs to be in the format of a stage play as if being performed in a theatre with lights and music.
			</li>
			<li>
				Duration of video can be of max 15 min, although a 9-10 min video is encouraged.
			</li>
			<li>
				The camera angle should be fixed throughout the video.
			</li>
			<li>
				Editing the original video is not encouraged.
			</li>

		</ol>
		</p>
		<h3>Judging Criteria:</h3>
		<p> The videos will be posted in our YouTube and Instagram handles -
		<ol>
			<li>
				The Final scoring will constitute 75% from Judges and 25% from the popularity gained (Likes, shares, comments by the audience) by the post on YouTube.
			</li>
			<li>
				Following General Benchmarks will be used in the evaluation by the judges:
                <ul>
                    <li>
                        The impact of the issue addressed by the video
                    </li>
                    <li>
                        The direction of the content/ story chosen.
                    </li>
                    <li>
                    	The creativity of  Presentation.
                    </li>
                    <li>
                    	Acting Skillset of the participants.
                    </li>
                    <li>
                        Continuity of the merge.
                    </li>
                </ul>
            </li>
		</ol>
		</p>
		<h3>Details for the final round</h3>
		<p>
			The final (and offline) round details will be intimated to the selected participants later. The rules and modalities will be discussed individually and posted on the website.
		</p>
		<h3> Prizes</h3>
		<p>
		<ol>
			<li>
				Top 3 Finalists will receive prizes worth ₹ 20k.
                <ul>
                    <li>
                        1<sup>st</sup> Prize: 9,000
                    </li>
                    <li>
                        2<sup>nd</sup> Prize: 6,500
                    </li>
                    <li>
                        3<sup>rd</sup> Prize: 4,500
                    </li>
                </ul>
			</li>
			<li>
				Every finalist will receive a certificate of merit and a gift hamper.
			</li>
			<li>
				Every participant will receive an e-certificate for participation.
			</li>
            <li>
            	Each team will get a shoutout through our social media handles and the winners will get an exclusive mention from Pravega.
            </li>
		</ol>
		</p>




	</div>

</div>
<footer>
    <!-- Pravega. bottom bar -->
    <div class="container-fluid footer-pravega-bg">
        <div class="row footer-pravega-margin">
            <div class="col footer-pravega-col text-left">
                <a href="/">
                    <img src="/static/pub_assets/pravega_logo_bw.png" alt="Pravega 2022 Logo" style="width: 200px; height: auto; margin-bottom: 30px;">
                </a>
                <p class="footer-pravega-font" style="margin-left:7px;">&#169; copyright 2022 <br>All rights reserved.</p>
            </div>
            <div class="col footer-pravega-col text-left">
                <p class="footer-pravega-font-special">Navigate</p>
                <a class="footer-pravega-font" href="/">Home</a>
		<a class="footer-pravega-font" href="/#contactus"><br>Contact Us</a>
		<a class="footer-pravega-font" href="/aboutus"><br>About Us</a>
		<a class="footer-pravega-font" href="/refund"><br>Refund and Cancellation Policy</a>
		<a class="footer-pravega-font" href="/privacy"><br>Privacy Policy</a>
		<a class="footer-pravega-font" href="/terms"><br>Terms of service</a>
            </div>
            <div class="col footer-pravega-col-special text-left">
                <p class="footer-pravega-font-special">Follow Us</p>
		<a class="fa fa-facebook" href="https://www.facebook.com/PravegaIISc/"></a>
                <a class="fa fa-instagram" href="https://www.instagram.com/pravega.iisc" style="margin-left: 10px;"></a>
                <a class="fa fa-twitter" href="https://www.twitter.com/Pravega_IISc" style="margin-left: 10px;"></a>
                <a class="fa fa-youtube" href="https://www.youtube.com/channel/UCc-179ntmDu4l7i8LVbpYlQ" style="margin-left: 10px;"></a>
            </div>
        </div>
    </div>

</footer>
</body>
</html>
