<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- favicon -->
	<link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">

    <!-- Main css -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Goldman&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/scitech/formstyle.css') }}">
        <!-- Bootstrap support -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

        <!-- itc avant garde font-->
        <link href="https://fonts.cdnfonts.com/css/itc-avant-garde-gothic-std-book" rel="stylesheet" type="text/css">

        <!-- Icon library -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

        <link href="/static/pub_styling/scitech/menu.css" rel="stylesheet">
        <link href="/static/pub_styling/Pravega_footer.css" rel="stylesheet">
        <link href="/static/pub_styling/pravega_navbar.css" rel="stylesheet">

	<title>A Crime Correspondence Prelims Registrations | Pravega 2022 | IISc UG Fest</title>

</head>

<body>
        <header>

            <!-- Pravega. Navbar-->

            <nav class="navbar navbar-expand-md navbar-dark justify-content-center fixed-top nav-pravega-bg">


                <div class="container-fluid">
                    <a class="navbar-brand nav-pravega-logo" href="/">
                        <img src="/static/pub_assets/pravega_logo_bw.png" alt="Pravega Logo" style="width: 200px; height: auto;">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="collapsibleNavbar">
                        <ul class="navbar-nav nav-pravega-position">
                            <li class="nav-item nav-pravega-font">
                                <a class="nav-link" href="/">Home</a>
                            </li>
                            <li class="nav-item nav-pravega-font">
                                <a class="nav-link" href="/culturals/acrimecorrespondence">A Crime Correspondence</a>
                            </li>
                            <li class="nav-item nav-pravega-font">
                                <a class="nav-link" href="/#events">Events</a>
                            </li>
                            <li class="nav-item nav-pravega-font">
                                <a class="nav-link" href="/#contactus">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

        </header>

	<div class="row align-center" style="width:100%;">
        <form method="POST" style=" width:90%;max-width: 1200px; margin-left:auto; margin-right:auto; padding-top: 100px;">
		<div id="box" class="justify-content-left" style="align-items:left; text-align:left;">
			<h2 style="font-family: 'Goldman', cursive;">A Crime Correspondence - Registration for Prelims</h2>
			<p>
			A Crime Correspondence is the murder mystery event of
			Pravega. Registrations for prelims will be open from
			18<sup>th</sup> July '22 to 31st July '22. Prelims will be
			completely online. Participants are requested to go
			through the<a href="/culturals/acrimecorrespondence/brochure"> brochure</a>.
			<br>
			</p>
			<p >
			Registration Guidelines:
			<ol>
				<li>
					Anyone and everyone can take part in the prelims.
				</li>
				<li>
					Participants can register in teams of
					up to 3. Only one of the team members
					will have to register for the whole
					team.
				</li>
				<li>
					There is no registration cost. There
					might be a cap on the number of
					registrations due to logistics
					considerations. The registrations will
					close as soon as the number of
					registrations reaches that cap.
				</li>
			</ol>
		</div>

		<div id="box" class="input-field">
			Name of the team:
			<input type="text" name="team" id="p1" placeholder="Team name" required>
			<br>
			Number of Team Members:
			<select id="number" name="num_team" class="browser-default" required onclick="myfunc()">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
			</select>
			<div id="part1">
				<br>
				<br>
				<h4 >

					Details of participant 1:
				</h4>
				<br>
				Participant Name:
				<input  class="cpart1" type="text" name="name1" id="p1" placeholder="Name of Participant" required="">
				<br>
				Email ID of Participant:
				<input  class="cpart1" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="email1" id="p1email" placeholder="Your Email" required>
				<br>
				Phone Number of Participant:
				<input  class="cpart1" type="text" pattern="^[0-9]{10}$" name="mobile1" id="p1mobile" placeholder="Mobile Number" required>
			</div>
			<div id="part2" style="display: none;">
				<br>
				<br>
				<h4 >

					Details of participant 2:
				</h4>
				<br>
				Participant Name:
				<input  class="cpart2" type="text" name="name2" id="p2" placeholder="Name of Participant">
				<br>
				Email ID of Participant:
				<input  class="cpart2" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="email2" id="p2email" placeholder="Your Email">
				<br>
			</div>
			<div id="part3"style="display: none;">
				<br>
				<br>
				<h4 >

					Details of participant 3:
				</h4>
				<br>
				Participant Name:
				<input class="cpart3" type="text" name="name3" id="p3" placeholder="Name of Participant" >
				<br>
				Email ID of Participant:
				<input class="cpart3" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="email3" id="p3email" placeholder="Your Email">
				<br>
			</div>
			<div style="align-items:left;">
				<br>
				<br>
				Will your team be available for in person finals at
				IISc, Bangalore on September 2nd if travel
				reimbursement is provided?
				<br>
					<input type="radio" id="reimb1" name="come" value="Yes" >
					<label for="reimb1">Yes</label><br>
					<input type="radio" id="reimb2" name="come" value="No">
					<label for="reimb2">No</label><br>
					<input type="radio" id="reimb3" name="come" value="Maybe">
					<label for="reimb3">Maybe</label><br><br>
				</select>
			</div>
			<input type="submit" name="signup" id="signup" class="submit" value="Register">
		</div>
        </form>
		</div>

        <footer>

            <!-- Pravega. bottom bar -->

            <div class="container-fluid footer-pravega-bg">
                <div class="row footer-pravega-margin">
                    <div class="col footer-pravega-col text-left">
                        <a href="/">
                            <img src="/static/pub_assets/pravega_logo_bw.png" alt="Pravega 2022 Logo" style="width: 200px; height: auto; margin-bottom: 30px;">
                        </a>
                        <p class="footer-pravega-font" style="margin-left:7px;">&#169; copyright 2022 <br>All rights reserved.</p>
                    </div>
                    <div class="col footer-pravega-col text-left">
                        <p class="footer-pravega-font-special">Navigate</p>
                        <a class="footer-pravega-font" href="/">Home</a>
			<a class="footer-pravega-font" href="/#contactus"><br>Contact Us</a>
			<a class="footer-pravega-font" href="/aboutus"><br>About Us</a>
			<a class="footer-pravega-font" href="/refund"><br>Refund and Cancellation Policy</a>
			<a class="footer-pravega-font" href="/privacy"><br>Privacy Policy</a>
			<a class="footer-pravega-font" href="/terms"><br>Terms of service</a>
                    </div>
                    <div class="col footer-pravega-col-special text-left">
                        <p class="footer-pravega-font-special">Follow Us</p>
			<a class="fa fa-facebook" href="https://www.facebook.com/PravegaIISc/"></a>
                        <a class="fa fa-instagram" href="https://www.instagram.com/pravega.iisc" style="margin-left: 10px;"></a>
                        <a class="fa fa-twitter" href="https://www.twitter.com/Pravega_IISc" style="margin-left: 10px;"></a>
                        <a class="fa fa-youtube" href="https://www.youtube.com/channel/UCc-179ntmDu4l7i8LVbpYlQ" style="margin-left: 10px;"></a>
                    </div>
                </div>
            </div>

        </footer>
<script>
	function myfunc(){
			if(document.getElementById("number").value == 1){
					document.getElementById("part1").style.display = "block";
					document.getElementById("part2").style.display = "none";
					document.getElementById("part3").style.display = "none";

					document.getElementById("p1").setAttribute('required','');
					document.getElementById("p1email").setAttribute('required','');
					document.getElementById("p1mobile").setAttribute('required','');

					document.getElementById("p2").removeAttribute('required','');
					document.getElementById("p2email").removeAttribute('required','');

					document.getElementById("p3").removeAttribute('required','');
					document.getElementById("p3email").removeAttribute('required','');

				}
			if(document.getElementById("number").value == 2){
					document.getElementById("part1").style.display = "block";
					document.getElementById("part2").style.display = "block";
					document.getElementById("part3").style.display = "none";

					document.getElementById("p1").setAttribute('required','');
					document.getElementById("p1email").setAttribute('required','');
					document.getElementById("p1mobile").setAttribute('required','');

					document.getElementById("p2").setAttribute('required','');
					document.getElementById("p2email").setAttribute('required','');

					document.getElementById("p3").removeAttribute('required','');
					document.getElementById("p3email").removeAttribute('required','');
				}
			if(document.getElementById("number").value == 3){
					document.getElementById("part1").style.display = "block";
					document.getElementById("part2").style.display = "block";
					document.getElementById("part3").style.display = "block";

					document.getElementById("p1").setAttribute('required','');
					document.getElementById("p1email").setAttribute('required','');
					document.getElementById("p1mobile").setAttribute('required','');

					document.getElementById("p2").setAttribute('required','');
					document.getElementById("p2email").setAttribute('required','');

					document.getElementById("p3").setAttribute('required','');
					document.getElementById("p3email").setAttribute('required','');
				}

		}
	myfunc();
</script>
</body>
</html>
