<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="index.html">Pravega Innovation Summit 2022</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
              <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Event</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                PIS 
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="talks.html">Talks </a>
                  <a class="dropdown-item" href="coord.html">Coordinators</a>
                  <a class="dropdown-item" href="event.html">Event and Result</a>
                  <div class="dropdown-divider"></div>
                </div>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="Contact.html">Contact Us</a>
            </li>
          </ul>
        </div>
      </nav>


    
<main>
    <container class="div">

        llajksdlkjasd
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, consectetur dolorem nemo iusto ullam ex ad quis recusandae odio quasi! Velit ut recusandae itaque reprehenderit dolorum amet molestiae voluptatibus veritatis.
    </container>
    </main>
    


<!-- Remove the container if you want to extend the Footer to full width. -->
<div >

    <footer class="text-center text-lg-start" style="background-color: #141110;">
      <div class="container d-flex justify-content-center py-5">
        <button class="btn btn-default">
            
            <a href="http://www.google.com" >
                <img src="images/fb.png" width="50" /> 
            </a>
       </button>
       <button class="btn btn-default">
           <a href="https://www.instagram.com/innovationsummit_pravega/" >
        <img src="images/in.png"  width="80" /> 
    </a>
   </button>

   <a href="" >

       <button class="btn btn-default">
           <img src="images/li.png" width="50" /> 
        </a>
</button>

<a href="" >

    <button class="btn btn-default">
        <img src="images/twitter.webp" width="50" /> 
    </a>
</button>
      </div>
  
      <!-- Copyright -->
      <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright:
        <a class="text-white" href="https://pravega.org/">PRAVEGA 2022</a>
      </div>
      <!-- Copyright -->
    </footer>
    
  </div>
  <!-- End of .container -->

      

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 
</body>
</html>