body {
	background: url(/static/img/scitech/savagedarwin.png) no-repeat center center fixed;
  	background-size: cover;
	background-repeat: no-repeat;
	background-color:#e8e405 ;
	background-color: rgba(242, 183, 5, 0.8);
}

#event_body{
	padding-top: 5%;
	background-color: rgb(242, 183, 5);

}

h1 {
	color: black;
	font-family: 'Bangers', cursive;
	font-size: 70px;
	font-weight:1000;
}
h2 {
	font-family: 'Bangers', cursive;
	font-size: 30px;
	margin-top: 5px;
	margin-bottom: 5px;
    	color: red;
	font-weight:1000;
	text-shadow: 2px 2px #000000
}

h3 {
	font-family: 'Bangers', cursive;
    	color: rgb(242, 111, 229);
    	color: red;
	font-weight:1000;
	text-shadow: 2px 2px #000000
}
h4 {
	font-family: 'Bangers', cursive;
	color: black;
	font-size: 30px;
	font-weight:1000;
}
h5{
	color: black;
	font-family: 'Bangers', cursive;
    	color: rgb(242, 111, 229);
    	color: red;
	font-weight:1000;
}


div
#box{
	font-family: "Poppins", sans-serif;
	margin-top: 2%;
	text-align: center;
	padding-left: 5%;
	padding-right:5%;
	padding-top: 30px;
	padding-bottom: 30px;
	border: 5px solid rgba(217, 217, 217, 0.1);
	border-radius: 10px;
	background: #D9D9D9;
	color: black;
	border-color: black;
    	background: rgba(217, 217, 217, 0.2);
	font-size: 17px;
}



.box{
	font-family: "Poppins", sans-serif;
	font-family: 'Comic Neue', cursive;
	font-weight: 700;
	margin-top: 2%;
	text-align: left;
	padding-left: 5%;
	padding-right:5%;
	padding-top: 30px;
	padding-bottom: 30px;
	border: 5px solid black;
	border-radius: 5px;
	background: #D9D9D9;
	color: black;
    	background: rgba(217, 217, 217, 0.7);
	font-size: 17px;
}


select {
    	background: rgba(217, 217, 217, 0.2);
	color: #000000;
}




.notimg{
	font-family: 'Bangers', cursive;
	float: right;
	color: black;
	font-size: 20px;
	margin-top: 20px;
	margin-right: 40px;
}

.clickme {
	font-size: 30px;
	font-family: 'Bangers', cursive;
    	background: rgba(242, 111, 229, 0.2);
	border-radius: 5px;
	border: 2px solid black;
	padding-top: 2px;
}

.clickme:hover {
    	background: rgba(217, 217, 217, 0.2);
	border-radius: 5px;
}
u {
	color: rgb(235,221,35);
}

.contacts {
	font-size: 25px;
	border-radius: 3px;
	border-color: black;
	border:2px 2px 6px 4px;
    	background: rgba(242, 111, 229, 0.2);
	text-align: center;
	color:black;
	margin-top: 2%;
	max-width:500px;
	width: 80%;
}
.btn{
    	background: rgba(242, 111, 229, 0.2);
}



#heading{
	margin-top: 100px;
	margin-left: 20px;
	width:80%;
	text-shadow: 4px 2px #000000
}

#subheading{
	margin-left: 20px;
	width:80%;
}

#main{
	margin-top: 5px;
}

a{
	color: black;
}
