body {
	background: url(/static/img/scitech/generic_background.png) no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-color: black;
}

div
#box{
	font-family: "poppins", sans-serif;
	margin-top: 2%;
	text-align: center;
	padding-left: 5%;
	padding-right:5%;
	padding-top: 30px;
	padding-bottom: 30px;
	border: 5px solid rgba(217, 217, 217, 0.1);
	border-radius: 10px;
	background: #D9D9D9;
	color: white;
    	background: rgba(217, 217, 217, 0.2);
	font-size: 17px;
}

.link {
	color: yellow;
}
select {
    	background: rgba(217, 217, 217, 0.2);
		color: #000000;
}

.submit {

	padding: 2% 5% 2% 5%;
	font-size: 25px;
	border-radius: 3px;
	border:2px;
    	background: rgba(217, 217, 217, 0.2);
}
.razorpay-payment-button {

	padding: 2% 5% 2% 5%;
	font-size: 25px;
	border-radius: 3px;
	border:2px;
    	background: rgba(217, 217, 217, 0.2);
}

@media not screen and (max-width:1300px) {
	.row{
		width: 50%;
		margin-left: 25%;
	}
}

.poc{
	color: #ffffff;
	background: #222222;
}

#navbar{
	width: 100%;
	float:left;
	background:transparent;
	position: absolute;
}

.notimg{
	font-family: 'Goldman', cursive;
	float: right;
	color: white;
	font-size: 20px;
	margin-top: 20px;
	margin-right: 40px;
}

.navbaritem{
	padding-left: 20px	;
}
