body {
    background: url(/static/img/scitech/straingebg8.gif) no-repeat center center fixed;
        -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-color: #000000;
    }
    
    #event_body{
        padding-top: 5%;
        background-color: rgba(217,217,217,0);
    }
    
    h1 {
        font-family: 'Abril Fatface', cursive;
        color: rgb(65,120,190);
        font-size: 70px;
    }
    h2 {
        font-family: 'Lato', cursive;
        font-size: 30px;
        margin-top: 5px;
        margin-bottom: 5px;
            color: rgb(256,256,256);
    }
    
    h3 {
        font-family: 'Lato', cursive;
            color: rgb(256,256,256);
    }
    h4 {
        font-family: 'Lato', cursive;
        color: rgb(256,256,256);
        font-size: 30px;
    }
    h5{
        color: black;
        font-family: 'Lato', cursive;
        color: rgb(256,256,256);
    }
    
    
    div
    #box{
        font-family: "Lato", sans-serif;
        margin-top: 2%;
        text-align: center;
        padding-left: 5%;
        padding-right:5%;
        padding-top: 30px;
        padding-bottom: 30px;
        border: 5px solid rgba(217, 217, 217, 0.1);
        border-radius: 10px;
        background: #D9D9D9;
        color: white;
        border-color: transparent;
            background: rgba(217, 217, 217, 0.2);
        font-size: 17px;
    }
    
    
    
    .box{
        font-family: "Lato", sans-serif;
        margin-top: 2%;
        text-align: left;
        padding-left: 5%;
        padding-right:5%;
        padding-top: 30px;
        padding-bottom: 30px;
        /* border: 1px solid rgba(217, 217, 217, 0.8);
        border-radius: 5px; */
        background: #D9D9D9;
        color: white;
            background: rgba(217, 217, 217, 0);
        font-size: 17px;
    }
    
    
    select {
            background: rgba(217, 217, 217, 0.2);
        color: #000000;
    }
    
    
    
    
    .notimg{
        font-family: 'Lato', sans-serif;
        float: right;
        color: white;
        font-size: 20px;
        margin-top: 20px;
        margin-right: 40px;
    }
    
    .clickme {
        font-size: 30px;
        font-family: 'Lato', sans-serif;
        color: white;
            background: rgba(72,72,72, 0.8);
        border-radius: 5px;
        border: 2px solid black;
        padding-top: 2px;
    }
    
    .clickme:hover {
            background: rgba(217, 217, 217, 0.2);
        border-radius: 5px;
    }
    u {
        color: rgb(235,221,35);
    }
    
    .contacts {
        font-size: 25px;
        border-radius: 3px;
        border:2px;
            background: rgba(72,72,72, 0.8);
        text-align: center;
        color:white;
        margin-top: 2%;
        max-width:500px;
        width: 80%;
    }
    .btn{
            background: rgba(242, 111, 229, 0.2);
    }
    
    
    
    #heading{
        margin-top: 100px;
        margin-left: 20px;
        width:80%;
    }
    
    #subheading{
        margin-left: 20px;
        width:80%;
    }
    
    #main{
        margin-top: 5px;
    }
    
    @media not screen and (max-width:1300px) {
    #main {
    width: 50%;
    }
    }

    a{
        color: white;
    }
    