body{
    background-image: url("/static/img/workshops/1.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    background-color: rgba(17 ,17 ,17 ,17 ,0.2 );
}

.career-image {
    padding-top: 20px;
    padding-bottom: 30px;
}

.career-card-custom-round {
    border-radius: 2%;
    overflow: hidden;
    background: rgba(217,217,217, 0);
}


a.eventcard {
    background: transparent;
    border: none;
}

a.eventcard:hover{
    border-radius: 2%;
    padding-top: 12px;
    padding-bottom: 12px;
}

body {
    font-family: "ITC Avant Garde Gothic Std Book",Verdana,sans-serif;
    color: white;
    background-color: #0b0b0b;
}

.larger-text{
    font-size: 20px;
}

#comingsoon{
    width: 80%;
    margin-left: 10px;
}
