body{
	background-color: black;
}

#navbar{
	width: 100%;
	float:left;background:transparent;
	position: fixed;
}

.notimg{
	font-family: 'Goldman', cursive;
	float: right;
	color: white;
	font-size: 20px;
	margin-top: 20px;
	margin-right: 40px;
}

.navbaritem{
	padding-left: 20px	;
}