body, html {
	background-color: black;
  height: 100%;
}

.indexitem1 {
  background-image: url("/static/img/Background.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.indexitem2 {
  background-image: url("/static/img/events.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.indexitem3::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.8);
}
.indexitem3 {
  background-image: url("/static/img/contact.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.row {
	align:center;
	height: 100%;
	max-width: 1200px;
}

.gridimg{
	height:120px;
}

@media not screen and (max-width:1300px) {
	.gridimg{
		height: 200px;
	}

	.eventitems{
		margin-top: 35px;
		margin-bottom: 20px;
	}
}

@media screen and (max-width:1300px) {
	#queries{
		font-size: 30px;
	}

	#mailus{
		display: none;
	}

	#sponsorslubb{
		font-size: 30px;
	}

}

a
.row{
	color:white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  width: 70%;
}
.centered2 {
  position: absolute;
  top: 30%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
}

.footerleft{
	float:left;
	align: left;
	color:white;
	padding-left:20px;
	padding-bottom:10px;
	padding-top:10px;
}


.submit {
	padding: 2% 2% 2% 2%;
	border: 2% 2% 2% 2%;
	border-color: rgba(255,255,255,1);
	margin-top: 5px;
	margin-bottom: 10px;
	margin-left: 40%;
	font-size: 25px;
	border-radius: 3px;
	border:2px;
    	background: rgba(217, 217, 217, 0.2);
	text-align: center;
	color:white;

}
.contacts {
	padding: 2% 2% 2% 2%;
	font-size: 25px;
	border-radius: 3px;
	border:2px;
    	background: rgba(217, 217, 217, 0.2);
	text-align: center;
	color:white;
	margin-top: 2%;
}

.events{
	padding: 2% 2% 2% 2%;
	font-size: 25px;
	border-radius: 3px;
	border:2px;
    	background: transparent;
	text-align: center;
	color:white;
	margin-top: 2%;
	font-family: 'Montserrat', sans-serif;
}

.events:hover{
	background: rgba(217, 217, 217, 0.2);
	color: yellow;
}



.btn{
    	background: rgba(217, 217, 217, 0.2);
}

.footerbutton{
	size: 50px 50px;
}

#footer a{
	font-size: 50px;
}
#footer h6{
	font-size: 20px;
}
.s6 h4{
	font-size: 25px;
}
.s6 h5{
	font-size: 15px;
}

.s6{
	height: 250px;
}

.box{
	font-family: "Montserra", sans-serif;
	margin-top: 2%;
	text-align: center;
	padding-left: 5%;
	padding-right:5%;
	padding-top: 20px;
	padding-bottom: 20px;
	border: 1px solid rgba(217, 217, 217, 0.1);
	border-radius: 5px;
	background: #D9D9D9;
	color: white;
    	background: rgba(217, 217, 217, 0.2);
	font-size: 17px;
}

.outer{
	display: table;
	position: absolute;
	top: 0%;
	left: 0%;
	height: 100%;
	width: 100%;

}

.middle{
		/* display: table-cell;
		vertical-align: center; */
	display: flex;
	align-items:center;	
	justify-content: center;
	padding-top: 7%;
}

/* #eventspage{

} */