<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/static/css/adminstyle.css">
  <title>
    Pravega Admin Portal
  </title>
</head>
<body>
	<h1>Welcome, Coordinator.</h1>
        <a href="/chem/chem">Download me</a>
        <form method="post" action="/aaah">
                <input required type="text" name="eventname"></input>
                <input type="submit"></input>
        </form>
  <div id="table">

    <table>
        <tr>
            {% for header in headings %}
            <th> {{ header }} </th>
            {% endfor %}
        </tr>
        {% for row in data %}
        <tr>
            {% for cell in row %}
            <td> {{cell}} </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
  </div>
</body>
</html>
