<!DOCTYPE html>
<html lang="en" ng-app="pravegaApp">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CA | Homepage</title>

  <!-- Libraries -->

  <!-- angularjs -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
  <script src="/front_end/js/basic.js"></script>
  <script src="/front_end/js/qrcode.js"></script>

  <!--css files-->
  <link rel="stylesheet" href="/front_end/css/style.css">

</head>

<body ng-controller="userhome_controller">
<h1>CA Home</h1>
<hr>
<h2>Details</h2>
<br>
<h3>{{name}}</h3>
<h3>{{email}}</h3>
<h3>{{edu}}</h3>
<h3>{{phone}}</h3>
  <h3>
    {{availcredits}}
  </h3>
<h3 type="password">
  <input type="password" ng-model="trId" onclick="var field = this;field.type='text';window.setTimeout(function(){field.type='password'},1000)" readonly>
</h3>
<label>Upon successful transcation, this ID will change, reload page for the new transcation id</label>
<hr>
<div id="qrcode"></div>
<a href="{{vendorlink}}">Link here</a>
</body>

</html>