<!DOCTYPE html>
<html lang="en" ng-app="pravegaApp">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>

  <!-- Libraries -->

  <!-- angularjs -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
  <script src="/front_end/js/basic.js"></script>

  <!--css files-->
  <link rel="stylesheet" href="/front_end/css/style.css">

</head>

<body ng-controller="login_controller">

  <form ng-submit="validate(ca)">
    <h1>Login - Campus Ambassador</h1>
    <input type="email" required ng-model="username" placeholder="Username">
    <br>
    <br>
    <input type="password" required ng-model="pword" placeholder="Password">
    <br>
    <br>
    <button>LOGIN</button>
  </form>

</body>

</html>