<!DOCTYPE html>
<html lang="en" ng-app="pravegaApp">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>

  <!-- Libraries -->

  <!-- angularjs -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
  <script src="/front_end/js/basic.js"></script>

  <!--css files-->
  <link rel="stylesheet" href="/front_end/css/style.css">

  <!-- Materialize -->
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

</head>

<body ng-controller="signup_controller" class="container">

  <form ng-submit="validate()">
    <div class="row">
      <h1 class="col s12">Register a CA</h1>
      <div class="input-field col s6">
        <input type="text" placeholder="Name" id="first_name" ng-model="name" required class="validate">
        <label for="first_name">Name</label>
      </div>

      <div class="input-field col s6">
        <input type="text" placeholder="Email" id="email" ng-model="email" required class="validate">
        <label for="email">Email</label>
      </div>
      <div class="input-field col s6">
        <input type="text" placeholder="Password" id="password" ng-model="pword" required class="validate">
        <label for="password">Password</label>
      </div>
      <div class="input-field col s6">
        <input type="text" placeholder="College" id="college" ng-model="edu" required class="validate">
        <label for="college">College</label>
      </div>
      <div class="input-field col s6">
        <input type="number" placeholder="Phone Number" id="phone" ng-model="phone" required class="validate">
        <label for="phone">Phone Number</label>
      </div>

      <button class="waves-effect waves-light btn col s12">Submit</button>
    </div>

  </form>

  <blockquote>
    {{response}}
  </blockquote>

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>