<!DOCTYPE html>
<html lang="en" ng-app="pravegaApp">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-173559842-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-173559842-1');
  </script>


  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>

  <!-- Libraries -->

  <!-- angularjs -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
  <script src="/front_end/js/basic.js"></script>

  <!--css files-->
  <link rel="stylesheet" href="front_end/css/style.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


</head>

<body ng-controller="login_controller">

  <style>
    button#toggle-password {
      background: none;
      border: none;
      cursor: pointer;
      /* Media query isn't shown here. */
      font-size: var(--mobile-font-size);
      font-weight: 300;
      padding: 0;
      /* Display at the top right of the container */
      position: absolute;
      top: 0;
      right: 0;
    }
  </style>

  <div class="container">
    <div class="section">
      <h2>Sign in</h2>
    </div>
    <div class="divider"></div>
    <div class="section">
      <form ng-submit="validate('user')" class="row" autocomplete="something-new">


        <div class="input-field col s12">
          <br>
          <input id="username" type="email" class="validate" required ng-model="username" autocomplete="something-new">
          <label for="username">Username (email)</label>
        </div>

        <div class="input-field col s12">
          <br>
          <button id="toggle-password" type="button"
            aria-label="Show password as plain text. Warning: this will display your password on the screen.">Show
            password</button>
          <input id="password" type="password" class="validate" required autocomplete="current-password" autofocus
            ng-model="pword">

          <label for="password">Password</label>
        </div>

        <section class="col s8">
          <p class="red-text"><b>{{errorCode}}</b></p>
          <label for="" ng-show="errorLevel">Can't sing in even though you have the right credentials ? Try refreshing
            the page to clear cache. If we detect it, we'll refresh it for you when you click sign in. </label>
        </section>
        <section class="col s4 right-align">
          <p>
            <button class="btn waves-effect waves-light pink btn-flat white-text" type="submit" name="action">Sign
              In</button>
          </p>
        </section>
        <section class="col s12">
          <p>

          </p>
        </section>
      </form>

    </div>
  </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
    const passwordInput = document.getElementById('password');
    const togglePasswordButton = document.getElementById('toggle-password');

    togglePasswordButton.addEventListener('click', togglePassword);

    function togglePassword() {
      if (passwordInput.type === 'password') {
        passwordInput.type = 'text';
        togglePasswordButton.textContent = 'Hide password';
        togglePasswordButton.setAttribute('aria-label',
          'Hide password.');
      } else {
        passwordInput.type = 'password';
        togglePasswordButton.textContent = 'Show password';
        togglePasswordButton.setAttribute('aria-label',
          'Show password as plain text. ' +
          'Warning: this will display your password on the screen.');
      }
    }
  </script>
</body>

</html>


<!-- <h1>Login </h1>
<form ng-submit="validate('user')">
  

  <section style="margin: 10px; padding: 15px;">
    <label for="email">Email</label><br>
    <input type="email" id="email" required ng-model="username" placeholder="Username(email)">
  </section>
  
  <section style="margin: 10px; padding: 15px;">
    <label for="password">Password</label><br>
    <input type="password" id="password" required ng-model="pword" placeholder="Password">
  </section>
  
  <button>LOGIN</button>
</form> -->