<!DOCTYPE html>
<html lang="en" ng-app="pravegaApp">

<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-173559842-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-173559842-1');
    </script>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Razorpay Trial</title>

    <!-- Libraries -->

    <!-- angularjs -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="/front_end/js/basic.js"></script>

    <!--css files-->
    <link rel="stylesheet" href="/front_end/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- RPAY Script -->
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

</head>

<body ng-controller="rpay_controller">

    <div class="container flow-text">

        <div class="section">
            <h1>Razorpay Trial</h1>
        </div>

        <div class="divider"></div>

        <div class="section">
            {{p}}
        </div>

        <div class="divider"></div>

        <div class="section row">
            <div class="payed_form card-panel col l5 s12 row">
                <form ng-submit='pay();'>
                    <div class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">person</i>
                                <input type="text" id="autocomplete-input" class="autocomplete" ng-model='name' required>
                                <label for="autocomplete-input">Name</label>
                            </div>
                            <div class="input-field col s12">
                                <i class="material-icons prefix">mail</i>
                                <input id="email" type="email" class="validate" ng-model='email' required>
                                <label for="email">Email</label>
                            </div>
                            <div class="input-field col s12">
                                <svg style="width:24px;height:24px" viewBox="0 0 24 24" class="prefix">
                                    <path fill="currentColor"
                                        d="M8,3H18L17,5H13.74C14.22,5.58 14.58,6.26 14.79,7H18L17,9H15C14.75,11.57 12.74,13.63 10.2,13.96V14H9.5L15.5,21H13L7,14V12H9.5V12C11.26,12 12.72,10.7 12.96,9H7L8,7H12.66C12.1,5.82 10.9,5 9.5,5H7L8,3Z" />
                                </svg>
                                <input disabled ng-model="amt" id="disabled" type="text" class="validate">
                                <label for="disabled">Fee</label>
                            </div>

                            <button class='btn-large indigo input-field col s12'>Pay Securely</button>

                        </div>
                    </div>
                </form>

            </div>

        </div>

    </div>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.tooltipped');
            var instances = M.Tooltip.init(elems, {});
        });
    </script>
</body>

</html>
