<!DOCTYPE html>
<html lang="en" ng-app="pravegaApp">

<head>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-173559842-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-173559842-1');
  </script>


  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Homepage</title>

  <!-- Libraries -->

  <!-- angularjs -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
  <script src="/front_end/js/basic.js"></script>
  <script src="/front_end/js/qrcode.js"></script>

  <!--css files-->
  <link rel="stylesheet" href="front_end/css/style.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


</head>

<body ng-controller="userhome_controller">

  <div class="container flow-text">

    <div class="section row">
      <h1>Dashboard</h1>
    </div>

    <div class="divider"></div>

    <div class="section row">
      <h3 class="col s12">Personal Details <br><br> </h3>

      <div class="input-field col s12 m6 l4">
        <input placeholder="Placeholder" id="first_name" type="text" class="validate" ng-model="name" disabled>
        <label for="first_name">Name</label>
      </div>

      <div class="input-field col s12 m6 l4">
        <input type="text" placeholder="Email" id="email" ng-model="email" required class="validate" disabled>
        <label for="email">Email</label>
      </div>
      <div class="input-field col s12 m6 l4">
        <input class="tooltipped" data-position="bottom" data-tooltip="Click to view" type="password" 
          placeholder="Password" id="password" ng-model="pword" required class="validate"
          ng-change="update = (pword !=old_pword)"
          onclick="var field = this;field.type='text';window.setTimeout(function(){field.type='password'},1000)"
          autocomplete="new-password" autofocus>
        <label for="password">Password</label>
      </div>
      <div class="input-field col s12 m6 l6">
        <input type="text" placeholder="College" id="college" ng-model="edu" required class="validate" disabled>
        <label for="college">College</label>
      </div>
      <div class="input-field col s12 m6 l6">
        <input type="number" placeholder="Phone Number" id="phone" ng-model="phone" required class="validate" disabled>
        <label for="phone">Phone Number</label>
      </div>
      <div class="col s12" style="background-color:gold; border-radius: 10px;" ng-show="ca.is">
        <p>
          Active <i style="color: red; text-shadow: rgba(245,245,245,0.5) 10px;">Campus Ambassador &copy;</i> account
        </p>
      </div>
      <label class="col s12" ng-show="ca.is">Details Below</label>
      <div class="col s12"><br></div>
      <a href="" class="btn waves-effect waves-light col s12" ng-show="update" ng-click="pUpdate()">Update Changes</a>
    </div>
    <br>
    <div class="divider"> </div>

    <div class="row">
      <h3 class="col s12">Credit Transaction</h3>
      <div class="col s12">
        <p>Pravega's unique point system allows you to spend your credits to vendors on campus like merch.</p>
        <h4>To transact</h4>
        <ol>
          <li>Ask vendor to scan the <a href="#qr_head"> QR code</a> given below. &nbsp; </li>
          <li>Tell the vendor the OTP in the box below (tap to uncover).</li>
          <li>Verify with the vendor for correct value.</li>
        </ol>
        And you're DONE ! It's that simple.
      </div>
    </div>
    <div class="card-panel col s12 row">
      <p class="col s8">Available Credits</p>
      <p class="col s4 right-align">{{availcredits}}</p>
      <div class="col s12 row" ng-show="ca.is">
        <label class="col s4">Purchased</label>
        <label class="col s4">:</label>
        <label class="col s4 right-align">{{availcredits - ca.credit}}</label>
        <label class="col s4">Referred</label>
        <label class="col s4">:</label>
        <label class="col s4 right-align">{{ca.credit}}</label>
      </div>
    </div>
    <div class="card-panel col s12 row">
      <p class="col s8">Transaction OTP</p>
      <p class="col s4">
        <input type="password" ng-model="trId"
          onclick="var field = this;field.type='text';window.setTimeout(function(){field.type='password'},1000)"
          readonly class="right-align">
      </p>
      <label>Upon successful transcation, this password will change, reload page for the new transcation id</label>

    </div>
    <div class="card-panel col s12 center">
      <p id="qr_head" class="">Your Pravega ID</p>
      <div class=""></div>
      <div id="qrcode" class="card-image"></div>
    </div>

    <br>
    <!-- <a href="{{vendorlink}}" ng-hide="true">Link here</a> -->
    <div class="divider"></div>

    <div class="section row" ng-show="ca.is">
      <h3 class="col s12">Campus Ambassador</h3>

      <p class="col s5">Account Status</p>
      <p class="col s1">:</p>
      <p class="col s5 right-align">Active</p>
      <p class="col s1"><i class="material-icons">check_circle</i></p>
      <div class="col s12"></div>

      <p class="col s5 left-align">Referral Code</p>
      <p class="col s1">:</p>
      <p ng-click="share_ca_code()" class="col s5 right-align"><a href="">{{refId}}</a></p>
      <p class="col s1" ng-click="share_ca_code()"><i class="material-icons">share</i></p>
      <label class="col s12" for="">You get extra credits when people refer you on Pravega purchases. Click on the code
        to share it!</label>

      <p class="col s5 left-align">Referral Points</p>
      <p class="col s1">:</p>
      <p class="col s5 right-align">{{ca.credit}}</p>
      <p class="col s1"><img class="responive-img" src="https://img.icons8.com/ios/32/000000/circled-p.png" /></p>

      <p class="col s12">Latest Referrals</p>
      <label class="col s12" for="">Showing latest 3. For full list contact Pravega</label>
      <p class='col s12'>Seem to be missing a few credits? Not to worry. Those were invalid ones from a NOT FOR SALE event.</p>
      <div class="col s12"><br></div>
      <table class="col s12">
        <tbody>
          <tr ng-repeat="ref in refs | orderBy: '-timeStamp' |limitTo : 3 ">
            <td class="center">{{ref.name}}</td>
            <td class="center">{{ref.event}}</td>
            <td class="center">{{ref.credit}}<img class="responive-img"
                src="https://img.icons8.com/ios/24/000000/circled-p.png" /></td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>

  <style>
    img {
      margin: auto;
    }
  </style>

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('.tooltipped');
      var instances = M.Tooltip.init(elems, {});
    });
  </script>
</body>

</html>